---
title: Security-related Tanzu Operations Manager tiles and add-ons
owner: Security
---

This topic provides links to other security-related services available for
your <%= vars.ops_manager_first %> deployments. For information about other security-related tiles
provided by <%= vars.company_name %> partners, see [<%= vars.product_network %>](https://tanzu.vmware.com/products) and the [<%= vars.company_name %> documentation](https://docs.vmware.com/).

## <a id='tiles'></a> Tiles

This section provides links to security related tiles available for <%= vars.ops_manager %> deployments.

* [Single Sign-On (SSO) for VMware Tanzu](https://docs.vmware.com/en/Single-Sign-On-for-VMware-Tanzu-Application-Service/1.14/sso/GUID-index.html): Provides support for native authentication, federated single sign-on, and authorization.

* [CredHub Service Broker](https://docs.vmware.com/en/CredHub-Service-Broker/services/credhub/GUID-index.html): Allows apps running on <%= vars.app_runtime_first %> to access secure credentials in CredHub.

* [Compliance Scanner](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.2/addon-compliance-tools/GUID-index.html): Enables operators and auditors to conduct compliance scanning of BOSH-managed Xenial VMs against configuration hardening guidelines.

## <a id='add-ons'></a> Add-ons

This section provides links to security-related BOSH add-ons available for <%= vars.ops_manager %> deployments.

* [File Integrity Monitoring](https://docs.vmware.com/en/File-Integrity-Monitoring-for-VMware-Tanzu/2.1/fim/GUID-index.html): Provides File Integrity Monitoring (FIM) protection within the <%= vars.ops_manager %> environment. This monitoring is sometimes required for compliance purposes.

* [IPsec](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/1.9/documentation/GUID-index.html): Adds security to the network layer for each BOSH-deployed virtual machine (VM), increasing internal protection if a malicious actor breaches your firewall.
  * [Securing Data in Transit with IPsec](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/security.html).
  * [Rotating IPsec Credentials](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/1.9/documentation/GUID-credentials.html).
  * [Installing IPsec](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/1.9/documentation/GUID-installing.html).

* [Anti-Virus](https://docs.vmware.com/en/Anti-Virus-for-VMware-Tanzu/index.html): Provides antivirus protection within the <%= vars.ops_manager %> environment. This protection is sometimes required for compliance purposes.
