---
title: Security-related Ops Manager tiles and add-ons
owner: Security
---

This topic provides links to other security-related services available for your <%= vars.ops_manager_first %> deployments. For information about other security-related tiles provided by <%= vars.company_name %> partners, see [<%= vars.product_network %>](https://network.pivotal.io/) and the [<%= vars.company_name %> documentation](https://docs.pivotal.io).

## <a id='tiles'></a> Tiles

This section provides links to security-related tiles available for <%= vars.ops_manager %> deployments.

* [Single Sign-On (SSO) for VMware Tanzu](https://docs.pivotal.io/p-identity/index.html): Provides support for native authentication, federated single sign-on, and authorization.

* [CredHub Service Broker](https://docs.pivotal.io/credhub-service-broker/index.html): Allows apps running on <%= vars.app_runtime_first %> to access secure credentials in CredHub.

* [Compliance Scanner](https://docs.pivotal.io/addon-compliance-tools/index.html): Enables operators and auditors to conduct compliance scanning of BOSH-managed Xenial VMs against configuration hardening guidelines.

## <a id='add-ons'></a> Add-ons

This section provides links to security-related BOSH add-ons available for <%= vars.ops_manager %> deployments.

* [File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html): Provides File Integrity Monitoring (FIM) protection within the <%= vars.ops_manager %> environment. This monitoring is sometimes required for compliance purposes.

* [IPsec](https://docs.pivotal.io/addon-ipsec/index.html): Adds security to the network layer for each BOSH-deployed virtual machine (VM), increasing internal protection if a malicious actor breaches your firewall.
  * [Securing Data in Transit with IPsec](http://docs.pivotal.io/addon-ipsec/)
  * [Rotating IPsec Credentials](http://docs.pivotal.io/addon-ipsec/credentials.html)
  * [Installing IPsec](http://docs.pivotal.io/addon-ipsec/installing.html)

* [Anti-Virus](https://docs.pivotal.io/addon-antivirus/index.html): Provides antivirus protection within the <%= vars.ops_manager %> environment. This protection is sometimes required for compliance purposes.
