---
title: Configuring BOSH Director on Azure
owner: Ops Manager
iaas: Azure
install_type: manual
---

After you deploy <%= vars.ops_manager_first %> on Azure, follow the steps in this topic to configure the
BOSH Director tile within <%= vars.ops_manager %> on Azure.

## <a id='prerequisites'></a> Prerequisites

See the following sections to prepare for your configuration of BOSH Director on Azure.

### <a id='general-prereqs'></a> General prerequisites

Before you complete the procedures in this topic, you must have completed the procedures in the
following topics:

* [Preparing to deploy <%= vars.ops_manager %> on Azure](prepare-env-manual.html)
* [Deploying <%= vars.ops_manager %> on Azure](deploy-manual.html)

<p> You can also complete the procedures in this topic using the <%= vars.ops_manager %> API. For more information, see <a href="../install/ops-man-api.html">Using the <%= vars.ops_manager %> API</a>.</p>

### <a id='stack-gov-prereqs'></a> Prerequisites for Azure Government Cloud

If you use Azure Government Cloud, you must set custom VM types for a successful deployment. You can set
custom VM types with the <%= vars.ops_manager %> API. For more information, see [Using the <%= vars.ops_manager %> API](../install/ops-man-api.html).

Example `curl` command to set a VM types:

<pre class="terminal">
$ curl -k https://YOUR-OPS-MAN-FQDN/api/v0/vm_types -X
PUT -H "Authorization: bearer UAA-ACCESS-TOKEN"
"Content-Type: application/json" -d '{"vm_types":[
{"name": "Standard_D1_v2", "ram": 3584, "cpu": 1, "ephemeral_disk": 51200 },
{"name": "Standard_D2_v2", "ram": 7168, "cpu": 2, "ephemeral_disk": 102400 },
{"name": "Standard_D3_v2", "ram": 14336, "cpu": 4, "ephemeral_disk": 204800 },
{"name": "Standard_D4_v2", "ram": 28672, "cpu": 8, "ephemeral_disk": 409600 },
{"name": "Standard_D5_v2", "ram": 57344, "cpu": 8, "ephemeral_disk": 819200 },
{"name": "Standard_D11_v2", "ram": 14336, "cpu": 2, "ephemeral_disk": 102400 },
{"name": "Standard_D12_v2", "ram": 28672, "cpu": 4, "ephemeral_disk": 204800 },
{"name": "Standard_D13_v2", "ram": 57344, "cpu": 8, "ephemeral_disk": 409600 },
{"name": "Standard_D14_v2", "ram": 114688, "cpu": 16, "ephemeral_disk": 819200 },
{"name": "Standard_F1", "ram": 2048, "cpu": 1, "ephemeral_disk": 16384 },
{"name": "Standard_F2", "ram": 4096, "cpu": 2, "ephemeral_disk": 32768 },
{"name": "Standard_F4", "ram": 8192, "cpu": 4, "ephemeral_disk": 65536 },
{"name": "Standard_F8", "ram": 16384, "cpu": 8,  "ephemeral_disk": 131072}]}'
</pre>

To verify that you have successfully set your custom VM types, use the `GET /api/v0/vm_types` Ops
Manager API endpoint.

#### <a id='azure-vm-types'></a> Azure Generation 2 VM types

Azure Government Cloud uses Azure Generation 2 VM types by default. If necessary, you can reconfigure the VMs in your
deployment to use Azure Generation 1 VM types.

The following table shows the mapping between Generation 1 and Generation 2 Azure VM types:

| Generation 1 VM Type | Generation 2 VM Type |
| --- | --- |
| Standard_DS1_v2 |	Standard_B2s |
| Standard_DS2_v2 |	Standard_D2s_v3 |
| Standard_DS3_v2 |	Standard_D4s_v3 |
| Standard_DS4_v2 |	Standard_D8s_v3 |
| Standard_DS5_v2 |	Standard_D16s_v3 |
| |	Standard_D32s_v3 |
| |	Standard_D48s_v3 |
| |	Standard_D64s_v3 |
| Standard_DS11_v2 | Standard_E2s_v3 |
| Standard_DS12_v2 | Standard_E4s_v3 |
| Standard_DS13_v2 | Standard_E8s_v3 |
| Standard_DS14_v2 | Standard_E16s_v3 |
| |	Standard_E20s_v3 |
| |	Standard_E32s_v3 |
| |	Standard_E48s_v3 |
| |	Standard_E64s_v3 |
| Standard_F1s | Standard_B1ms |
| Standard_F2s | Standard_F2s_v2 |
| Standard_F4s | Standard_F4s_v2 |
| Standard_F8s | Standard_F8s_v2 |
| |	Standard_F16s_v2 |
| |	Standard_F32s_v2 |
| |	Standard_F48s_v2 |
| |	Standard_F64s_v2 |

## <a id='access-om'></a> Step 1: Log into <%= vars.ops_manager %>

1. In a web browser, navigate to the fully qualified domain name (FQDN) of <%= vars.ops_manager %> that you created in [Deploying <%= vars.ops_manager %> on Azure](deploy-manual.html).

1. Log in to <%= vars.ops_manager %>. To log in, see [Log In to <%= vars.ops_manager %> for the first time](../login.html#login-first-time).

## <a id='azure-config'></a> Step 2: Azure Config page

1. Click the **BOSH Director** tile.

1. Click **Azure Config**.

    ![alt-text=""](../common/images/azure/azure-config.png)

2. Complete the following fields with information you obtained in [Preparing to Deploy <%= vars.ops_manager %> on Azure](prepare-env-manual.html).
	* **Subscription ID**: Enter the ID of your Azure subscription.
	* **Tenant ID**: Enter your `TENANT_ID`.
	* **Application ID**: Enter the `APPLICATION_ID` that you created in the [Create an AAD Application](prepare-env-manual.html#create-aad) step of _Preparing to Deploy <%= vars.ops_manager %> on Azure_.
	* **Client Secret**: Enter your `CLIENT_SECRET`.

3. Complete the following fields:
	* **Resource Group Name**: Enter the name of your resource group, which you exported as the `$RESOURCE_GROUP` environment variable.
	* **BOSH Storage Account Name**: Enter the name of your storage account, which you exported as the `$STORAGE_NAME` environment variable.

4. From the **Storage Tier ephemeral / persistent disks** drop-down menu, click the storage option that corresponds with your Azure subscription:
	* For HDD-based storage, click **Standard_LRS**.
	* For SSD-based storage, click **Premium_LRS**.

5. If you want to all BOSH-created disks to use the same storage tier for the root and OS disks, activate the **Use same Storage Tier for root / OS disk** check box. This overrides the default behavior,
which is to use a storage tier based on the instance size. For more information, see the [Azure documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes).

    ![alt-text=""](../common/images/azure/azure-storage-tier.png)

1. For **Cloud Storage Type**, click one of the following options based on your Azure VM storage settings.

    * **Use Managed Disks**: Click this option if you use Azure Managed Disks. For more information, see [Azure managed disks overview](https://docs.microsoft.com/en-us/azure/storage/storage-managed-disks-overview) in the Microsoft documentation for more information.

        ![alt-text=""](../common/images/azure/azure-managed-disk.png)

    * **Use Storage Accounts**: Click this option if you use storage accounts to store your Azure VMs. Enter the base storage name that you used to create your deployment
    storage accounts, prepended and appended with the wildcard character `*`. For example, if you created accounts named  `xyzdeploymentstorage1`, `xyzdeploymentstorage2`, and `xyzdeploymentstorage3`, enter `*deploymentstorage*`. <%= vars.ops_manager %> requires that you specify an asterisk at both the beginning and the end of the base storage account name.

        ![alt-text=""](../common/images/azure/storage-accounts.png)

        <p class="note caution">
        <span class="note__title">Caution</span>
        You can update your deployment from using
    storage accounts to using managed disks. However, after you click <strong>Use Managed Disks</strong> and
    deploy <%= vars.ops_manager %>, you cannot change your deployment back to use storage accounts.</p>

1. (Optional) Enter your **Default Security Group**. For more information about Network Security Groups, see [Filter network traffic with network security groups](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-nsg) in Microsoft Azure's documentation.
    <p> The Azure portal sometimes displays the names of resources with incorrect capitalization. Always use the Azure CLI to retrieve the correctly capitalized name of a resource.</p>

2.  For **SSH Public Key**, copy and paste the contents of your public key in the `opsman.pub` file. You created this file in [Deploying <%= vars.ops_manager %> on Azure](deploy-manual.html).

3.  For **SSH Private Key**, copy and paste the contents of your private key in the `opsman` file.

4.  For **VM Type Catalog**, click the VM Catalog that you want to use for your BOSH Managed VMs.

5.  For **Availability Mode**, choose whether to use **Availability Sets** or **Availability Zones**. You can further configure this option in the **Assign AZs and Networks** pane. For more information, see [Assign AZs and Networks](#assign-networks).
   * **For new installations of <%= vars.ops_manager %>**: **Availability Zones** are selected by default, but you can choose **Availability Sets**.
   * **If you are upgrading from v2.4**: You must use **Availability Sets**.
    <p> You can only choose between Availability Zones and Availability Sets in a staged BOSH Director tile
    that has not yet deployed. After you click <strong>Apply Changes</strong> and the BOSH Director deploys successfully, you cannot switch between Availability Zones and Availability Sets.</p>

<%= partial "../common/azure-environment" %>

    <p> To deploy <%= vars.ops_manager %> on Azure using Active Directory Federation Services (ADFS) see <a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/release-notes.html">IaaS-Specific Global CPI Properties Are Configurable From the API</a>.</p>

13. (Optional) If you clicked `Azure Stack` for your **Azure Environment**, complete the following Azure Stack-only fields:
  14. For **Domain**, enter the domain for your Azure Stack deployment. For example, `local.azurestack.external`.
  15. Enter the **Tenant Management Resource Endpoint** from your AzureRM Environment Context. This URL changes with every ASDK installation.
  16. Enter `AzureAD` for **Authentication**. If you want to use Azure China Cloud Active Directory for your authentication type, enter `AzureChinaCloudAD`.
  17. Enter your **Azure Stack Endpoint Prefix**. For example `management`.
  18. Enter your **Azure Stack CA Certificate**. Azure Stack requires a custom CA certificate. Copy the certificate from your Azure Stack environment.

14. Click **Save**.


## <a id='director-config'></a> Step 3: Director Config page

<%= partial "../common/director-config" %>

## <a id='network'></a> Step 4: Create Networks page

Create the following three networks:

* [Infrastructure Network](#infrastructure-network)
* [Runtime Network](#runtime-network)
* [Services Network](#services-network)

<p> The Azure portal sometimes displays the names of resources with incorrect capitalization. Always use the Azure CLI to retrieve the correctly capitalized name of a resource.</p>

### <a id='infrastructure-network'></a> Infrastructure network

To create the infrastructure network:

1. Click **Create Networks**.

1. (Optional) Click **Enable ICMP checks** if you want to enable ICMP on your networks. <%= vars.ops_manager %> uses ICMP checks to confirm that components within your network are reachable.

1. Click **Add Network**. For name, enter `infrastructure`.

1. Under **Subnets**, create a subnet using the information in the following table:

    <table>
      <tr>
        <th>Name</th>
        <td><code>infrastructure</code></td>
      </tr>
      <tr>
        <th>Azure Network Name</th>
        <td>Enter <code>pcf-virtual-network/pcf-infrastructure-subnet</code>. You can use either
        the <code>NETWORK-NAME/SUBNET-NAME</code> format or the
        <code>RESOURCE-GROUP/NETWORK-NAME/SUBNET-NAME</code> format. If you specify a resource
        group, it must exist under the same subscription ID that you provided in the
        <a href="#azure-config">Azure Config Page</a>.</td>
      </tr>
      <tr>
        <th>CIDR</th>
        <td>Enter <code>10.0.4.0/26</code>.</td>
      </tr>
      <tr>
        <th>Reserved IP Ranges</th>
        <td>Enter the first nine IP addresses of the subnet. For example,
          <code>10.0.4.1-10.0.4.9</code>.</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>Enter <code>168.63.129.16</code>.</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>Enter the first IP address of the subnet. For example, <code>10.0.4.1</code>.</td>
      </tr>
    </table>

    ![alt-text=""](../common/images/azure/create-networks-management.png)

2. Click **Save**.<%= vars.expand_network_azs %>

### <a id='runtime-network'></a> Runtime network

To create the runtime network:

1. Click **Add Network**. For **Name**, enter the name of the runtime that you intend to deploy in this environment. For example, `pas` or `pks`.

1. Under **Subnets**, create a subnet using the information in the following table:

    <table>
      <tr>
        <th>Name</th>
        <td><code>pas</code> or <code>pks</code></td>
      </tr>
      <tr>
        <th>Azure Network Name</th>
        <td>Enter <code>pcf-virtual-network/pcf-pas-subnet</code> or
        <code>pcf-virtual-network/pcf-pks-subnet</code>, depending on your runtime. You can use
        either the <code>NETWORK-NAME/SUBNET-NAME</code> format or the
        <code>RESOURCE-GROUP/NETWORK-NAME/SUBNET-NAME</code> format. If you specify a resource
        group, it must exist under the same subscription ID that you provided in the
        <a href="#azure-config">Azure Config Page</a>.</td>
      </tr>
      <tr>
        <th>CIDR</th>
        <td>Enter <code>10.0.12.0/22</code>.</td>
      </tr>
      <tr>
        <th>Reserved IP Ranges</th>
        <td>Enter the first nine IP addresses of the subnet. For example,
          <code>10.0.12.1-10.0.12.9</code>.</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>Enter <code>168.63.129.16</code>.</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>Enter the first IP address of the subnet. For example, <code>10.0.12.1</code>.</td>
      </tr>
    </table>

    ![alt-text=""](../common/images/azure/create-networks-deployment.png)

2. Click **Save**.

### <a id='services-network'></a> Services network

To create the services network:

1. Click **Add Network** and in the **Name** text box, enter `services`.

1. In **Subnets**, create a subnet using the information in the following table:

    <table>
      <tr>
        <th>Name</th>
        <td><code>services</code></td>
      </tr>
      <tr>
        <th>Azure Network Name</th>
        <td>Enter <code>pcf-virtual-network/pcf-services-subnet</code>. You can use
        either the <code>NETWORK-NAME/SUBNET-NAME</code> format or the
        <code>RESOURCE-GROUP/NETWORK-NAME/SUBNET-NAME</code> format. If you specify a resource
        group, it must exist under the same subscription ID that you provided in the
        <a href="#azure-config">Azure Config Page</a>.</td>
      </tr>
      <tr>
        <th>CIDR</th>
        <td>Enter <code>10.0.8.0/22</code>.</td>
      </tr>
      <tr>
        <th>Reserved IP Ranges</th>
        <td>Enter the first nine IP addresses of the subnet. For example,
          <code>10.0.8.1-10.0.8.9</code>.</td>
      </tr>
      <tr>
        <th>DNS</th>
        <td>Enter <code>168.63.129.16</code>.</td>
      </tr>
      <tr>
        <th>Gateway</th>
        <td>Enter the first IP address of the subnet. For example, <code>10.0.8.1</code>.</td>
      </tr>
    </table>

    ![alt-text=""](../common/images/azure/create-networks-services.png)

2. Click **Save**.

3. You might see red warnings.
   Ignore them only if **Enable ICMP checks** is not selected.


## <a id='assign-networks'></a> Step 5: Assign AZs and Networks

<ol>
<li>Click <strong>Assign AZs and Networks</strong>.<br/>
  <p> The appearance of this page changes based on whether you are using Availability Zones or Availability Sets. For more information, see <a href="#azure-config">Azure Config Page</a>.</p>
    <ul>
    <li>If you use Availability Zones, click one of the three available zones from the <strong>Singleton Availability Zone</strong> drop-down menu, then click a network from the <strong>Networks</strong> drop-down menu. The networks that appear in this list are networks that you created earlier in this procedure.
    </li>
    <li>If you use Availability Sets, click a network from the <strong>Networks</strong> drop-down menu. The networks that appear in this list are networks that you created earlier in this procedure.</li>
    </ul>
  </li>
<li>Click <strong>Save</strong>.</li>
</ol>


## <a id='security'></a> Step 6: Security page

<%= partial "../common/security-pane" %>

## <a id='bosh-dns'></a> Step 7: BOSH DNS Config page

<%= partial '../common/bosh-dns-config'  %>

## <a id='syslog'></a> Step 8: Syslog page

<%= partial "/pcf/ops-manager/syslog_bosh", :locals => { :syslog_context => 'BOSH Director' } %>

## <a id='resource-config'></a> Step 9: Resource Config page

1. Click **Resource Config**.

    ![alt-text=""](../common/images/azure/om-resource-config.png)

1. Under the **Instances**, **VM Type**, and **Persistent Disk Type** fields, click **Automatic** from the drop-down menu to allocate the recommended resources for the job. If the **Persistent Disk Type** field reads **None**, the job does not require persistent disk space.
    <p> For the BOSH Director job, click a VM type with at least 8&nbsp;GB memory.</p>
    <p> If you set a field to <strong>Automatic</strong> and the recommended resource allocation changes in a future version, <%= vars.ops_manager %> automatically uses the updated recommended allocation.</p>
    <p> If you install <%= vars.windows_runtime_first %>,
    provision your <strong>Main Compilation Job</strong> with at least 100&nbsp;GB of disk space.</p>

2. (Optional) To add a load balancer to the BOSH Director:
  1. Click the icon next to the **BOSH Director** job name to see the **Load Balancers** field and **Internet Connected** check box.
  2. Ensure that the **Internet Connected** check box is not selected.
  3. For **Load Balancers**, enter your Azure application gateway name for each associated job. To create an application gateway, follow the procedures in [Configure an application gateway for SSL offload by using Azure Resource Manager](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-arm) from the Azure documentation. When you create the application gateway, associate the gateway's IP address with your system domain.

  <p> This feature is not recommended for production use. The Azure load balancer does not support an override port in the healthcheck configuration.</p>

3. Click **Save**.

## <a id='custom-vm-extensions'></a> Step 10: Add custom VM extensions (optional)

<%= partial "../common/vm-extension-config"  %>

## <a id='complete-installation'></a> Step 11: Complete the BOSH Director installation

1. Click **Review Pending Changes**, > **Apply Changes**. If a red ICMP error message appears and you have deactivated ICMP, click **Ignore errors and start the install**.

1. BOSH Director installation begins. This might take a few moments. When the installation process
successfully completes, the **Changes Applied** window appears.

1. Click the <%= vars.ops_manager %> Installation Dashboard link to return to the Installation Dashboard.


## <a id='next'></a> Next steps

* (Optional) When <%= vars.ops_manager %> finishes deploying, deploy BOSH Add-ons to your system. For more information, see [Deploying BOSH Add-Ons](../install/add-ons.html).

* Install one or more <%= vars.ops_manager %> runtime environments to complete your installation.
  For more information, see [<%= vars.ops_manager %> Runtimes](../install/runtimes.html).
