---
title: Ops Manager v3.0 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> v3.0.

You can jump upgrade directly from previous versions of Ops Manager to Ops Manager 3.0. For more information, see <a href="https://docs.pivotal.io/ops-manager/3-0/jump-upgrades.html">Jump Upgrading to Ops Manager v3.0</a>.

For the feature highlights of this release, see [New Features in <%= vars.ops_manager %> 3.0](#major-features).

<%= vars.ops_manager %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases

## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> v3.0, see [Upgrading <%= vars.ops_manager %>](./install/upgrading-pcf.html).

## <a id='major-features'></a> New Features in <%= vars.ops_manager %> v3.0

<%= vars.ops_manager %> v3.0 includes the following major features:

### <a id='ubuntu-jammy'></a> Ops Manager and BOSH Director Upgraded to Ubuntu 22.04 (Jammy Jellyfish)

Ops Manager 3.0 uses a Jammy stemcell based on Ubuntu 22.04 (Jammy Jellyfish).

The previously supported Xenial stemcells were based on Ubuntu 16.04 (Xenial Xersus). The stemcells based on this distribution will reach end of general support (EOGS) in April 2024 and will no longer receive security updates.

The Xenial stemcells can continue to be used in conjunction with tiles installed in Ops Manager 3.0 until they reach EOGS.

Using Jammy stemcells in v3.0 ensures that Ops Manager users continue to have access to secure stemcells based on an Ubuntu distribution maintained by Canonical.

### <a id='applied-runtime-config'></a> Changes Page Includes Applied Runtime Configs

The See Changes page for a tile now includes a list of runtime configs that will be applied to that tile.

Runtime configs are a way tiles can add behavior to VMs deployed by other tiles. As an example, the "Enabled System Metrics" setting within the BOSH Director tile applies a runtime config to the TAS tile for additional monitoring capabilities.

Changes to a runtime config can cause longer deploy times on the next Apply Changes. This feature allows users to see the changes that affect specific tiles so that they know a longer Apply Changes may occur.

### <a id='aws-vm-catalog'></a> AWS Deployments Use 5th Generation AMD Instances

Ops Manager now allows the use of 5th Generation AMD instances for AWS deployments. These instance types are more performant and more cost effective than the previous instance types.

New installations of Ops Manager 3.0 will use the 5th Generation AMD instances by default. Customers that upgrade to Ops Manager v3.0 can opt-in to the new instance types on the AWS Config page within the BOSH Director tile. For more information, see [Configuring BOSH Director on AWS](/ops-manager/3-0/aws/config-manual.html#pcfaws-om-awsconfig).

These instance types are supported by Jammy stemcells and Xenial stemcells.

If you are using a custom instance type catalog, your VM types that are used and available do not change.

For more information about AWS instance types, see AWS EC2 Instance Types in the AWS documentation.

### <a id='aws-gp3'></a> AWS Deployments Use GP3 Disks By Default

Starting in Ops Manager 3.0, gp3 disk types are the default for AWS deployments. gp3 disks are more performant and more cost effective when compared to gp2 disks. Ops Manager 2.10.19 introduced the ability to choose between gp2 and gp3 disk types.

New installations of Ops Manager 3.0 will use gp3 by default. Customers that upgrade to Ops Manager 3.0 will retain their previous setting, but can opt-in to using gp3 disk types on the AWS Config page within the BOSH Director tile. For more information, see [Configuring BOSH Director on AWS](/ops-manager/3-0/aws/config-manual.html#pcfaws-om-awsconfig).

### <a id='google-vm-catalog'></a> Google Deployments Use E2 Series Instances

Ops Manager now allows the use of E2 Series instances for Google deployments. These instance types are more performant and more cost effective than the previous instance types.

New installations of Ops Manager 3.0 will use the E2 Series instances by default. Customers that upgrade to Ops Manager v3.0 can opt-in to the new instance types on the Google Config page within the BOSH Director tile. For more information, see [Configuring BOSH Director on GCP](/ops-manager/3-0/gcp/config-manual.html#gcp-config).

These instance types are supported by Jammy stemcells and Xenial stemcells.

If you are using a custom instance type catalog, your VM types that are used and available do not change.

For more information about Google instance types, see Google Instance Types in the Google Cloud documentation.

### <a id='google-native-machine-types'></a> Google Deployments Allow Native Machine Type For Custom VM Type Catalog

Ops Manager 3.0 allows machine type to be set when creating a custom VM type catalog on Google deployments. When a specific machine type is set for a VM type, then BOSH will create a VM using that machine type instead of creating a custom VM that matches the CPU and RAM specifications. This allows you to take advantage of specialized VM types not present in the default Ops Manager catalog.

If you do not specify a machine type for the custom VM type, then BOSH will continue to create a VM that matches the CPU and RAM specifications as in prior versions of Ops Manager.

For more information, see [Overriding defaults with custom VM types](/platform/3-0/opsman-api/#tag/VM-types/paths/~1api~1v0~1vm_types/put) in the API documentation.

## <a id='breaking-changes'></a> Breaking Changes in <%= vars.ops_manager %> v3.0

<%= vars.ops_manager %> v3.0 includes the following breaking changes:

### <a id='bosh-metrics-removed'></a> Deprecated BOSH System Metrics Support Removed

The BOSH System Metrics Server option was deprecated in Ops Manager 2.10.1 and has now been removed.

If you were using the BOSH System Metrics option, you should switch to the recommended System Metrics option on the Director Config page of the BOSH Director tile prior to upgrading.

### <a id='nsx-v-removed'></a> NSX-V Support Removed For vSphere Deployments

NSX-V reached end of support in January 2022 and can no longer be configured in Ops Manager 3.0. You can still configure NSX-T when using a compatible vSphere deployment.

### <a id='openstack-keystone-v2-removed'></a> Keystone Version 2 Authentication Support Removed For OpenStack Deployments

Version 2 of the Keystone authentication service used by OpenStack was removed in favor of Version 3 starting in OpenStack Queens.

If you were using Keystone v2, you must switch to Keystone v3 prior to upgrading.

### <a id='bosh-multihome-removed'></a> Multi-home BOSH Director Support Removed

Older versions of Ops Manager contained an undocumented API endpoint that allowed you to configure a second network on the BOSH Director VM. This API endpoint and corresponding configuration has been removed in Ops Manager 3.0.

### <a id=''></a> Azure Stack and Azure Germany Support Removed

Microsoft ceased operation of the isolated Azure Germany cloud platform in 2021, and can no longer be configured as an environment in Ops Manager 3.0. You can still use Germany-based regions in the global Azure Commercial Cloud environment within Ops Manager 3.0.

Support for Azure Stack environments has also been removed in Ops Manager 3.0.

### <a id='syslog-custom-rules'></a> Invalid Custom Syslog Rules Now Cause Errors

Invalid custom syslog rules will now cause deployments to fail with a relevant error message. Previously, those rules would not have caused deployments to fail, instead an error would have been logged and they would have been discarded.

Operators should check for the presence of the error message `Custom rule configuration invalid` during syslog pre-start, indicating that at least some custom rules are invalid, and change their custom rules accordingly. `rsyslogd -N1` can also be used to manually validate the correctness of a syslog configuration in a local environment.

## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> v3.0 includes the following known issues:
