---
title: Ops Manager v3.0 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> v3.0.

You can jump upgrade directly from previous versions of Ops Manager to Ops Manager 3.0. For more information, see <a href="https://docs.pivotal.io/ops-manager/3-0/jump-upgrades.html">Jump Upgrading to Ops Manager v3.0</a>.

For the feature highlights of this release, see [New Features in <%= vars.ops_manager %> 3.0](#major-features).

<%= vars.ops_manager %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases

## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> v3.0, see [Upgrading <%= vars.ops_manager %>](./install/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> v3.0

<%= vars.ops_manager %> v3.0 includes the following major features:

### <a id='section'></a> SECTION

DESCRIPTION

## <a id='breaking-changes'></a> Breaking Changes in <%= vars.ops_manager %> v3.0

<%= vars.ops_manager %> v3.0 includes the following breaking changes:

### <a id="section"></a> SECTION

DESCRIPTION

## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> v3.0 includes the following known issues:

### <a id="section"></a> SECTION

DESCRIPTION