---
title: Ops Manager v3.0 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> v3.0.

<%= vars.ops_manager %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases
### <a id="3-0"></a> v3.0

**Release Date:** October 31, 2022

<div class="note warning"><strong>Warning:</strong>
  This release includes many changes, will require a redeploy of the Director, and will likely require a redeploy of every tile.
</div>

- **[Feature]** Operators can see a preview of Applied Runtime Config changes when applying changes; this helps determine the deployment time.
- **[Feature]** <%= vars.ops_manager %> and the BOSH Director are based on Ubuntu's 22.04 LTS Release (Jammy Jellyfish), which introduces newer versions of the Linux kernel, tools, and security software such as OpenSSL.
- **[Feature]** AWS: `gp3` is the default disk type for AWS; the previous default was `gp2`.
- **[Feature]** AWS:  Operators can now choose AMD-based VM types (e.g. `t3a.medium`) as well as the existing Intel-based ones.
- **[Feature]** Azure: Generation 2 Azure VMs are the default on new installs (e.g `Standard_F2s_v2` replaces `Standard_F2s`). Also, the number of types of VMs have been expanded from 13 to 25 to allow a more fine-grained selection.
- **[Feature]** GCP: Operators can now choose VM types from the cost-optimized E2 machine family.
- **[Feature]** vSphere: <%= vars.ops_manager %> defaults to using the Policy API when configuring NSX (formerly NSX-T). Previously it defaulted to the Manager API.
- **[Deprecation]** vSphere: Operators can no longer directly configure NSX-V integration. NSX-V reached its End-of-General-Support in January, 2022.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.0-build.69*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.256</td></tr><tr><td>BBR SDK</td><td>1.18.47*</td></tr><tr><td>BOSH Director</td><td>272.6.0</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.4*</td></tr><tr><td>System Metrics</td><td>2.0.18*</td></tr><tr><td>CredHub</td><td>2.12.6</td></tr><tr><td>CredHub Maestro</td><td>8.0.3</td></tr><tr><td>Syslog</td><td>11.8.0</td></tr><tr><td>Windows Syslog</td><td>1.1.7</td></tr><tr><td>UAA</td><td>74.5.46</td></tr><tr><td>BPM</td><td>1.1.18</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>93</td></tr><tr><td>Azure CPI</td><td>38.0.0</td></tr><tr><td>Google CPI</td><td>43.0.0</td></tr><tr><td>OpenStack CPI</td><td>47*</td></tr><tr><td>vSphere CPI</td><td>76</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.3</td></tr><tr><td>BBR CLI</td><td>1.9.35*</td></tr><tr><td>Telemetry</td><td>1.2.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

