---
title: Tanzu Operations Manager v2.10 release notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_first %> <%= vars.v_major_version %>.

<%= vars.ops_manager %> <%= vars.v_major_version %> is a long-term supported (LTS) version of <%= vars.ops_manager %>. For more information, see [Long-Term
Support for <%= vars.ops_manager %> <%= vars.v_major_version %>](#lts) below. Starting with <%= vars.ops_manager %> <%= vars.v_major_version %>.2, you can
jump upgrade directly from previous versions of <%= vars.ops_manager %> to LTS versions of <%= vars.ops_manager %>. For more information, see [Jump Upgrading
to <%= vars.ops_manager %> <%= vars.v_major_version %>](jump-upgrades.html).

For information about the feature highlights of this release, see the [VMware Tanzu
Blog](https://tanzu.vmware.com/content/blog/vmware-tanzu-application-service-2-10-adds-a-new-cli-and-eases-upgrades-with-a-more-flexible-control-plane) and
[New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>](#major-features) below.

<%= vars.ops_manager %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases
### <a id="2-10-60"></a> v2.10.60

**Release Date:** July 27, 2023

<p class="note important">
<span class="note__title"> Important</span> This release includes new versions of BOSH DNS, System Metrics, which causes all VMs to redeploy.
</p>

- **[Feature]** Introduces a `bosh recover` command that allows users to more quickly recover from IaaS problems. For more information, see the [bosh recover documentation](https://bosh.io/docs/cli-v2/#recover).
- **[Known Issue Fix]** Apply Changes no longer fails with "Extracting compiled package archive failed" when using certain versions of tiles.
- **[Known Issue Fix]** The scheduled `bosh clean-up` task runs successfully again.
- **[Bug Fix]** API docs now load as expected. Javascript issues had previously caused loading problems.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.14-build.712*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.615*</td></tr><tr><td>BBR SDK</td><td>1.18.85*</td></tr><tr><td>BOSH Director</td><td>277.4.3*</td></tr><tr><td>BOSH DNS</td><td>1.36.3*</td></tr><tr><td>Metrics Server</td><td>0.1.14*</td></tr><tr><td>System Metrics</td><td>2.3.3*</td></tr><tr><td>CredHub</td><td>2.12.37*</td></tr><tr><td>CredHub Maestro</td><td>9.0.8*</td></tr><tr><td>Syslog</td><td>11.8.11*</td></tr><tr><td>Windows Syslog</td><td>1.1.16*</td></tr><tr><td>UAA</td><td>76.17.0*</td></tr><tr><td>BPM</td><td>1.2.4*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>99</td></tr><tr><td>Azure CPI</td><td>46.0.0</td></tr><tr><td>Google CPI</td><td>49.0.0*</td></tr><tr><td>OpenStack CPI</td><td>53</td></tr><tr><td>vSphere CPI</td><td>95*</td></tr><tr><td>BOSH CLI</td><td>7.3.1*</td></tr><tr><td>Credhub CLI</td><td>2.9.18*</td></tr><tr><td>BBR CLI</td><td>1.9.47*</td></tr><tr><td>Telemetry</td><td>1.2.6*</td></tr><tr><td>Core Consumption</td><td>0.3.6*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-13"></a> v3.0.13+LTS-T

**Release Date:** July 03, 2023

- **[Known Issue]** Apply Changes can fail with "Extracting compiled package archive failed" when using certain versions of tiles. If you encounter this error, apply your changes a second time.
- **[Feature]** It is now possible to configure vSphere to use [human-readable VM names](https://bosh.io/docs/vsphere-human-readable-names/).
- **[Bug Fix]** API docs now load as expected (Javascript issues caused loading problems).

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.13-build.622*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Tanzu Operations Manager)</td><td>1.148*</td></tr><tr><td>BBR SDK</td><td>1.18.81*</td></tr><tr><td>BOSH Director</td><td>277.3.4</td></tr><tr><td>BOSH DNS</td><td>1.36.2</td></tr><tr><td>System Metrics</td><td>2.3.2</td></tr><tr><td>CredHub</td><td>2.12.34</td></tr><tr><td>CredHub Maestro</td><td>9.0.7</td></tr><tr><td>Syslog</td><td>12.1.6</td></tr><tr><td>Windows Syslog</td><td>1.1.15</td></tr><tr><td>UAA</td><td>76.15.0</td></tr><tr><td>BPM</td><td>1.2.3</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>99</td></tr><tr><td>Azure CPI</td><td>46.0.0</td></tr><tr><td>Google CPI</td><td>48.0.0</td></tr><tr><td>OpenStack CPI</td><td>53</td></tr><tr><td>vSphere CPI</td><td>94</td></tr><tr><td>BOSH CLI</td><td>7.2.4</td></tr><tr><td>Credhub CLI</td><td>2.9.17</td></tr><tr><td>BBR CLI</td><td>1.9.46</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr><tr><td>Core Consumption</td><td>0.3.5</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-12"></a> v3.0.12+LTS-T

**Release Date:** June 27, 2023

<p> This release includes a new version of BOSH DNS, which causes all VMs to redeploy.
<p>


- **[Feature]** The <%= vars.ops_manager %> Support Bundle now includes BOSH Director logs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.12-build.604*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Tanzu Operations Manager)</td><td>1.147*</td></tr><tr><td>BBR SDK</td><td>1.18.80*</td></tr><tr><td>BOSH Director</td><td>277.3.4*</td></tr><tr><td>BOSH DNS</td><td>1.36.2*</td></tr><tr><td>System Metrics</td><td>2.3.2</td></tr><tr><td>CredHub</td><td>2.12.34*</td></tr><tr><td>CredHub Maestro</td><td>9.0.7*</td></tr><tr><td>Syslog</td><td>12.1.6</td></tr><tr><td>Windows Syslog</td><td>1.1.15</td></tr><tr><td>UAA</td><td>76.15.0*</td></tr><tr><td>BPM</td><td>1.2.3*</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>99*</td></tr><tr><td>Azure CPI</td><td>46.0.0*</td></tr><tr><td>Google CPI</td><td>48.0.0*</td></tr><tr><td>OpenStack CPI</td><td>53*</td></tr><tr><td>vSphere CPI</td><td>94</td></tr><tr><td>BOSH CLI</td><td>7.2.4*</td></tr><tr><td>Credhub CLI</td><td>2.9.17*</td></tr><tr><td>BBR CLI</td><td>1.9.46</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr><tr><td>Core Consumption</td><td>0.3.5</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-11"></a> v3.0.11+LTS-T

**Release Date:** June 21, 2023

<p> This release includes a new version of System Metrics, which causes all VMs to redeploy.
</p>


- **[Known Issue]** Apply Changes can fail with "Extracting compiled package archive failed" when using certain versions of tiles. If you encounter this error, apply your changes a second time.
- **[Feature]** The <%= vars.ops_manager %> Support Bundle now includes the full contents of `/var/log` and additional DNS configuration and information about disk space to help when diagnosing issues.
- **[Feature]** The <%= vars.ops_manager %> Support Bundle now includes BOSH Director logs.
- **[Feature]** Tiles can now be re-uploaded to <%= vars.ops_manager %>. You can re-upload tiles in cases where the BOSH releases or tile metadata currently on the <%= vars.ops_manager %> instance are missing or corrupted.
- **[Feature]** You can now nest datastore clusters within folders in vSphere by entering the full path to the datastore cluster. Folder names must be followed by a forward slash character.
- **[Bug Fix]** Downloading the Core Consumption report now takes log rotation into account to ensure that a complete report is always downloaded.
- **[Bug Fix]** UAA is only restarted if there are changes to its configuration. Previously, re-configuring the <%= vars.ops_manager %> UAA configuration with the same values caused <%= vars.ops_manager %> to restart UAA.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.11-build.570*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.584*</td></tr><tr><td>BBR SDK</td><td>1.18.80*</td></tr><tr><td>BOSH Director</td><td>277.3.4*</td></tr><tr><td>BOSH DNS</td><td>1.36.2*</td></tr><tr><td>Metrics Server</td><td>0.1.13*</td></tr><tr><td>System Metrics</td><td>2.3.2*</td></tr><tr><td>CredHub</td><td>2.12.34*</td></tr><tr><td>CredHub Maestro</td><td>8.0.9</td></tr><tr><td>Syslog</td><td>11.8.10*</td></tr><tr><td>Windows Syslog</td><td>1.1.15*</td></tr><tr><td>UAA</td><td>76.15.0*</td></tr><tr><td>BPM</td><td>1.2.3*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>99*</td></tr><tr><td>Azure CPI</td><td>46.0.0*</td></tr><tr><td>Google CPI</td><td>48.0.0*</td></tr><tr><td>OpenStack CPI</td><td>53*</td></tr><tr><td>vSphere CPI</td><td>94*</td></tr><tr><td>BOSH CLI</td><td>7.2.4*</td></tr><tr><td>Credhub CLI</td><td>2.9.17*</td></tr><tr><td>BBR CLI</td><td>1.9.46*</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr><tr><td>Core Consumption</td><td>0.3.5*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-58"></a> v2.10.58

**Release Date:** May 26, 2023

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of System Metrics, which causes all VMs to redeploy.
</div>

- **[Known Issue Fix]** The bosh-cli, when uploading releases, no longer excludes releases that have the same fingerprint but a different name. This behavior caused the "Extracting compiled package archive failed" issue in <%= vars.ops_manager %> v2.10.57.
- **[Bug Fix]** Configuring LDAP authentication via the API no longer fails when ldap_max_search_depth is not provided.
- **[Bug Fix]** Configuring UAA expiration tokens no longer causes UAA to restart when the values are not changed.
- **[Feature]** Core Consumption data can now be downloaded from the "Advanced Options" Settings page. The accuracy of this data depends on upgrading to <%= vars.ops_manager %> Tile versions of products that support this functionality.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.10-build.430*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.543*</td></tr><tr><td>BBR SDK</td><td>1.18.76*</td></tr><tr><td>BOSH Director</td><td>277.3.2*</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>Metrics Server</td><td>0.1.12</td></tr><tr><td>System Metrics</td><td>2.3.1*</td></tr><tr><td>CredHub</td><td>2.12.28*</td></tr><tr><td>CredHub Maestro</td><td>8.0.9</td></tr><tr><td>Syslog</td><td>11.8.9</td></tr><tr><td>Windows Syslog</td><td>1.1.14</td></tr><tr><td>UAA</td><td>74.5.73*</td></tr><tr><td>BPM</td><td>1.2.2*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>98</td></tr><tr><td>Azure CPI</td><td>44.0.0</td></tr><tr><td>Google CPI</td><td>47.0.0</td></tr><tr><td>OpenStack CPI</td><td>52</td></tr><tr><td>vSphere CPI</td><td>92</td></tr><tr><td>BOSH CLI</td><td>7.2.3</td></tr><tr><td>Credhub CLI</td><td>2.9.15*</td></tr><tr><td>BBR CLI</td><td>1.9.45</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr><tr><td>Core Consumption</td><td>0.3.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-57"></a> v2.10.57

**Release Date:** May 08, 2023

- **[Feature]** Tanzu Operations Manager allows users to download logs for the BOSH Director
- **[Feature]** Upgrade to Ruby 3.1
- **[Known Issue]** Deployment of TAS and related tiles (for example, Isolation Segment) fails during the _first_ Apply Changes with the error, "Extracting compiled package archive failed". If you encounter this error, run Apply Changes again. This issue is fixed in a following release of <%= vars.ops_manager %>.
- **[Known Issue Fix]** The BOSH Director now looks up compiled packages by name in addition to fingerprint. For more information about this known issue, see [BOSH Inappropriately Reuses Compiled Packages](#bosh-reuses-packages).
- **[Bug Fix]** The See Changes page does not return an error after upgrading from Tanzu Operations Manager 2.10 to 3.0.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.9-build.367*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Tanzu Operations Manager)</td><td>1.108</td></tr><tr><td>BBR SDK</td><td>1.18.69*</td></tr><tr><td>BOSH Director</td><td>277.3.1*</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.26</td></tr><tr><td>CredHub Maestro</td><td>9.0.4</td></tr><tr><td>Syslog</td><td>12.1.4*</td></tr><tr><td>Windows Syslog</td><td>1.1.14*</td></tr><tr><td>UAA</td><td>76.11.0*</td></tr><tr><td>BPM</td><td>1.2.0</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>98</td></tr><tr><td>Azure CPI</td><td>44.0.0</td></tr><tr><td>Google CPI</td><td>47.0.0</td></tr><tr><td>OpenStack CPI</td><td>52</td></tr><tr><td>vSphere CPI</td><td>92</td></tr><tr><td>BOSH CLI</td><td>7.2.3</td></tr><tr><td>CredHub CLI</td><td>2.9.14</td></tr><tr><td>BBR CLI</td><td>1.9.45*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-8"></a> v3.0.8+LTS-T

**Release Date:** May 01, 2023

- **[Feature]** Allow both gp3 and throughput (IOPS) to be set through API when creating custom disk types
- **[Feature]** Use clang to compile Ruby in Tanzu Operations Manager
- **[Bug Fix]** Default ldap "Group Max Search Depth" to 1
- **[Bug Fix]** Blobstore credentials do not appear in IaaS metadata when signed URLs are used

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.8-build.344*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Tanzu Operations Manager)</td><td>621.508*</td></tr><tr><td>BBR SDK</td><td>1.18.69*</td></tr><tr><td>BOSH Director</td><td>277.3.1*</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>Metrics Server</td><td>0.1.12*</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.26*</td></tr><tr><td>CredHub Maestro</td><td>8.0.9</td></tr><tr><td>Syslog</td><td>11.8.9*</td></tr><tr><td>Windows Syslog</td><td>1.1.14*</td></tr><tr><td>UAA</td><td>74.5.71*</td></tr><tr><td>BPM</td><td>1.2.0</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>98*</td></tr><tr><td>Azure CPI</td><td>44.0.0*</td></tr><tr><td>Google CPI</td><td>47.0.0*</td></tr><tr><td>OpenStack CPI</td><td>52*</td></tr><tr><td>vSphere CPI</td><td>92*</td></tr><tr><td>BOSH CLI</td><td>7.2.3*</td></tr><tr><td>Credhub CLI</td><td>2.9.14*</td></tr><tr><td>BBR CLI</td><td>1.9.45*</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-56"></a> v2.10.56

**Release Date:** April 10, 2023

<p> This release includes a new version of BOSH DNS, which causes all VMs to redeploy.
</p>


- **[Feature]** Tanzu Operations Manager allows users to download /var/log logs from deployed instances
- **[Bug Fix]** Add descriptive 'aria-label's to buttons in Tanzu Operations Manager "Delete Product" modal
- **[Feature]** Tanzu Operations Manager allows users to download logs for the BOSH Director
- **[Feature]** Improve internal Rails log by enabling log_tags
- **[Feature]** Allow both gp3 and throughput (IOPS) to be set through API when creating custom disk types

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Operations Manager</td><td>3.0.7-build.289*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Tanzu Operations Manager)</td><td>621.463</td></tr><tr><td>BBR SDK</td><td>1.18.65*</td></tr><tr><td>BOSH Director</td><td>277.3.0</td></tr><tr><td>BOSH DNS</td><td>1.36.1*</td></tr><tr><td>Metrics Server</td><td>0.1.11</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.25*</td></tr><tr><td>CredHub Maestro</td><td>8.0.9</td></tr><tr><td>Syslog</td><td>11.8.8</td></tr><tr><td>Windows Syslog</td><td>1.1.13</td></tr><tr><td>UAA</td><td>74.5.68*</td></tr><tr><td>BPM</td><td>1.2.0*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.3*</td></tr><tr><td>AWS CPI</td><td>97</td></tr><tr><td>Azure CPI</td><td>43.0.0*</td></tr><tr><td>Google CPI</td><td>46.0.2</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>91*</td></tr><tr><td>BOSH CLI</td><td>7.2.2*</td></tr><tr><td>Credhub CLI</td><td>2.9.13*</td></tr><tr><td>BBR CLI</td><td>1.9.43*</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='2-10-55'></a> v2.10.55

**Release Date:** March 23, 2023

- **[Feature]** Add support for AWS eu-central-2 region
- **[Bug Fix]** Fix time synchronization on Azure-based Tanzu Operations Manager VMs

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.6-build.269*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.95*</td></tr><tr><td>BBR SDK</td><td>1.18.62</td></tr><tr><td>BOSH Director</td><td>277.3.0</td></tr><tr><td>BOSH DNS</td><td>1.36.1*</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.23*</td></tr><tr><td>CredHub Maestro</td><td>9.0.2*</td></tr><tr><td>Syslog</td><td>12.1.3</td></tr><tr><td>Windows Syslog</td><td>1.1.13</td></tr><tr><td>UAA</td><td>76.8.0*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>97</td></tr><tr><td>Azure CPI</td><td>42.0.0</td></tr><tr><td>Google CPI</td><td>46.0.2*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>90</td></tr><tr><td>BOSH CLI</td><td>7.2.0*</td></tr><tr><td>Credhub CLI</td><td>2.9.13*</td></tr><tr><td>BBR CLI</td><td>1.9.42*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='2-10-54'></a> v2.10.54

**Release Date:** March 10, 2023

<p> This release includes a new version of System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.54 causes all VMs to redeploy.</p>

* **[Feature Improvement]** In the <%= vars.ops_manager %> Installation Dashboard, load times and caching for the **Stemcell Library** page are improved.

* **[Feature Improvement]** <%= vars.ops_manager %> <%= vars.v_major_version %> supports vSphere 8.0 and NSX 4.0.

* **[Known Issue]** The scheduled `bosh clean-up` task fails with a "Tried to load unspecified class: Bosh::Director::Jobs::DBJob" error.

* **[Bug Fix]** Temporary verifier failures are properly exposed and do not cause a `500` error.

* **[Bug Fix]** In the <%= vars.ops_manager %> Installation Dashboard, the **Review Pending Changes** page does not show a `Stemcell Out of Date` status when
you are using the most recent stemcell versions.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.5-build.251*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.93*</td></tr><tr><td>BBR SDK</td><td>1.18.62*</td></tr><tr><td>BOSH Director</td><td>277.3.0*</td></tr><tr><td>BOSH DNS</td><td>1.36.0</td></tr><tr><td>System Metrics</td><td>2.2.7*</td></tr><tr><td>CredHub</td><td>2.12.21*</td></tr><tr><td>CredHub Maestro</td><td>9.0.1*</td></tr><tr><td>Syslog</td><td>12.1.3*</td></tr><tr><td>Windows Syslog</td><td>1.1.13*</td></tr><tr><td>UAA</td><td>76.7.0*</td></tr><tr><td>BPM</td><td>1.1.21</td>
    </tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>97*</td></tr><tr><td>Azure CPI</td><td>42.0.0*</td></tr><tr><td>Google CPI</td><td>46.0.1</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>90*</td></tr><tr><td>BOSH CLI</td><td>7.1.3*</td></tr><tr><td>Credhub CLI</td><td>2.9.12*</td></tr><tr><td>BBR CLI</td><td>1.9.41*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-10-53'></a> v2.10.53

**Release Date:** February 08, 2023

<div class='note caution'><strong>Caution:</strong>
  <ul>
    <li>This release includes a new version of BOSH DNS. Upgrading to <%= vars.ops_manager %> <%= vars.v_major_version %>.53 causes all VMs to
      redeploy.</li>
    <li>In this release, the BOSH Director uses NATS v2.0.</li>
  </ul>
</div>

- **[Bug Fix]** Secrets correctly redacted from Tanzu Operations Manager production logs when "See Changes" is clicked.
- **[Feature]** Remove non-inclusive language from the Ops Manager UI

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.4-build.227*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.83*</td></tr><tr><td>BBR SDK</td><td>1.18.61*</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.36.0*</td></tr><tr><td>System Metrics</td><td>2.2.5*</td></tr><tr><td>CredHub</td><td>2.12.19*</td></tr><tr><td>CredHub Maestro</td><td>8.0.9*</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.63*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>46.0.1*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>89*</td></tr><tr><td>BOSH CLI</td><td>7.1.2*</td></tr><tr><td>Credhub CLI</td><td>2.9.10*</td></tr><tr><td>BBR CLI</td><td>1.9.39*</td></tr><tr><td>Telemetry</td><td>2.0.5*</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-10-52'></a> v2.10.52

**Release Date:** January 09, 2023

<p> This release includes a new version of BOSH DNS. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.52 causes all VMs to redeploy.</p>

- **[Feature]** Logs for instance and instance groups can be directly downloaded from a product tile's "Status" tab.
- **[Feature]** Added additional logging to track when Tile Migrations are applied. This allows to use logs to debug issues with Tile upgrade failures.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.3-build.203*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.75*</td></tr><tr><td>BBR SDK</td><td>1.18.60*</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.4</td></tr><tr><td>CredHub</td><td>2.12.18</td></tr><tr><td>CredHub Maestro</td><td>8.0.8</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>46.0.0*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>88*</td></tr><tr><td>BOSH CLI</td><td>7.1.0</td></tr><tr><td>Credhub CLI</td><td>2.9.9</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-10-51'></a> v2.10.51

**Release Date:** December 19, 2022

<p> This release includes a new version of System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.51 causes all VMs to redeploy.</p>

- **[Bug Fix]** Ops Manager's **Export Installations Settings** promptly cleans up files in /tmp, allowing users to do multiple exports within a day.
- **[Feature]** Improve accessibility when navigating the Tanzu Operations Manager UI using a keyboard. With these changes, a thick blue outline is typically placed around the currently focused link.
- **[Feature]** Deploy the BOSH Director using PostgreSQL 13. Previously the BOSH Director was deployed with PostgreSQL 10, which has gone out of support.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.2-build.192*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.71*</td></tr><tr><td>BBR SDK</td><td>1.18.59</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.4*</td></tr><tr><td>CredHub</td><td>2.12.18*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0</td></tr><tr><td>Credhub CLI</td><td>2.9.9*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-10-50'></a> v2.10.50

**Release Date:** November 19, 2022

<p> This release includes a new version of System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.50 causes all VMs to redeploy.</p>

- **[Bug Fix]** WildcardDomainResolver does not cause timeouts when remote DNS server is unresponsive
- **[Feature]** Improve UI feedback when deleting unused products

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.1-build.184*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.64*</td></tr><tr><td>BBR SDK</td><td>1.18.59*</td></tr><tr><td>BOSH Director</td><td>276.1.1*</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.3*</td></tr><tr><td>CredHub</td><td>2.12.16*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8*</td></tr><tr><td>Syslog</td><td>12.1.1*</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.60*</td></tr><tr><td>BPM</td><td>1.1.21*</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96*</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0*</td></tr><tr><td>Credhub CLI</td><td>2.9.8</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2*</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='2-10-34'></a> v2.10.34

**Release Date:** March 28, 2022

<p class='note caution'><strong>Caution:</strong> This release includes a new version of BOSH DNS. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.34 causes all VMs to redeploy. For more information, see <a href="#2-10-33">v2.10.33</a> below.</p>

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Operations Manager</td><td>3.0.0-build.158</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Tanzu Operations Manager)</td><td>1.44</td></tr><tr><td>BBR SDK</td><td>1.18.57</td></tr><tr><td>BOSH Director</td><td>276.1.0</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.2</td></tr><tr><td>CredHub</td><td>2.12.13</td></tr><tr><td>CredHub Maestro</td><td>8.0.7</td></tr><tr><td>Syslog</td><td>12.0.6</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.58</td></tr><tr><td>BPM</td><td>1.1.19</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>95</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.8</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.1</td></tr>
  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to upgrade

To upgrade to <%= vars.ops_manager_full %> v2.10, see [Upgrading <%= vars.ops_manager %>](./install/upgrading-pcf.html).


## <a id='major-features'></a> New features in <%= vars.ops_manager %> v2.10

<%= vars.ops_manager %> v2.10 includes the following major features:

### <a id='lts'></a> Long-term support for Tanzu Operations Manager v2.10

Tanzu Operations Manager v2.10 is the long-term supported (LTS) version of Tanzu Operations Manager. Tanzu Operations Manager v2.10 is supported through April 2024.

Over the lifecycle of Tanzu Operations Manager v2.10, VMware releases security patches that occasionally include feature enhancements and maintenance updates.

The migration period for upgrading to Tanzu Operations Manager v2.10 is from August 2020 to March 2021. To accommodate this migration and provide customers with additional time to upgrade to Tanzu Operations Manager v2.10, Tanzu Operations Manager v2.7 is supported through March 31, 2021.

For more information about Tanzu Operations Manager v2.10 LTS, please reach out to your Account Team.

### <a id='bosh-overrides'></a> BOSH Director manifest overrides

In Tanzu Operations Manager v2.10, you can use the `/api/v0/staged/director/overrides`
Tanzu Operations Manager API endpoint to override properties in the BOSH Director manifest.
With this endpoint, you can only override properties that appear
in the instance groups and networks sections of the manifest.

You must be in Advanced Mode to use this feature.

For more information about this feature,
see [Overriding Manifest Properties in Advanced Mode](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/overriding-properties-advanced.html).

For information on the Tanzu Operations Manager API endpoints related to this feature, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration) in Ops Manager API Documentation.

### <a id='runtime-config-overrides'></a> Override runtime config properties

In Tanzu Operations Manager v2.10, you can override the runtime config properties for BOSH DNS and System Metrics.

You must be in Advanced Mode to use this feature.

You use the `/api/v0/staged/director/runtime_configs/overrides` endpoint in the runtime configs
to override properties:

<table>
  <tr>
    <th>Runtime Config Names</th>
    <th>Add-on Names</th>
  </tr>
  <tr>
    <td><code>ops_manager_dns_runtime</code></td>
    <td><ul>
      <li><code>bosh_dns</code></li>
      <li><code>bosh_dns_windows</code></li>
    </ul></td>
  </tr>
  <tr>
    <td><code>ops_manager_system_metrics_runtime</code></td>
    <td><ul>
      <li><code>system_metrics_agent</code></li>
      <li><code>system_metrics_agent_windows</code></li>
    </ul></td>
  </tr>
</table>

For example, although you cannot change the log level for the BOSH DNS logs through the Tanzu Operations Manager UI,
you can change the log level using the `/api/v0/staged/director/runtime_configs/overrides` endpoint.
Increase the log level to `DEBUG` for more information
or decrease the level for less verbose logs.

For more information, see:

+ [Overriding Manifest Properties in Advanced Mode](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/overriding-properties-advanced.html).
+ [BOSH DNS job spec](https://github.com/cloudfoundry/bosh-dns-release/blob/master/jobs/bosh-dns/spec) in GitHub
+ [Provide a new list of runtime config overrides for the BOSH
Director](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration/paths/~1api~1v0~1staged~1director~1runtime_configs~1overrides/get)

### <a id='certs-om-ui'></a> View certificates in the Ops Manager UI

The Tanzu Operations Manager UI introduces a new page called **Certificates**. This page displays all the certificates listed by the `/api/v0/deployed/certificates` endpoint, as well as the following details:

* **Certificate name:** The name of the certificate.
* **Product GUID:** The product for which the certificate is issued, such as BOSH or MySQL.
* **Location:** Whether the certificate is stored in Tanzu Operations Manager or CredHub.
* **Type:** Whether the certificate is a leaf certificate or a certificate authority (CA).
* **Configurable:** Whether the certificate is configurable.
* **Valid until:** The expiration date of the certificate and the number of days before expiration.

For more information, see [Using the Tanzu Operations Manager Interface](pcf-interface.html).

### <a id='safety-checks'></a> CredHub Maestro runs safety checks during certificate rotation

CredHub Maestro v8.0, which is included in Tanzu Operations Manager v2.10, performs basic safety checks when rotating certificates to prevent unsafe operations.

The Tanzu Operations Manager API invokes the CredHub Maestro CLI when rotating certificates. If an Tanzu Operations Manager API certificate rotation command is out-of-order or unsafe, CredHub Maestro stops the command and returns one or more safety violation errors.

To observe this feature in Tanzu Operations Manager v2.10 certificate rotation API calls, you must have <%= vars.app_runtime_full_pivotal %> (<%= vars.app_runtime_abbr_pivotal %>) v2.8.2 and later or <%= vars.app_runtime_abbr %> v2.9 and later installed, and you must not have any version of <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) installed. If you are using an earlier version of <%= vars.app_runtime_abbr_pivotal %> or have any version of <%= vars.k8s_runtime_abbr %> installed, Ops Manager still runs safety checks, but they are not as comprehensive as CredHub Maestro safety checks.

For more information, see [Troubleshooting CredHub Maestro Safety Violations During Certificate Rotation](security/pcf-infrastructure/troubleshoot-cert-errors.html), [Overview of Certificate Rotation](security/pcf-infrastructure/api-cert-rotation.html), and [Advanced Certificate Rotation with CredHub Maestro](security/pcf-infrastructure/advanced-certificate-rotation.html).

### <a id='certificate-duration-overrides'></a> Override duration for certificates

<%= vars.ops_manager %> v2.10.19 introduces the ability to override duration for both CA and leaf certificates.

By default, <%= vars.ops_manager %> and CredHub generate certificates using the duration requested by the product that creates the certificate. This duration can vary from product to product.
In <%= vars.ops_manager %> v2.10.19 and later, you can set values to override the duration for CA and leaf certificates.
This gives the you the option to increase certificate durations to reduce the frequency of required certificate rotations.

If you enable this feature and you configure a duration that is shorter than the minimum set for the product, the certificate is generated with the duration you set instead. If you configure a duration that is longer than the minimum setting, the certificate is generated with the longer duration.

After enabling the duration override feature, you must take additional steps to apply the setting to existing certificates, as well as any new certificates generated by CredHub.
For more information, see [Overriding Duration for Certificates](security/pcf-infrastructure/configure-certificate-duration-overrides.html).

### <a id='imds-v2-support'></a> IMDSv2 support for AWS

In <%= vars.ops_manager %> v2.10.23 and later, you can require that IMDSv2 is used on all VMs deployed in AWS. This security feature requires users to send a signed token header with any request to the instance metadata endpoint provided on AWS VMs.

After enabling IMDSv2, you must re-create all VMs for the setting to take effect. For more information, see [Enabling IMDSv2 in <%= vars.ops_manager %>](security/security-adjacent/security-guidelines-iaas.html#aws-imds-v2).

## <a id='breaking-changes'></a> Breaking changes in <%= vars.ops_manager %> v2.10

<%= vars.ops_manager %> v2.10 includes the following breaking changes:

### <a id='cert-regeneration'></a> BOSH DNS certificates regeneration

In <%= vars.ops_manager %> v2.10.9 and later, BOSH DNS leaf certificates are automatically regenerated to include the SAN field. On upgrade, you must redeploy all tiles and upgrade all service instances to distribute the BOSH DNS leaf certificates to all VMs.

To allow DNS certificate regeneration and avoid communication issues between system components:

1. On upgrade, run the **Upgrade service instances** errand on all service tiles.

1. **Apply Changes** to all tiles.

If you do not redeploy all tiles and upgrade all service instances, you can experience downtime.

### <a id='credhub-regenerate'></a> CredHub Maestro removes the "update-transitional latest" command

Tanzu Operations Manager v2.10 includes CredHub Maestro v8.0.
In this version of CredHub Maestro, the `maestro update-transitional latest` command is removed.

If you have scripts that rely on the `maestro update-transitional latest` command,
remove references to the command before you upgrade to Tanzu Operations Manager v2.10.

In CredHub Maestro v8.0, you run `maestro regenerate ca` to regenerate a certificate authority (CA) and mark the latest version of the CA as transitional.
This command performs both actions, while previous versions of CredHub Maestro use a separate command for each task.

For information about rotating CAs and certificates using CredHub Maestro, see [Advanced Certificate Rotation with CredHub Maestro](security/pcf-infrastructure/advanced-certificate-rotation.html).

## <a id='known-issues'></a> Known issues

<%= vars.ops_manager %> v2.10 includes the following known issues:

### <a id='recreate-persistent-disks'></a> BOSH Director disk is re-created unnecessarily

Due to an issue with the BOSH CLI, the BOSH Director disk can be re-created even when
the size and properties for it have not changed. This issue does not cause data loss, but
can slow the deployment time while the data migrates from the old disk to the new disk.

This issue is resolved in Tanzu Operations Manager v2.10.18.

### <a id='metrics-server-upgrade'></a> Metrics Server configuration causes BOSH Director deployment to fail during upgrade

During an upgrade to Tanzu Operations Manager v2.10, the BOSH Director deployment and
subsequent upgrade might fail due to the default enablement of the `metrics-server` job.
An error similar to the following appears in the `metrics-server` logs.

```
Required property 'networks' was not specified in object ({"vm_extensions"=>[{"cloud_properties"=>{"vmx_options"=>{"disk.enableUUID"=>"1"}}, "name"=>"disk_enable_uuid"}, {"cloud_properties"=>{"upgrade_hw_version"=>true}, "name"=>"set_version_hardware"}]}) (Bosh::Director::ValidationMissingField)
```

The cause of this upgrade failure is the presence of a tile, such as any version of Tanzu Kubernetes Grid Integrated Edition (TKGI), that is incompatible with Ops Manager v2.10 due to its default `metrics-server` enablement.

To workaround this issue, see the [BOSH Director fails with non-running job during upgrade to Tanzu Operations Manager 2.10](https://community.pivotal.io/s/article/OM-2-10-Bosh-Director-fails-to-deploy) Knowledge Base article.

This issue is resolved in Tanzu Operations Manager v2.10.1.

### <a id='increased-logging'></a> Increased logging slows platform functions

<%= partial "/pcf/ops-manager/known-issues/increased_logging_ki" %>

### <a id='credhub-generated-field'></a> Reset manually-set certificates in CredHub before rotating certificates with the <%= vars.ops_manager %> API

<!--- If and when this KI is fixed, remove the cross-reference to it in security/pcf-infrastructure/advanced-certificate-rotation.html#prerequisites --->

If you have manually set any certificates in CredHub on <%= vars.ops_manager %> v2.6 or earlier, you need to reset those certificates before using the <%= vars.ops_manager %> API to rotate CredHub certificates.

Resetting these certificates is not a required condition for the <%= vars.ops_manager %> v2.10 upgrade. You can reset them either before or after the upgrade.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](security/pcf-infrastructure/manual-credhub-certificate.html).

For more information about rotating certificates using the <%= vars.ops_manager %> API, see [Overview of Certificate Rotation](security/pcf-infrastructure/api-cert-rotation.html). For more information about the `certificate_authorities/active/regenerate` endpoint, see [Rotate Certificates](https://docs.pivotal.io/pivotalcf/2-10/opsman-api/#create-root-certificate-authorities) in the <%= vars.ops_manager %> API documentation.

### <a id='maestro-gc-error'></a> Maestro garbage collection error

When running `maestro garbage collect`, you might see an error like this:

```
$ maestro garbage-collect ca --all
not_deleted:
    - name: /services/tls_ca
      certificate_id: aaaaaaaa-bbbb-cccc-1111-aaaaaaaaaaa
      version_ids:
        - aaaaaaa-11111-22222-33333-bbbbbbbbbb
error: could not delete some certificate versions
```

You can ignore this error. The certificate is not deleted.

### <a id='bosh-reuses-packages'></a> BOSH inappropriately reuses compiled packages

The BOSH Director attempts to match packages from an uploaded release to "similar" packages that have been previously uploaded. The match is made using the fingerprint on the uncompiled package contents. However, recently the packages in <code>golang-release</code> were modified to be templated. This led to packages that shared the same fingerprint to be used interchangeably even though they represented different versions of Golang. Reusing these packages could cause Apply Changes to fail if a tile expected one version of Golang but got another.

This issue is resolved in <%= vars.ops_manager %> <%= vars.v_major_version %>.57.
