---
title: Ops Manager v3.0 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_first %> <%= vars.v_major_version %>.

You can jump upgrade directly from previous versions of <%= vars.ops_manager %> to <%= vars.ops_manager %> <%= vars.v_major_version %>. For more information,
see [Jump Upgrading to <%= vars.ops_manager %> <%= vars.v_major_version %>](jump-upgrades.html).

For the feature highlights of this release, see [New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>](#major-features) below.

<%= vars.ops_manager %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases
### <a id="2-10-52"></a> v2.10.52

**Release Date:** January 09, 2023

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of BOSH DNS, which will cause all VMs to redeploy.
</div>

- **[Feature]** Logs for instance and instance groups can be directly downloaded from a product tile's "Status" tab.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.52-build.679*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.376*</td></tr><tr><td>BBR SDK</td><td>1.18.60*</td></tr><tr><td>BOSH Director</td><td>273.1.3</td></tr><tr><td>BOSH DNS</td><td>1.34.1*</td></tr><tr><td>Metrics Server</td><td>0.1.9</td></tr><tr><td>System Metrics</td><td>2.2.4</td></tr><tr><td>CredHub</td><td>2.12.18</td></tr><tr><td>CredHub Maestro</td><td>8.0.9*</td></tr><tr><td>Syslog</td><td>11.8.6</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.62*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>46.0.1*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>88*</td></tr><tr><td>BOSH CLI</td><td>7.1.1*</td></tr><tr><td>Credhub CLI</td><td>2.9.10*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-51"></a> v2.10.51

**Release Date:** December 19, 2022

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of System Metrics, which will cause all VMs to redeploy.
</div>


- **[Bug Fix]** Ops Manager's **Export Installations Settings** promptly cleans up files in /tmp, allowing users to do multiple exports within a day.
- **[Feature]** Improve accessibility when navigating the Ops Manager UI using a keyboard. With these changes, a thick blue outline is typically placed around the currently focused link.
- **[Feature]** Deploy the BOSH Director using PostgreSQL 13. Previously the BOSH Director was deployed with PostgreSQL 10, which has gone out of support.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.51-build.662*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.364*</td></tr><tr><td>BBR SDK</td><td>1.18.59*</td></tr><tr><td>BOSH Director</td><td>273.1.3*</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>Metrics Server</td><td>0.1.9*</td></tr><tr><td>System Metrics</td><td>2.2.4*</td></tr><tr><td>CredHub</td><td>2.12.18*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8*</td></tr><tr><td>Syslog</td><td>11.8.6*</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61*</td></tr><tr><td>BPM</td><td>1.1.21*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96*</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0*</td></tr><tr><td>Credhub CLI</td><td>2.9.9*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-50"></a> v2.10.50

**Release Date:** November 19, 2022

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of System Metrics, which will cause all VMs to redeploy.
</div>


- **[Bug Fix]** WildcardDomainResolver should not cause timeouts when remote DNS server is unresponsive
- **[Feature]** Improve UI feedback when deleting unused products

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.50-build.622*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.330*</td></tr><tr><td>BBR SDK</td><td>1.18.58*</td></tr><tr><td>BOSH Director</td><td>273.1.2*</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>Metrics Server</td><td>0.1.8*</td></tr><tr><td>System Metrics</td><td>2.2.2*</td></tr><tr><td>CredHub</td><td>2.12.14*</td></tr><tr><td>CredHub Maestro</td><td>8.0.7</td></tr><tr><td>Syslog</td><td>11.8.5*</td></tr><tr><td>Windows Syslog</td><td>1.1.11*</td></tr><tr><td>UAA</td><td>74.5.58*</td></tr><tr><td>BPM</td><td>1.1.19</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>95*</td></tr><tr><td>Azure CPI</td><td>41.0.0*</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51*</td></tr><tr><td>vSphere CPI</td><td>87*</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.8*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-49"></a> v2.10.49

**Release Date:** November 02, 2022

- **[Bug Fix]** Metrics server should continue to accept old leaf certificate for mutual TLS during a CA rotation

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.49-build.594*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.305</td></tr><tr><td>BBR SDK</td><td>1.18.56*</td></tr><tr><td>BOSH Director</td><td>273.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>Metrics Server</td><td>0.1.7</td></tr><tr><td>System Metrics</td><td>2.0.18</td></tr><tr><td>CredHub</td><td>2.12.12</td></tr><tr><td>CredHub Maestro</td><td>8.0.7</td></tr><tr><td>Syslog</td><td>11.8.0</td></tr><tr><td>Windows Syslog</td><td>1.1.10</td></tr><tr><td>UAA</td><td>74.5.56*</td></tr><tr><td>BPM</td><td>1.1.19</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>94</td></tr><tr><td>Azure CPI</td><td>40.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>50</td></tr><tr><td>vSphere CPI</td><td>85*</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.7</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-48"></a> v2.10.48

**Release Date:** October 27, 2022

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of BOSH DNS, which will cause all VMs to redeploy.
</div>

<div class="note warning"><strong>Warning:</strong>
  This release contains a new end-user license agreement which must be manually accepted when downloading the release binaries from Tanzu Network.
</div>

-  **[Feature]** Improve accessibility within Ops Manager UI
-  **[Known Issue Fix]** Upgrading from below Ops Manager v2.10.9 should not default to using the Policy API for NSX-T on vSphere
-  **[Known Issue Fix]** The issue beginning in 2.10.41 that caused some Ops Manager users to experience slow VM creation times has been resolved with the vSphere CPI included in this release

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.48-build.590*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.305*</td></tr><tr><td>BBR SDK</td><td>1.18.55*</td></tr><tr><td>BOSH Director</td><td>273.1.1*</td></tr><tr><td>BOSH DNS</td><td>1.34.0*</td></tr><tr><td>Metrics Server</td><td>0.1.7*</td></tr><tr><td>System Metrics</td><td>2.0.18</td></tr><tr><td>CredHub</td><td>2.12.12*</td></tr><tr><td>CredHub Maestro</td><td>8.0.7*</td></tr><tr><td>Syslog</td><td>11.8.0</td></tr><tr><td>Windows Syslog</td><td>1.1.10*</td></tr><tr><td>UAA</td><td>74.5.55*</td></tr><tr><td>BPM</td><td>1.1.19</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>94</td></tr><tr><td>Azure CPI</td><td>40.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0*</td></tr><tr><td>OpenStack CPI</td><td>50*</td></tr><tr><td>vSphere CPI</td><td>81*</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.7*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-47"></a> v2.10.47

**Release Date:** September 28, 2022

- **[Bug Fix]** OpsManager correctly removes temporary files created during an export
- **[Known Issue Fix]** Fixes a bug preventing Azure configurations from being correctly saved/deployed when Storage Accounts are used for Cloud Storage (problem introduced in 2.10.44)
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.


<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.47-build.562*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.280*</td></tr><tr><td>BBR SDK</td><td>1.18.53*</td></tr><tr><td>BOSH Director</td><td>273.1.0</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.6*</td></tr><tr><td>System Metrics</td><td>2.0.18</td></tr><tr><td>CredHub</td><td>2.12.9*</td></tr><tr><td>CredHub Maestro</td><td>8.0.4</td></tr><tr><td>Syslog</td><td>11.8.0</td></tr><tr><td>Windows Syslog</td><td>1.1.9*</td></tr><tr><td>UAA</td><td>74.5.51*</td></tr><tr><td>BPM</td><td>1.1.19*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>94*</td></tr><tr><td>Azure CPI</td><td>40.0.0*</td></tr><tr><td>Google CPI</td><td>44.0.0*</td></tr><tr><td>OpenStack CPI</td><td>49*</td></tr><tr><td>vSphere CPI</td><td>80*</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.4*</td></tr><tr><td>BBR CLI</td><td>1.9.38*</td></tr><tr><td>Telemetry</td><td>1.2.4</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-46"></a> v2.10.46

**Release Date:** August 25, 2022

<div class="note warning"><strong>Warning:</strong>
This release includes an unintended breaking change. When upgrading from Ops Manager versions
before 2.10.9 on vSphere, the NSX-T Policy API mode will be enabled by default. Customers that
are not using the NSX-T Policy API will need to uncheck the "Use NSX-T Policy API" checkbox on the
vSphere Config page, or set the `nsx_t_use_policy_api` API field to false.

This issue will be fixed in a later patch.
</div>


- **[Feature]** Ops Manager generated leaf certificates includes the keyEncipherment extension
- **[Change]** New installs of OM on vSphere default to use policy-api
- **[Bug Fix]** Upgrading stemcell, then upgrading Ops Manager to version that does not include that stemcell does not fail
- **[Bug Fix]** UI Fixes:
  - Datastore cluster/datastore configuration form fields have been adjusted for clarity.
  - Expired certificates do not display negative values for "expires in"
- **[Known Issue]** Azure configurations cannot be correctly saved/deployed when Storage Accounts are used for Cloud Storage (this issue first appears in OpsManager 2.10.44)
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.46-build.541*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.265*</td></tr><tr><td>BBR SDK</td><td>1.18.50*</td></tr><tr><td>BOSH Director</td><td>273.1.0*</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.5*</td></tr><tr><td>System Metrics</td><td>2.0.18</td></tr><tr><td>CredHub</td><td>2.12.8*</td></tr><tr><td>CredHub Maestro</td><td>8.0.4*</td></tr><tr><td>Syslog</td><td>11.8.0</td></tr><tr><td>Windows Syslog</td><td>1.1.8*</td></tr><tr><td>UAA</td><td>74.5.48*</td></tr><tr><td>BPM</td><td>1.1.18</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>93</td></tr><tr><td>Azure CPI</td><td>39.0.0*</td></tr><tr><td>Google CPI</td><td>43.0.0</td></tr><tr><td>OpenStack CPI</td><td>48*</td></tr><tr><td>vSphere CPI</td><td>79*</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.3</td></tr><tr><td>BBR CLI</td><td>1.9.37*</td></tr><tr><td>Telemetry</td><td>1.2.4*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-45"></a> v2.10.45

**Release Date:** January 06, 2023

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of System Metrics, which will cause all VMs to redeploy.
</div>


- **[Fix]** BOSH task cleanup occurs daily (rather than weekly). This change may alleviate issues seen in deployments where the BOSH Director runs tasks frequently (e.g. for monitoring).
- **[Known Issue]** Azure configurations cannot be correctly saved/deployed when Storage Accounts are used for Cloud Storage (this issue first appears in OpsManager 2.10.44)
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.45-build.512*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.256</td></tr><tr><td>BBR SDK</td><td>1.18.47*</td></tr><tr><td>BOSH Director</td><td>272.6.0</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.4*</td></tr><tr><td>System Metrics</td><td>2.0.18*</td></tr><tr><td>CredHub</td><td>2.12.6</td></tr><tr><td>CredHub Maestro</td><td>8.0.3</td></tr><tr><td>Syslog</td><td>11.8.0</td></tr><tr><td>Windows Syslog</td><td>1.1.7</td></tr><tr><td>UAA</td><td>74.5.46</td></tr><tr><td>BPM</td><td>1.1.18</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>93</td></tr><tr><td>Azure CPI</td><td>38.0.0</td></tr><tr><td>Google CPI</td><td>43.0.0</td></tr><tr><td>OpenStack CPI</td><td>47*</td></tr><tr><td>vSphere CPI</td><td>76</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.3</td></tr><tr><td>BBR CLI</td><td>1.9.35*</td></tr><tr><td>Telemetry</td><td>1.2.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-44"></a> v2.10.44

**Release Date:** July 14, 2022

- **[Security Fix]** Remediated CVE-2022-23923 in the tile JavaScript migration process.
- **[Known Issue]** Azure configurations cannot be correctly saved/deployed when Storage Accounts are used for Cloud Storage (this issue first appears in OpsManager 2.10.44)
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.44-build.502*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.256*</td></tr><tr><td>BBR SDK</td><td>1.18.46*</td></tr><tr><td>BOSH Director</td><td>272.6.0*</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.3</td></tr><tr><td>System Metrics</td><td>2.0.17</td></tr><tr><td>CredHub</td><td>2.12.6*</td></tr><tr><td>CredHub Maestro</td><td>8.0.3</td></tr><tr><td>Syslog</td><td>11.8.0*</td></tr><tr><td>Windows Syslog</td><td>1.1.7*</td></tr><tr><td>UAA</td><td>74.5.46*</td></tr><tr><td>BPM</td><td>1.1.18</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>93</td></tr><tr><td>Azure CPI</td><td>38.0.0</td></tr><tr><td>Google CPI</td><td>43.0.0</td></tr><tr><td>OpenStack CPI</td><td>46</td></tr><tr><td>vSphere CPI</td><td>76*</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.3</td></tr><tr><td>BBR CLI</td><td>1.9.34*</td></tr><tr><td>Telemetry</td><td>1.2.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-43"></a> v2.10.43

**Release Date:** June 16, 2022

- **[Known Issue Fix]** Certificates endpoint no longer returns a 500 error due to "nested asn" error. Issue is introduced in v2.10.40.
- **[Known Issue Fix]** Deleting VM types using the API endpoint is allowed even when VMs are deployed with those types. Issue is introduced in v2.10.40.
- **[Known Issue Fix]** Content-Security-Policy header should not prevent users logging in with SAML. Issue is introduced in v2.10.40.
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.43-build.494*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.251*</td></tr><tr><td>BBR SDK</td><td>1.18.43</td></tr><tr><td>BOSH Director</td><td>272.5.0</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.3</td></tr><tr><td>System Metrics</td><td>2.0.17</td></tr><tr><td>CredHub</td><td>2.12.5</td></tr><tr><td>CredHub Maestro</td><td>8.0.3</td></tr><tr><td>Syslog</td><td>11.7.11</td></tr><tr><td>Windows Syslog</td><td>1.1.6</td></tr><tr><td>UAA</td><td>74.5.41</td></tr><tr><td>BPM</td><td>1.1.18</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>93</td></tr><tr><td>Azure CPI</td><td>38.0.0</td></tr><tr><td>Google CPI</td><td>43.0.0</td></tr><tr><td>OpenStack CPI</td><td>46</td></tr><tr><td>vSphere CPI</td><td>74</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.3</td></tr><tr><td>BBR CLI</td><td>1.9.32</td></tr><tr><td>Telemetry</td><td>1.2.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-42"></a> v2.10.42

**Release Date:** June 11, 2022

- **[Known Issue Fix]** The expiring certificates API should not return a 500 status error when syslog certificates are not configured. Issue is introduced in v2.10.40.
- **[Known Issue Fix]** The VM type deletion API endpoint should not return a 500 status error. Issue is introduced in v2.10.40.
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>2.10.42-build.491*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>621.245</td></tr><tr><td>BBR SDK</td><td>1.18.43*</td></tr><tr><td>BOSH Director</td><td>272.5.0</td></tr><tr><td>BOSH DNS</td><td>1.31.0</td></tr><tr><td>Metrics Server</td><td>0.1.3</td></tr><tr><td>System Metrics</td><td>2.0.17</td></tr><tr><td>CredHub</td><td>2.12.5</td></tr><tr><td>CredHub Maestro</td><td>8.0.3</td></tr><tr><td>Syslog</td><td>11.7.11</td></tr><tr><td>Windows Syslog</td><td>1.1.6</td></tr><tr><td>UAA</td><td>74.5.41</td></tr><tr><td>BPM</td><td>1.1.18</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>93</td></tr><tr><td>Azure CPI</td><td>38.0.0</td></tr><tr><td>Google CPI</td><td>43.0.0</td></tr><tr><td>OpenStack CPI</td><td>46</td></tr><tr><td>vSphere CPI</td><td>74</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.3</td></tr><tr><td>BBR CLI</td><td>1.9.32*</td></tr><tr><td>Telemetry</td><td>1.2.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-10-41"></a> v2.10.41

**Release Date:** June 07, 2022

- **[Bug Fix]** The BOSH Director would fail to deploy if the persistent disk still contained the postgres 9 data directory. This data has not been in use since Ops Manager 2.4, but there was no automated cleanup process.
- **[Known Issue]** The expiring certificates API endpoint will return a 500 status error for customers that have the syslog feature configured without entering an SSL certificate. Additionally, attempting to generate a support bundle will return an error. To workaround this issue, see [Support bundle download gives error undefined method `strip` and Ops Manager certificate pane does not load](https://community.pivotal.io/s/article/Support-bundle-download-gives-error-undefined-method)
- **[Known Issue]** Deleting custom VM types using the API always returns a 500 status error.
- **[Known Issue]** vSphere deployments may create VMs much more slowly than OpsManager versions prior to 2.10.41 if there are multiple datastores attached to the target AZs.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.3-build.203*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.75*</td></tr><tr><td>BBR SDK</td><td>1.18.60*</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.4</td></tr><tr><td>CredHub</td><td>2.12.18</td></tr><tr><td>CredHub Maestro</td><td>8.0.8</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>46.0.0*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>88*</td></tr><tr><td>BOSH CLI</td><td>7.1.0</td></tr><tr><td>Credhub CLI</td><td>2.9.9</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-2"></a> v3.0.2

**Release Date:** December 16, 2022

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of System Metrics, which will cause all VMs to redeploy.
</div>




<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.2-build.192*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.71*</td></tr><tr><td>BBR SDK</td><td>1.18.59</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.4*</td></tr><tr><td>CredHub</td><td>2.12.18*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0</td></tr><tr><td>Credhub CLI</td><td>2.9.9*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-1"></a> v3.0.1

**Release Date:** December 09, 2022

<div class="note caution"><strong>Caution:</strong>
  This release includes a new version of System Metrics, which will cause all VMs to redeploy.
</div>


- **[Feature]** Deploy the BOSH Director using Postgres 13
- **[Feature]** Improve accessibility when navigating the Ops Manager UI using a keyboard
- **[Bug Fix]** Fix cleanup of files on disk when exporting installation settings
- **[Bug Fix]** Fix error when deploying the BOSH Director in an airgapped environment

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.1-build.184*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.64*</td></tr><tr><td>BBR SDK</td><td>1.18.59*</td></tr><tr><td>BOSH Director</td><td>276.1.1*</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.3*</td></tr><tr><td>CredHub</td><td>2.12.16*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8*</td></tr><tr><td>Syslog</td><td>12.1.1*</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.60*</td></tr><tr><td>BPM</td><td>1.1.21*</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96*</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0*</td></tr><tr><td>Credhub CLI</td><td>2.9.8</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='3-0-0'></a> v3.0.0

**Release Date:** November 15, 2022

* See [New Features in <%= vars.ops_manager %> v3.0](#major-features).
* See [Breaking Changes in <%= vars.ops_manager %> v3.0](#breaking-changes).

<%= vars.ops_manager %> v3.0.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.0-build.158</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.44</td></tr><tr><td>BBR SDK</td><td>1.18.57</td></tr><tr><td>BOSH Director</td><td>276.1.0</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.2</td></tr><tr><td>CredHub</td><td>2.12.13</td></tr><tr><td>CredHub Maestro</td><td>8.0.7</td></tr><tr><td>Syslog</td><td>12.0.6</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.58</td></tr><tr><td>BPM</td><td>1.1.19</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>95</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.8</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.1</td></tr>
  </tbody>
</table>

## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>, see [Upgrading <%= vars.ops_manager %>](install/upgrading-pcf.html).


- **[Feature]** Certificate rotation procedures appear on the **Certificates** page and API endpoint
- **[Feature]** The **Certificates** page can be filtered by both expiration date and rotation procedure
- **[Feature]** Added support for Jammy Jellyfish (Ubuntu 22.04) stemcells.

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='ubuntu-jammy'></a> Jammy Jellyfish Stemcell Support

<%= vars.ops_manager %> <%= vars.v_major_version %> uses Jammy Jellyfish, a Jammy stemcell based on Ubuntu 22.04.

The previously-supported Xenial Xerus stemcells were based on Ubuntu 16.04. These stemcells are due to reach end of general support (EOGS) and stop receiving
security updates in April 2024. You can still use Xenial stemcells with tiles installed on <%= vars.ops_manager %> <%= vars.v_major_version %>
until they reach EOGS.

<%= vars.ops_manager %> <%= vars.v_major_version %> allows tile authors to upgrade from Xenial stemcells to Jammy Jellyfish stemcells. This ensures that
<%= vars.ops_manager %> <%= vars.v_major_version %> users can maintain access to secure stemcells.

### <a id='applied-runtime-config'></a> Review Pending Changes page includes Applied Runtime Configurations

The **Review Pending Changes** page for a tile includes a list of runtime configurations to be applied to that tile.

Tiles can use runtime configurations to influence the behavior of VMs that other tiles deploy. For example, when you activate the **Enable additional System
Metrics** check box in the **Director Config** pane of the BOSH Director tile, the BOSH Director applies a runtime configuration to the VMs that <%= vars.app_runtime_first %> deploys. This configuration allows the BOSH Director to collect detailed metrics from VMs managed by <%= vars.app_runtime_abbr %>.

Changes to a runtime configuration can cause longer deployment times when you re-deploy a tile. By reviewing the runtime configurations that are to be applied
to tiles during re-deployment, you can determine in advance which tiles may take a longer time to re-deploy.

### <a id='aws-vm-catalog'></a> AWS Deployments use 5th-Generation AMD Instances

<%= vars.ops_manager %> <%= vars.v_major_version %> uses 5th-generation AMD instances for AWS deployments. 5th-generation AMD instances have better performance characteristics and are more cost-effective than previous instance types. Both Jammy Jellyfish stemcells and Xenial stemcells support 5th-generation AMD instances.

New installations of <%= vars.ops_manager %> <%= vars.v_major_version %> use 5th-generation AMD instances by default. If you upgrade to
<%= vars.ops_manager %> <%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, you can either keep your current VM types or convert your
VMs to 5th-generation AMD instances in the **AWS Config** pane of the BOSH Director tile. For more information, see [Step 2: AWS Config
Page](aws/config-manual.html#pcfaws-om-awsconfig) in _Configuring BOSH Director on AWS_.

If you are using a custom instance type catalog, the VM types that you can use do not change.

The 5th-generation AMD instances are closer to the recommended default size for tiles. Because of this, product tiles in <%= vars.ops_manager %> select VM
types that are smaller than the previous sizes for their jobs. For example, Diego Cells select an instance type with 2 CPUs and 16&nbsp;GB of RAM. When you
convert your VMs to 5th-generation AMD instances, you may need to either scale up the number of Diego Cell instances or change the selected VM type of certain
jobs to a larger VM type. You can configure both the number of instances and VM type of each job in the **Resource Config** pane of a product tile.

For more information about AWS Linux instance types, see the [AWS documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html). For
more information about AWS Windows instance types, see the [AWS documentation](https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/instance-types.html).

### <a id='aws-gp3'></a> AWS Deployments use GP3 Disks

<%= vars.ops_manager %> <%= vars.v_major_version %> uses gp3 disks for AWS deployments. The gp3 disks have better performance characteristics and and are more cost-effective than gp2 disks.

New installations of <%= vars.ops_manager %> <%= vars.v_major_version %> use gp3 disks by default. If you upgrade to <%= vars.ops_manager %>
<%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, you can either keep your current disk types or convert your disks to gp3 in the
**AWS Config** pane of the BOSH Director tile. For more information, see [Step 2: AWS Config Page](aws/config-manual.html#pcfaws-om-awsconfig) in _Configuring
BOSH Director on AWS_.

### <a id='google-vm-catalog'></a> GCP Deployments use E2 Series Instances

<%= vars.ops_manager %> <%= vars.v_major_version %> uses E2 Series instances for GCP deployments. E2 Series instances have better performance characteristics and and are more cost-effective than previous instance types. Both Jammy Jellyfish stemcells and Xenial stemcells support 5th-generation AMD instances.

New installations of <%= vars.ops_manager %> <%= vars.v_major_version %> use E2 Series instances by default. If you upgrade to <%= vars.ops_manager %>
<%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, you can either keep your current VM types or convert your VMs to E2 Series
instances in the **Google Config** pane of the BOSH Director tile. For more information, see [Step 2: Configure GCP Tile](gcp/config-manual.html#gcp-config)
in _Configuring BOSH Director on GCP_.

If you are using a custom instance type catalog, the VM types you can use do not change.

The E2 Series instances are closer to the recommended default size for tiles. Because of this, product tiles in <%= vars.ops_manager %> select VM types that
are smaller than the previous sizes for their jobs. For example, Diego Cells select an instance type with 2 CPUs and 16&nbsp;GB of RAM. When you convert your
VMs to E2 Series instances, you may need to either scale up the number of Diego Cell instances or change the selected VM type of certain jobs to a larger VM
type. You can configure both the number of instances and VM type of each job in the **Resource Config** pane of a product tile.

For more information about GCP instance types, see the [GCP documentation](https://cloud.google.com/compute/docs/machine-types).

### <a id='google-native-machine-types'></a> GCP Deployments Allow Machine Types in Custom VM Type Catalogs

<%= vars.ops_manager %> <%= vars.v_major_version %> allows you to include machine types in your custom VM type catalogs for GCP deployments. When you configure VMs to use a specific machine type, the BOSH Director creates VMs using that machine type, rather than creating a custom VM that matches the CPU and RAM specifications. This allows you to use specialized VM types that are not in the default <%= vars.ops_manager %> VM type catalog.

If you do not specify a machine type as a custom VM type, the BOSH Director continues to create VMs that match the CPU and RAM specifications.

For more information, see the [<%= vars.ops_manager %> API
documentation](https://docs.pivotal.io/ops-manager/3-0/opsman-api/#tag/VM-types/paths/~1api~1v0~1vm_types/put).


## <a id='breaking-changes'></a> Breaking Changes in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following breaking changes:

### <a id='bosh-metrics-server-removed'></a> BOSH System Metrics Server is removed

The BOSH System Metrics Server is removed from <%= vars.ops_manager %> <%= vars.v_major_version %>.

If you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, and you previously configured the BOSH Director to activate the BOSH System Metrics Server, you must deselect the **Enable deprecated BOSH System Metrics Server** check box and select the **Enable additional System Metrics** check box in the **Director Config** pane of the BOSH Director tile before you begin upgrading. The **Enable BOSH System Metrics Server** check box is removed from the BOSH Director tile.

### <a id='nsx-v-removed'></a> NSX-V Networking is removed

NSX-V networking reached EOGS in January 2022, so you cannot configure NSX-V networking in <%= vars.ops_manager %> <%= vars.v_major_version %>.

You can still configure NSX-T networking for compatible vSphere deployments. For more information, see [Resource Requirements](install/vsphere.html#runtimes)
in _Installing <%= vars.ops_manager %> on vSphere_.

### <a id='keystone-v2-removed'></a> Keystone v2 Authentication is removed

In OpenStack deployments, Keystone v2 is removed and replaced by Keystone v3 for user authentication.

If you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, and you previously used Keystone v2 to authenticate users, you must re-configure your OpenStack deployment to use Keystone v3 before you begin upgrading.

### <a id='bosh-multihome-removed'></a> Multi-Network Configuration for the BOSH Director VM is removed

<%= vars.ops_manager %> v2.10 and earlier included an undocumented API endpoint that allowed you to configure a second network on the BOSH Director VM. In
<%= vars.ops_manager %> <%= vars.v_major_version %>, this API endpoint is removed, and you can no longer configure a second network on the BOSH Director VM.

### <a id='azure'></a> Azure Germany and Azure Stack Support is removed

Microsoft ceased operating the Azure Germany cloud platform in 2021, so you cannot configure an Azure Germany environment in
<%= vars.ops_manager %> <%= vars.v_major_version %>. However, you can still use Germany-based regions in the global Azure Commercial Cloud environment.

You also cannot configure an Azure Stack environment in <%= vars.ops_manager %> <%= vars.v_major_version %>.

### <a id='syslog-custom-rules'></a> Invalid Custom Syslog Rules cause errors

Iin <%= vars.ops_manager %> <%= vars.v_major_version %>, invalid custom syslog rules cause <%= vars.ops_manager %> deployments to fail with a relevant error
message. In <%= vars.ops_manager %> v2.10 and earlier, invalid custom syslog rules only cause <%= vars.ops_manager %> to log errors and discard the invalid
rules.

To avoid deployment failure, validate your custom syslog configuration in one of the following ways:

* As your syslog server is pre-starting, look for a `Custom rule configuration invalid` error message. This error message indicates that one or more of your
custom syslog rules are invalid. You can then edit these custom rules accordingly in the **Custom rsyslog Configuration** field in the **Syslog** pane of the
BOSH Director tile.

* In a terminal window, run `rsyslogd -N1` in a local environment.


## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> v2.10 includes the following known issues:

### <a id='recreate-persistent-disks'></a> BOSH Director Disk Is Re-Created Unnecessarily

Due to an issue with the BOSH CLI, the BOSH Director disk can be re-created even when
the size and properties for it have not changed. This issue does not cause data loss, but
can slow the deployment time while the data migrates from the old disk to the new disk.

This issue is resolved in Ops Manager v2.10.18.

### <a id='metrics-server-upgrade'></a> Metrics Server Configuration Causes BOSH Director Deployment to Fail During Upgrade

During an upgrade to Ops Manager v2.10, the BOSH Director deployment and
subsequent upgrade may fail due to the default enablement of the `metrics-server` job.
An error similar to the following appears in the `metrics-server` logs.

```
Required property 'networks' was not specified in object ({"vm_extensions"=>[{"cloud_properties"=>{"vmx_options"=>{"disk.enableUUID"=>"1"}}, "name"=>"disk_enable_uuid"}, {"cloud_properties"=>{"upgrade_hw_version"=>true}, "name"=>"set_version_hardware"}]}) (Bosh::Director::ValidationMissingField)
```

The cause of this upgrade failure is the presence of a tile, such as any version of Tanzu Kubernetes Grid Integrated Edition (TKGI), that is incompatible with Ops Manager v2.10 due to its default `metrics-server` enablement.

To workaround this issue, see the [BOSH Director fails with non-running job during upgrade to Ops Manager 2.10](https://community.pivotal.io/s/article/OM-2-10-Bosh-Director-fails-to-deploy) Knowledge Base article.

This issue is resolved in Ops Manager v2.10.1.

### <a id='increased-logging'></a> Increased Logging Slows Platform Functions

<%= partial "/pcf/ops-manager/known-issues/increased_logging_ki" %>

### <a id='credhub-generated-field'></a> Reset Manually-Set Certificates in CredHub Before Rotating Certificates with the <%= vars.ops_manager %> API

<!--- If and when this KI is fixed, remove the cross-reference to it in security/pcf-infrastructure/advanced-certificate-rotation.html#prerequisites --->

If you have manually set any certificates in CredHub on <%= vars.ops_manager %> v2.6 or earlier, you need to reset those certificates before using the <%= vars.ops_manager %> API to rotate CredHub certificates.

Resetting these certificates is not a required condition for the <%= vars.ops_manager %> v2.10 upgrade. You can reset them either before or after the upgrade.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](security/pcf-infrastructure/manual-credhub-certificate.html).

For more information about rotating certificates using the <%= vars.ops_manager %> API, see [Overview of Certificate Rotation](security/pcf-infrastructure/api-cert-rotation.html). For more information about the `certificate_authorities/active/regenerate` endpoint, see [Rotate Certificates](https://docs.pivotal.io/pivotalcf/2-10/opsman-api/#create-root-certificate-authorities) in the <%= vars.ops_manager %> API documentation.

### <a id='maestro-gc-error'></a> Maestro Garbage Collection Error

When running `maestro garbage collect`, you might see an error like this:

```
$ maestro garbage-collect ca --all
not_deleted:
    - name: /services/tls_ca
      certificate_id: aaaaaaaa-bbbb-cccc-1111-aaaaaaaaaaa
      version_ids:
        - aaaaaaa-11111-22222-33333-bbbbbbbbbb
error: could not delete some certificate versions
```

You can ignore this error. The certificate should not be deleted.
