---
title: Ops Manager v3.0 release notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_first %> <%= vars.v_major_version %>.

You can upgrade directly from previous versions of <%= vars.ops_manager %> to <%= vars.ops_manager %> <%= vars.v_major_version %>. For more information,
see [Jump Upgrading to <%= vars.ops_manager %> <%= vars.v_major_version %>](jump-upgrades.html).

For the feature highlights of this release, see [New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>](#major-features).

<%= vars.ops_manager %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases
### <a id="3-0-10"></a> v3.0.10+LTS-T

**Release Date:** May 26, 2023

<div class="note warning"><strong>Warning:</strong>
  This release includes a new version of System Metrics, which will cause all VMs to redeploy.
</div>

- **[Known Issue Fix]** The bosh-cli, when uploading releases, will no longer exclude releases that have the same fingerprint but a different name. This behavior caused the "Extracting compiled package archive failed" issue in <%= vars.ops_manager %> v3.0.9+LTS-T.
- **[Bug Fix]** Configuring LDAP authentication via the API will no longer fail when ldap_max_search_depth is not provided.
- **[Bug Fix]** Configuring UAA expiration tokens will no longer cause UAA to restart when the values are not changed.
- **[Bug Fix]** Upgrading <%= vars.ops_manager %> from v2.10 will no longer fail if authentication is configured to use LDAP without a TLS certificate.
- **[Feature]** Core Consumption data can now be downloaded from the "Advanced Options" Settings page. The accuracy of this data depends on upgrading to <%= vars.ops_manager %> Tile versions of products that support this functionality.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.10-build.430*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.117*</td></tr><tr><td>BBR SDK</td><td>1.18.76*</td></tr><tr><td>BOSH Director</td><td>277.3.2*</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>System Metrics</td><td>2.3.1*</td></tr><tr><td>CredHub</td><td>2.12.28*</td></tr><tr><td>CredHub Maestro</td><td>9.0.5*</td></tr><tr><td>Syslog</td><td>12.1.5*</td></tr><tr><td>Windows Syslog</td><td>1.1.14</td></tr><tr><td>UAA</td><td>76.13.0*</td></tr><tr><td>BPM</td><td>1.2.2*</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>98</td></tr><tr><td>Azure CPI</td><td>44.0.0</td></tr><tr><td>Google CPI</td><td>47.0.0</td></tr><tr><td>OpenStack CPI</td><td>52</td></tr><tr><td>vSphere CPI</td><td>92</td></tr><tr><td>BOSH CLI</td><td>7.2.3</td></tr><tr><td>Credhub CLI</td><td>2.9.15*</td></tr><tr><td>BBR CLI</td><td>1.9.45</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr><tr><td>Core Consumption</td><td>0.3.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-9"></a> v3.0.9+LTS-T

**Release Date:** May 08, 2023

- **[Known Issue]** Deployment of TAS and related tiles (e.g. Isolation Segment) will fail during the _first_ Apply Changes with the error, "Extracting compiled package archive failed". If you encounter this error, run Apply Changes again. This issue will be fixed in a following release of <%= vars.ops_manager %>.
- **[Known Issue Fix]** The BOSH Director now looks up compiled packages by name in addition to fingerprint. For more information about this known issue, see [BOSH Inappropriately Reuses Compiled Packages](#bosh-reuses-packages).
- **[Bug Fix]** The See Changes page should not return an error after upgrading from Ops Manager 2.10 to 3.0

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.9-build.367*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.108</td></tr><tr><td>BBR SDK</td><td>1.18.69*</td></tr><tr><td>BOSH Director</td><td>277.3.1*</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.26</td></tr><tr><td>CredHub Maestro</td><td>9.0.4</td></tr><tr><td>Syslog</td><td>12.1.4*</td></tr><tr><td>Windows Syslog</td><td>1.1.14*</td></tr><tr><td>UAA</td><td>76.11.0*</td></tr><tr><td>BPM</td><td>1.2.0</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>98</td></tr><tr><td>Azure CPI</td><td>44.0.0</td></tr><tr><td>Google CPI</td><td>47.0.0</td></tr><tr><td>OpenStack CPI</td><td>52</td></tr><tr><td>vSphere CPI</td><td>92</td></tr><tr><td>BOSH CLI</td><td>7.2.3</td></tr><tr><td>Credhub CLI</td><td>2.9.14</td></tr><tr><td>BBR CLI</td><td>1.9.45*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-8"></a> v3.0.8+LTS-T

**Release Date:** May 01, 2023

- **[Feature]** Allow both gp3 and throughput (IOPS) to be set through API when creating custom disk types
- **[Feature]** Use clang to compile Ruby in Ops Manager
- **[Bug Fix]** Default ldap "Group Max Search Depth" to 1
- **[Bug Fix]** Blobstore credentials do not appear in IaaS metadata when signed URLs are used
- **[Bug Fix]** The "label" of Ops Manager tile form fields can be read out loud by a screen reader, and a screen reader announces that a field is "required" when it is required

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.8-build.344*</td>
  </tr>
  <tr><td>Stemcell (Bosh Director and Ops Manager)</td><td>1.108*</td></tr><tr><td>BBR SDK</td><td>1.18.68*</td></tr><tr><td>BOSH Director</td><td>277.3.0</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.26*</td></tr><tr><td>CredHub Maestro</td><td>9.0.4*</td></tr><tr><td>Syslog</td><td>12.1.3</td></tr><tr><td>Windows Syslog</td><td>1.1.13</td></tr><tr><td>UAA</td><td>76.10.0*</td></tr><tr><td>BPM</td><td>1.2.0</td></tr><tr><td>OS Conf</td><td>22.1.3</td></tr><tr><td>AWS CPI</td><td>98*</td></tr><tr><td>Azure CPI</td><td>44.0.0*</td></tr><tr><td>Google CPI</td><td>47.0.0*</td></tr><tr><td>OpenStack CPI</td><td>52*</td></tr><tr><td>vSphere CPI</td><td>92*</td></tr><tr><td>BOSH CLI</td><td>7.2.3*</td></tr><tr><td>Credhub CLI</td><td>2.9.14*</td></tr><tr><td>BBR CLI</td><td>1.9.44*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='3-0-7'></a> v3.0.7+LTS-T

**Release Date:** April 05, 2023

* **[Feature]** You can download logs for the BOSH Director from the **Status** page in the <%= vars.ops_manager %> Installation Dashboard.

* **[Feature Improvement]** Internal Rails logs for <%= vars.ops_manager %> include log tags.

* **[Feature Improvement]** In the <%= vars.ops_manager %> Installation Dashboard, the **Delete Product** modal is more accessible for users who use screen
readers.

* **[Bug Fix]** The Azure CPI properly updates the Azure China region when you deploy <%= vars.ops_manager %>.

* **[Bug Fix]** `bpm` no longer restricts the size of `/dev/shm` to 64&nbsp;MB. As a result, `/dev/shm` no longer causes PostgreSQL failures.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tanzu Ops Manager</td><td>3.0.7-build.289*</td>
  </tr>
  <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.95</td></tr><tr><td>BBR SDK</td><td>1.18.63*</td></tr><tr><td>BOSH Director</td><td>277.3.0</td></tr><tr><td>BOSH DNS</td><td>1.36.1</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.24*</td></tr><tr><td>CredHub Maestro</td><td>9.0.3*</td></tr><tr><td>Syslog</td><td>12.1.3</td></tr><tr><td>Windows Syslog</td><td>1.1.13</td></tr><tr><td>UAA</td><td>76.8.0</td></tr><tr><td>BPM</td><td>1.2.0*</td></tr><tr><td>OS Conf</td><td>22.1.3*</td></tr><tr><td>AWS CPI</td><td>97</td></tr><tr><td>Azure CPI</td><td>43.0.0*</td></tr><tr><td>Google CPI</td><td>46.0.2</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>91*</td></tr><tr><td>BOSH CLI</td><td>7.2.2*</td></tr><tr><td>Credhub CLI</td><td>2.9.13</td></tr><tr><td>BBR CLI</td><td>1.9.43*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='3-0-6'></a> v3.0.6+LTS-T

**Release Date:** March 24, 2023

<p class='note caution'><strong>Caution:</strong> This release includes a new version of BOSH DNS. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.6+LTS-T causes all VMs to re-deploy.</p>

* **[Feature]** Logs downloaded from BOSH-deployed VMs through <%= vars.ops_manager %> also contain logs from the `/var/log` directory.

* **[Known Issue Fix]** After you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>.6+LTS-T, improperly encoded data in the
<%= vars.ops_manager %> database does not cause re-deployments to fail. For more information about this known issue, see [Missing Classes Cause Re-Deployment
Failures](#re-deploy-fail).
  <p class='note'><strong>Note:</strong> If you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>.6+LTS-T to resolve this issue, a
    <%= vars.ops_manager %> <%= vars.v_major_version %>.5+LTS-T deployment that contains a large number of records on the <strong>Change Log</strong> page of
    the <%= vars.ops_manager %> Installation Dashboard might take a long time to import.</p>

* **[Bug Fix]** When you retrieve the manifest for a deployed product through the <%= vars.ops_manager %> API, the API endpoint no longer returns an invalid
manifest.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.6-build.269*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.95*</td></tr><tr><td>BBR SDK</td><td>1.18.62</td></tr><tr><td>BOSH Director</td><td>277.3.0</td></tr><tr><td>BOSH DNS</td><td>1.36.1*</td></tr><tr><td>System Metrics</td><td>2.2.7</td></tr><tr><td>CredHub</td><td>2.12.23*</td></tr><tr><td>CredHub Maestro</td><td>9.0.2*</td></tr><tr><td>Syslog</td><td>12.1.3</td></tr><tr><td>Windows Syslog</td><td>1.1.13</td></tr><tr><td>UAA</td><td>76.8.0*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>97</td></tr><tr><td>Azure CPI</td><td>42.0.0</td></tr><tr><td>Google CPI</td><td>46.0.2*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>90</td></tr><tr><td>BOSH CLI</td><td>7.2.0*</td></tr><tr><td>Credhub CLI</td><td>2.9.13*</td></tr><tr><td>BBR CLI</td><td>1.9.42*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='3-0-5'></a> v3.0.5+LTS-T

**Release Date:** March 10, 2023

<p class='note caution'><strong>Caution:</strong> This release includes a new version of System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.5+LTS-T causes all VMs to re-deploy.</p>

* **[Feature]** <%= vars.ops_manager %> <%= vars.v_major_version %> is a long-term support (LTS) version. If you use automation scripts to deploy
<%= vars.ops_manager %>, you might need to update them in order to install new patch versions. For more information, see [Long-Term Support for
<%= vars.ops_manager %> <%= vars.v_major_version %>](#lts).

* **[Feature]** You can rotate non-configurable leaf certificates through the **Review Pending Changes** page in the <%= vars.ops_manager %> Installation
Dashboard. For more information, see [Rotate Non-Configurable Leaf Certificates During Re-Deployment](#rotate-certs-redeploy).

* **[Feature]** You can configure your VMs to use short-lived NATS credentials during the bootstrap process. For more information, see [Short-Lived NATS
Bootstrap Credentials](#short-lived-nats-creds).

* **[Feature Improvement]** <%= vars.ops_manager %> <%= vars.v_major_version %> uses Rails 7.0.

* **[Feature Improvement]** <%= vars.ops_manager %> <%= vars.v_major_version %> uses Node 18.

* **[Feature Improvement]** <%= vars.ops_manager %> <%= vars.v_major_version %> supports vSphere 8.0 and NSX 4.0.

* **[Feature Improvement]** In the <%= vars.ops_manager %> Installation Dashboard, load times and caching for the **Stemcell Library** page are improved.

* **[Known Issue Fix]** Upgrading from previous versions of <%= vars.ops_manager %> does not corrupt the PostgreSQL database indexes in the BOSH Director. For
more information about this known issue, see [Upgrading <%= vars.ops_manager %> Corrupts BOSH Director PostgreSQL Database Indexes](#postgres-db-index).

* **[Known Issue]** After you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>.5+LTS-T, improperly encoded data in the <%= vars.ops_manager %>
database can cause re-deployments to fail. For more information, see [Missing Classes Cause Re-Deployment Failures](#re-deploy-fail).

* **[Bug Fix]** Temporary verifier failures are properly exposed and do not cause a `500` error.

* **[Bug Fix]** In the <%= vars.ops_manager %> Installation Dashboard, the **Review Pending Changes** page does not show a `Stemcell Out of Date` status when
you are using the most recent stemcell versions.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.5-build.251*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.93*</td></tr><tr><td>BBR SDK</td><td>1.18.62*</td></tr><tr><td>BOSH Director</td><td>277.3.0*</td></tr><tr><td>BOSH DNS</td><td>1.36.0</td></tr><tr><td>System Metrics</td><td>2.2.7*</td></tr><tr><td>CredHub</td><td>2.12.21*</td></tr><tr><td>CredHub Maestro</td><td>9.0.1*</td></tr><tr><td>Syslog</td><td>12.1.3*</td></tr><tr><td>Windows Syslog</td><td>1.1.13*</td></tr><tr><td>UAA</td><td>76.7.0*</td></tr><tr><td>BPM</td><td>1.1.21</td>
    </tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>97*</td></tr><tr><td>Azure CPI</td><td>42.0.0*</td></tr><tr><td>Google CPI</td><td>46.0.1</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>90*</td></tr><tr><td>BOSH CLI</td><td>7.1.3*</td></tr><tr><td>Credhub CLI</td><td>2.9.12*</td></tr><tr><td>BBR CLI</td><td>1.9.41*</td></tr><tr><td>Telemetry</td><td>2.0.5</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='3-0-4'></a> v3.0.4

**Release Date:** February 09, 2023

<p class='note caution'><strong>Caution:</strong> This release includes new versions of BOSH DNS and System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.4 causes all VMs to re-deploy.</p>

* **[Feature]** The <%= vars.ops_manager %> Installation Dashboard uses more inclusive text.

* **[Bug Fix]** When you click **See Changes**, secrets are correctly redacted from <%= vars.ops_manager %> production logs.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.4-build.227*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.83*</td></tr><tr><td>BBR SDK</td><td>1.18.61*</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.36.0*</td></tr><tr><td>System Metrics</td><td>2.2.5*</td></tr><tr><td>CredHub</td><td>2.12.19*</td></tr><tr><td>CredHub Maestro</td><td>8.0.9*</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.63*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>46.0.1*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>89*</td></tr><tr><td>BOSH CLI</td><td>7.1.2*</td></tr><tr><td>Credhub CLI</td><td>2.9.10*</td></tr><tr><td>BBR CLI</td><td>1.9.39*</td></tr><tr><td>Telemetry</td><td>2.0.5*</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='3-0-3'></a> v3.0.3

**Release Date:** January 06, 2023

* **[Feature]** The ephemeral disk size of `e2-highmem-4` and `e2-highmem-8` VM types is increased.

* **[Feature]** You can download logs for instances and instance groups from the **Status** page in the <%= vars.ops_manager %> Installation Dashboard.

* **[Feature]** <%= vars.ops_manager %> creates additional logs to track when tile migrations are applied. This allows VMware to better use logs to debug
issues with tile upgrade failures.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.3-build.203*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.75*</td></tr><tr><td>BBR SDK</td><td>1.18.60*</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.4</td></tr><tr><td>CredHub</td><td>2.12.18</td></tr><tr><td>CredHub Maestro</td><td>8.0.8</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>46.0.0*</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>88*</td></tr><tr><td>BOSH CLI</td><td>7.1.0</td></tr><tr><td>Credhub CLI</td><td>2.9.9</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='3-0-2'></a> v3.0.2

**Release Date:** December 16, 2022

<p class='note caution'><strong>Caution:</strong> This release includes a new version of System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.2 causes all VMs to re-deploy.</p>

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.2-build.192*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.71*</td></tr><tr><td>BBR SDK</td><td>1.18.59</td></tr><tr><td>BOSH Director</td><td>276.1.1</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.4*</td></tr><tr><td>CredHub</td><td>2.12.18*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8</td></tr><tr><td>Syslog</td><td>12.1.1</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.61*</td></tr><tr><td>BPM</td><td>1.1.21</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0</td></tr><tr><td>Credhub CLI</td><td>2.9.9*</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="3-0-1"></a> v3.0.1

**Release Date:** December 09, 2022

<p class='note caution'><strong>Caution:</strong> This release includes a new version of System Metrics. Upgrading to <%= vars.ops_manager %>
  <%= vars.v_major_version %>.1 causes all VMs to re-deploy.</p>

* **[Feature]** BOSH Director is deployed with PostgreSQL 13.

* **[Feature]** Keyboard accessibility for navigating the <%= vars.ops_manager %> Installation Dashboard is improved.

* **[Bug Fix]** When you export your installation settings, files on disk are properly cleaned up.

* **[Bug Fix]** Deploying the BOSH Director in an air-gapped environment no longer causes an error.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.1-build.184*</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.64*</td></tr><tr><td>BBR SDK</td><td>1.18.59*</td></tr><tr><td>BOSH Director</td><td>276.1.1*</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.3*</td></tr><tr><td>CredHub</td><td>2.12.16*</td></tr><tr><td>CredHub Maestro</td><td>8.0.8*</td></tr><tr><td>Syslog</td><td>12.1.1*</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.60*</td></tr><tr><td>BPM</td><td>1.1.21*</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>96*</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.1.0*</td></tr><tr><td>Credhub CLI</td><td>2.9.8</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.2*</td></tr>
      <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id='3-0-0'></a> v3.0.0

**Release Date:** November 15, 2022

* See [New Features in <%= vars.ops_manager %> v3.0](#major-features).

* See [Breaking Changes in <%= vars.ops_manager %> v3.0](#breaking-changes).

* See [Known Issues in <%= vars.ops_manager %> v3.0](#known-issues).

<%= vars.ops_manager %> v3.0.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanzu Ops Manager</td><td>3.0.0-build.158</td>
    </tr>
    <tr><td>Stemcell (BOSH Director and Ops Manager)</td><td>1.44</td></tr><tr><td>BBR SDK</td><td>1.18.57</td></tr><tr><td>BOSH Director</td><td>276.1.0</td></tr><tr><td>BOSH DNS</td><td>1.34.0</td></tr><tr><td>System Metrics</td><td>2.2.2</td></tr><tr><td>CredHub</td><td>2.12.13</td></tr><tr><td>CredHub Maestro</td><td>8.0.7</td></tr><tr><td>Syslog</td><td>12.0.6</td></tr><tr><td>Windows Syslog</td><td>1.1.11</td></tr><tr><td>UAA</td><td>74.5.58</td></tr><tr><td>BPM</td><td>1.1.19</td></tr><tr><td>OS Conf</td><td>22.1.2</td></tr><tr><td>AWS CPI</td><td>95</td></tr><tr><td>Azure CPI</td><td>41.0.0</td></tr><tr><td>Google CPI</td><td>45.0.0</td></tr><tr><td>OpenStack CPI</td><td>51</td></tr><tr><td>vSphere CPI</td><td>87</td></tr><tr><td>BOSH CLI</td><td>7.0.1</td></tr><tr><td>Credhub CLI</td><td>2.9.8</td></tr><tr><td>BBR CLI</td><td>1.9.38</td></tr><tr><td>Telemetry</td><td>2.0.1</td></tr>
  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to upgrade

To upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>, see [Upgrading <%= vars.ops_manager %>](install/upgrading-pcf.html).


## <a id='major-features'></a> New features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='lts'></a> Long-term support for <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> is a long-term support (LTS) version of <%= vars.ops_manager %>. <%= vars.ops_manager %>
<%= vars.v_major_version %> is to be supported through March 2025.

Over the lifecycle of <%= vars.ops_manager %> <%= vars.v_major_version %>, VMware releases security patches that occasionally include feature improvements
and maintenance updates.

Versions and filenames for <%= vars.ops_manager %> <%= vars.v_major_version %> releases on VMware Tanzu Network include a `+LTS-T` suffix to indicate its LTS
status. If you use automation scripts to deploy <%= vars.ops_manager %>, you might need to update them to include this suffix in your version and filename
patterns. For example, the filename for the Azure version of <%= vars.ops_manager %> <%= vars.v_major_version %>.4 is `ops-manager-azure-3.0.4-build.227.yml`,
while the filename for the Azure version of <%= vars.ops_manager %> <%= vars.v_major_version %>.5+LTS-T is `ops-manager-azure-3.0.5+LTS-T.yml`.

You can jump upgrade directly from previous versions of <%= vars.ops_manager %> to <%= vars.ops_manager %> <%= vars.v_major_version %>. For more information,
see [Jump Upgrading to <%= vars.ops_manager %> <%= vars.v_major_version %>](jump-upgrades.html).

### <a id='ubuntu-jammy'></a> Jammy Jellyfish stemcell support

<%= vars.ops_manager %> <%= vars.v_major_version %> uses Jammy Jellyfish, a Jammy stemcell based on Ubuntu 22.04.

The previously-supported Xenial Xerus stemcells were based on Ubuntu 16.04. These stemcells are due to reach end of general support (EOGS) and stop receiving
security updates in April 2024. You can still use Xenial stemcells with tiles installed on <%= vars.ops_manager %> <%= vars.v_major_version %>
until they reach EOGS.

<%= vars.ops_manager %> <%= vars.v_major_version %> allows tile authors to upgrade from Xenial stemcells to Jammy Jellyfish stemcells. This ensures that
<%= vars.ops_manager %> <%= vars.v_major_version %> users can maintain access to secure stemcells.

### <a id='applied-runtime-config'></a> Review Pending Changes page includes applied runtime configurations

In the <%= vars.ops_manager %> Installation Dashboard, the **Review Pending Changes** page for a tile includes a list of runtime configurations to be applied
to that tile.

Tiles can use runtime configurations to influence the behavior of VMs that other tiles deploy. For example, when you activate the **Enable additional System
Metrics** check box in the **Director Config** pane of the BOSH Director tile, the BOSH Director applies a runtime configuration to the VMs that
<%= vars.app_runtime_first %> deploys. This configuration allows the BOSH Director to collect detailed metrics from VMs managed by
<%= vars.app_runtime_abbr %>.

Changes to a runtime configuration can cause longer deployment times when you re-deploy a tile. By reviewing the runtime configurations that are to be applied
to tiles during re-deployment, you can determine in advance which tiles might take a longer time to re-deploy.

### <a id='aws-vm-catalog'></a> AWS deployments use 5th-generation AMD instances

<%= vars.ops_manager %> <%= vars.v_major_version %> uses 5th-generation AMD instances for AWS deployments. 5th-generation AMD instances have better
performance characteristics and are more cost-effective than previous instance types. Both Jammy Jellyfish stemcells and Xenial stemcells support
5th-generation AMD instances.

New installations of <%= vars.ops_manager %> <%= vars.v_major_version %> use 5th-generation AMD instances by default. If you upgrade to
<%= vars.ops_manager %> <%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, you can either keep your current VM types or convert your
VMs to 5th-generation AMD instances in the **AWS Config** pane of the BOSH Director tile. For more information, see [Step 2: AWS Config
Page](aws/config-manual.html#pcfaws-om-awsconfig) in _Configuring BOSH Director on AWS_.

If you are using a custom instance type catalog, the VM types that you can use do not change.

The 5th-generation AMD instances are closer to the recommended default size for tiles. Because of this, product tiles in <%= vars.ops_manager %> select VM
types that are smaller than the previous sizes for their jobs. For example, Diego Cells select an instance type with 2 CPUs and 16&nbsp;GB of RAM. When you
convert your VMs to 5th-generation AMD instances, you might need to either scale up the number of Diego Cell instances or change the selected VM type of certain
jobs to a larger VM type. You can configure both the number of instances and VM type of each job in the **Resource Config** pane of a product tile.

For more information about AWS Linux instance types, see the [AWS documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html). For
more information about AWS Windows instance types, see the [AWS documentation](https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/instance-types.html).

### <a id='aws-gp3'></a> AWS deployments use gp3 disks

<%= vars.ops_manager %> <%= vars.v_major_version %> uses gp3 disks for AWS deployments. The gp3 disks have better performance characteristics and are more
cost-effective than gp2 disks.

New installations of <%= vars.ops_manager %> <%= vars.v_major_version %> use gp3 disks by default. If you upgrade to <%= vars.ops_manager %>
<%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, you can either keep your current disk types or convert your disks to gp3 in the
**AWS Config** pane of the BOSH Director tile. For more information, see [Step 2: AWS Config Page](aws/config-manual.html#pcfaws-om-awsconfig) in _Configuring
BOSH Director on AWS_.

### <a id='google-vm-catalog'></a> GCP deployments use E2 Series instances

<%= vars.ops_manager %> <%= vars.v_major_version %> uses E2 Series instances for GCP deployments. E2 Series instances have better performance characteristics
and are more cost-effective than previous instance types. Both Jammy Jellyfish stemcells and Xenial stemcells support E2 Series instances.

New installations of <%= vars.ops_manager %> <%= vars.v_major_version %> use E2 Series instances by default. If you upgrade to <%= vars.ops_manager %>
<%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, you can either keep your current VM types or convert your VMs to E2 Series
instances in the **Google Config** pane of the BOSH Director tile. For more information, see [Step 2: Configure GCP Tile](gcp/config-manual.html#gcp-config)
in _Configuring BOSH Director on GCP_.

If you are using a custom instance type catalog, the VM types you can use do not change.

The E2 Series instances are closer to the recommended default size for tiles. Because of this, product tiles in <%= vars.ops_manager %> select VM types that
are smaller than the previous sizes for their jobs. For example, Diego Cells select an instance type with 2 CPUs and 16&nbsp;GB of RAM. When you convert your
VMs to E2 Series instances, you might need to either scale up the number of Diego Cell instances or change the selected VM type of certain jobs to a larger VM
type. You can configure both the number of instances and VM type of each job in the **Resource Config** pane of a product tile.

For more information about GCP instance types, see the [GCP documentation](https://cloud.google.com/compute/docs/machine-types).

### <a id='google-native-machine-types'></a> GCP deployments allow machine types in custom VM type catalogs

<%= vars.ops_manager %> <%= vars.v_major_version %> allows you to include machine types in your custom VM type catalogs for GCP deployments. When you
configure VMs to use a specific machine type, the BOSH Director creates VMs using that machine type, rather than creating a custom VM that matches the CPU and
RAM specifications. This allows you to use specialized VM types that are not in the default <%= vars.ops_manager %> VM type catalog.

If you do not specify a machine type as a custom VM type, the BOSH Director continues to create VMs that match the CPU and RAM specifications.

For more information about custom VM type catalogs for GCP deployments, see the [<%= vars.ops_manager %> API
documentation](https://docs.pivotal.io/ops-manager/3-0/opsman-api/#tag/VM-types/paths/~1api~1v0~1vm_types/put).

### <a id='short-lived-nats-creds'></a> Short-lived NATS bootstrap credentials

In <%= vars.ops_manager %> <%= vars.v_major_version %>, the **Director Config** pane includes the **Enable Short Lived NATS Bootstrap Credentials** check box.
Activating this check box configures your VMs to use short-lived NATS credentials during the bootstrap process. This increases the security of your
<%= vars.ops_manager %> deployment by rotating the TLS certificate that the BOSH Agents in your VMs use to communicate with the BOSH Director through BOSH
NATS.

For more information about short-lived NATS bootstrap credentials, see [Using Short-Lived NATS Bootstrap
Credentials](security/pcf-infrastructure/rotate-bootstrap-nats-certificates.html).

<p class='note caution'><strong>Caution:</strong> Before configuring your VMs to use short-lived NATS bootstrap credentials, you must ensure that all VMs in
  your <%= vars.ops_manager %> deployment are using stemcells that support them, including VMs deployed by service tiles. VMs that do not use stemcells that
  support short-lived NATS bootstrap credentials might become unresponsive. For more information, see
  <a href="security/pcf-infrastructure/rotate-bootstrap-nats-certificates.html#stemcells">Stemcell Compatibility</a> in <em>Using Short-Lived NATS Bootstrap
  Credentials</em>.</p>

### <a id='rotate-certs-redeploy'></a> Rotate non-configurable leaf certificates during re-deployment

In <%= vars.ops_manager %> <%= vars.v_major_version %>, the **Review Pending Changes** page in the <%= vars.ops_manager %> Installation Dashboard includes the
**Rotate All Non-Configurable Leaf Certificates** check box. Activating this check box allows you to rotate non-configurable leaf certificates when you
re-deploy your tiles through the <%= vars.ops_manager %> Installation Dashboard, instead of having to rotate them through the <%= vars.ops_manager %> API.

For more information about rotating non-configurable leaf certificates through the <%= vars.ops_manager %> Installation Dashboard, see [Review Pending Changes
Page](install/review-pending-changes.html#review-pending-changes) in _Reviewing Pending Product Changes_.


## <a id='breaking-changes'></a> Breaking changes in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following breaking changes:

### <a id='bosh-metrics-server-removed'></a> BOSH System Metrics Server is removed

The BOSH System Metrics Server is removed from <%= vars.ops_manager %> <%= vars.v_major_version %>.

If you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, and you previously configured the BOSH
Director to deploy the BOSH System Metrics Server, you must deactivate the **Enable deprecated BOSH System Metrics Server** check box and activate the
**Enable additional System Metrics** check box in the **Director Config** pane of the BOSH Director tile before you begin upgrading. In <%= vars.ops_manager %>
<%= vars.v_major_version %>, the **Enable BOSH System Metrics Server** check box is removed from the BOSH Director tile.

### <a id='nsx-v-removed'></a> NSX-V networking is removed

NSX-V networking reached EOGS in January 2022. Because of this, you cannot configure NSX-V networking in <%= vars.ops_manager %> <%= vars.v_major_version %>.

You can still configure NSX-T networking for compatible vSphere deployments. For more information, see [Resource Requirements](install/vsphere.html#runtimes)
in _Installing <%= vars.ops_manager %> on vSphere_.

### <a id='keystone-v2-removed'></a> Keystone v2 authentication is removed

In <%= vars.ops_manager %> <%= vars.v_major_version %>, Keystone v2 is removed and replaced by Keystone v3 for user authentication in OpenStack deployments.

If you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %> from <%= vars.ops_manager %> v2.10 or earlier, and you previously used Keystone v2 to
authenticate users, you must re-configure your deployment to use Keystone v3 authentication before you begin upgrading.

### <a id='bosh-multihome-removed'></a> Multi-network configuration for the BOSH Director VM is removed

<%= vars.ops_manager %> v2.10 and earlier include an undocumented API endpoint that allows you to configure a second network on the BOSH Director VM. In
<%= vars.ops_manager %> <%= vars.v_major_version %>, this API endpoint is removed, and you can no longer configure a second network on the BOSH Director VM.

### <a id='azure'></a> Azure Germany and Azure Stack support is removed

As of 2021, Microsoft has discontinued the Azure Germany cloud platform. Because of this, you cannot configure an Azure Germany environment in
<%= vars.ops_manager %> <%= vars.v_major_version %>. However, you can still use Germany-based regions in the global Azure Commercial Cloud environment.

You also cannot configure an Azure Stack environment in <%= vars.ops_manager %> <%= vars.v_major_version %>.

### <a id='syslog-custom-rules'></a> Invalid custom syslog rules cause errors

In <%= vars.ops_manager %> <%= vars.v_major_version %>, invalid custom syslog rules cause <%= vars.ops_manager %> deployments to fail with a relevant error
message. In <%= vars.ops_manager %> v2.10 and earlier, invalid custom syslog rules only cause <%= vars.ops_manager %> to log errors and discard the invalid
rules.

To avoid deployment failure, validate your custom syslog configuration in one of the following ways:

* As your syslog server is pre-starting, look for a `Custom rule configuration invalid` error message. This error message indicates that one or more of your
custom syslog rules are invalid. You can then edit these custom rules accordingly in the **Custom rsyslog Configuration** field in the **Syslog** pane of the
BOSH Director tile.

* In a terminal window, run the following command in a local environment:

    ```
    rsyslogd -N1
    ```


## <a id='known-issues'></a> Known issues

In <%= vars.ops_manager %> <%= vars.v_major_version %> includes the following known issues:

### <a id='postgres-db-index'></a> Upgrading <%= vars.ops_manager %> corrupts BOSH Director PostgreSQL database indexes

In <%= vars.ops_manager %> <%= vars.v_major_version %>, the BOSH Director is deployed using a Jammy stemcell. In <%= vars.ops_manager %> v2.10 and earlier,
the BOSH Director is deployed using a Xenial stemcell, which uses a different version of `glibc`. When you upgrade to <%= vars.ops_manager %>
<%= vars.v_major_version %> from an earlier version, the difference in the string collation for `glibc` can cause the indexes of the PostgreSQL database in
the BOSH Director to become corrupt. As a result, upgrading to <%= vars.ops_manager %> <%= vars.v_major_version %> can cause the BOSH Director to fail.

This issue is resolved in <%= vars.ops_manager %> <%= vars.v_major_version %>.5+LTS-T. If you previously upgraded to <%= vars.ops_manager %>
<%= vars.v_major_version %> from an earlier version and have already encountered this issue, upgrading to <%= vars.ops_manager %>
<%= vars.v_major_version %>.5+LTS-T might cause your <%= vars.ops_manager %> deployment to fail. If this happens, contact
[Support](https://tanzu.vmware.com/support) for assistance.

### <a id='re-deploy-fail'></a> Missing classes cause re-deployment failures

After you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>.5+LTS-T, improperly encoded data in the <%= vars.ops_manager %> database can cause
errors similar to the following example when you re-deploy <%= vars.ops_manager %>:

```
Error in step runner run method (show -1 as exit code): Tried to load unspecified class: ActiveSupport::HashWithIndifferentAccess
```

As a result, <%= vars.ops_manager %> fails to deploy again.

To see whether improperly encoded data exists in your <%= vars.ops_manager %> database:

1. In a browser window, go to `https://OPS-MANAGER-FQDN/debug/files`, where `OPS-MANAGER-FQDN` is the fully-qualified domain name (FQDN) for your
<%= vars.ops_manager %> deployment.

1. After you have reached the page described in the previous step, search the page for `HashWithIndifferentAccess`. If the `HashWithIndifferentAccess` string
appears on the page, the database for your <%= vars.ops_manager %> deployment contains the improperly encoded data that causes <%= vars.ops_manager %>
re-deployments to fail.

This issue is resolved in <%= vars.ops_manager %> <%= vars.v_major_version %>.6+LTS-T.

<p class='note'><strong>Note:</strong> If you upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>.6+LTS-T to resolve this issue, a
  <%= vars.ops_manager %> <%= vars.v_major_version %>.5+LTS-T deployment that contains a large number of records on the <strong>Change Log</strong> page of
  the <%= vars.ops_manager %> Installation Dashboard might take a long time to import.</p>

### <a id='bosh-reuses-packages'></a> BOSH inappropriately reuses compiled packages

The BOSH Director attempts to match packages from an uploaded release to "similar" packages that have been previously uploaded. The match is made using the fingerprint on the uncompiled package contents. However, recently the packages in <code>golang-release</code> were modified to be templated. This led to packages that shared the same fingerprint to be used interchangeably even though they represented different versions of Golang. Reusing these packages could cause Apply Changes to fail if a tile expected one version of Golang but got another.

This issue is resolved in <%= vars.ops_manager %> <%= vars.v_major_version %>.9+LTS-T.
