---
title: Performing ongoing operations on your Tanzu Operations Manager deployment
owner: Ops Manager Documentation
---

These topics describe ongoing operations: routine procedures that you as an operator perform to keep <%= vars.ops_manager_first %> working as it should, or to change how it works if it needs to do something new or has a problem.

Examples of ongoing operations include:

* Performing <%= vars.ops_manager %> upgrades.

* Making changes to your IaaS and external components.

* Monitoring platform health, checking logs, and generating usage reports.

* Tuning the platform to eliminate bottlenecks or increase capacity.

* Giving developers access to new software services, stacks, and app capabilities.

* Backing up and restoring the platform.

In addition to these tasks, <%= vars.ops_manager %> operators also routinely perform Day 2 configurations to configure or change platform features and integrations even well past Day 2. For more information, see [Day 2 Configurations](https://docs.pivotal.io/platform/customizing/day2.html).

## <a id='upgrading'></a> Upgrading

* [Upgrading <%= vars.ops_manager %>](../install/upgrading-pcf.html).

* [Upgrading <%= vars.app_runtime_abbr %> and Other <%= vars.ops_manager %> Products](../install/upgrading-products.html).

* [cf push availability during <%= vars.app_runtime_abbr %> upgrades](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/cfpush-availability-during-upgrade.html).

* [Upgrading <%= vars.ops_manager %> on Azure](../install/azure-om-upgrade.html).

* [Upgrading <%= vars.ops_manager %> on GCP](../install/gcp-om-upgrade.html).

* [Upgrade Load Example&#58; Pivotal Web Services](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/upgrade-checklist.html).

## <a id='changes'></a> IaaS changes

* [Migrating <%= vars.ops_manager %> to a new datastore in vSphere](../refarch/vsphere/vsphere_migrate_datastore.html).

* [Upgrading vSphere without <%= vars.ops_manager %> downtime](../refarch/vsphere/vsphere_upgrade.html).

* [Deleting <%= vars.ops_manager %> on AWS](../install/deleting-aws-install.html).

* [Deleting <%= vars.ops_manager %> on Azure](../install/deleting-azure-install.html).

* [Deleting <%= vars.ops_manager %> on GCP](../install/deleting-gcp-install.html).

## <a id='monitoring'></a> Monitoring, logging, and reporting

* [Logs and metrics sources](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/data-sources.html)

* [Monitoring <%= vars.ops_manager %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/monitoring-index.html)

	* [Key performance indicators](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/monitoring-kpi.html)

	* [Key capacity scaling indicators](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/monitoring-key-cap-scaling.html)

	* [Selecting and configuring a monitoring system](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/monitoring-metrics.html)

* [Loggregator architecture](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/loggregator-architecture.html)

* [Loggregator Guide for TAS for VMs Operators](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/log-ops-guide.html)

* [Security event logging](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/cc-uaa-logging.html)

* [Reporting instance usage with Apps Manager](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/accounting-report-apps-man.html)

* [Reporting app, task, and service instance usage](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/accounting-report.html)

* [Monitoring VMs in <%= vars.ops_manager %>](../install/monitoring.html)

* [Monitoring VMs in vSphere](../install/monitoring-vsphere.html)

## <a id='tuning'></a> Platform tuning

* [Scaling <%= vars.app_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/scaling-ert-components.html)

* [Managing internal databases](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/internal-databases.html)

* [Gorouter back end keep-alive connections](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/routing-keepalive.html)

* [High Availability in <%= vars.app_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/high-availability.html)

## <a id='devs'></a> Enabling developers

* [Adding and deleting products](../install/add-delete.html)

* [Managing isolation segments](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/isolation-segments.html)

* [Routing for isolation segments](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/routing-is.html)

* [Enabling volume services](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/enable-vol-services.html)

* [Configuring container-to-container networking](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/deploy-apps-cf-networking.html)

* [Switching app domains](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/switching-domains.html)

## <a id='backups'></a> Backing up

* [Disaster recovery](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-disaster-recovery.html)

* [Backing up and restoring deployments](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-index.html)

* [Backing up deployments with BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-backup-pcf-bbr.html)

* [<%= vars.app_runtime_abbr %> component availability during backup](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-component-backups.html)

* [Restoring deployments from backup with BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-restore-pcf-bbr.html)

* [Stopping and starting virtual machines](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/start-stop-vms.html)

* [Troubleshooting BBR](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-backup-restore-troubleshooting-bbr.html)

* [BOSH backup and restore (Open-Source Documentation)](http://docs.cloudfoundry.org/bbr/index.html)

## <a id='security'></a> Security

* [Retrieving credentials from your deployment](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-credentials.html)

* [Restricting app access to internal <%= vars.ops_manager %> components](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/app-sec-groups.html)

* [Providing a certificate for your TLS termination point](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/security_config.html)

* [Overview of certificate rotation](../security/pcf-infrastructure/api-cert-rotation.html)

* [Rotating Runtime CredHub encryption keys](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/credential-rotation.html)
