---
title: AVS reference architecture for Ops Manager and runtimes
owner: TAS Journey Platform Provider Experience
---

This topic describes a Azure VMware Solution (AVS) reference architecture for <%= vars.ops_manager_first %> and any runtime products, including <%= vars.app_runtime_first %>.
This architecture builds on the common base architectures described in [Architecture and planning for Ops Manager and runtimes](../index.html).

For additional requirements and installation instructions for <%= vars.ops_manager %> on AVS, see the [<%= vars.app_runtime_abbr %>
documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/avs.html).

The AVS reference architecture for the <%= vars.app_runtime_abbr %> runtime tiles is based on a software-defined networking (SDN) infrastructure. AVS offers NSX-T to support SDN infrastructure.

<%= vars.ops_manager %> supports these configurations for AVS deployments:

* <%= vars.app_runtime_abbr %> on AVS with NSX-T. For more information, see [<%= vars.app_runtime_abbr %> on AVS with NSX-T](#pas-nsx-t).


## <a id='pas-nsx-t'></a> <%= vars.app_runtime_abbr %> on AVS with NSX-T

These sections describe the reference architecture for <%= vars.ops_manager %> with <%= vars.app_runtime_abbr %> on AVS with NSX-T deployments.
They also provide requirements and recommendations for deploying <%= vars.ops_manager %> with <%= vars.app_runtime_abbr %> on AVS with NSX-T,
such as network, load balancing, and storage capacity requirements and recommendations.

<%= vars.app_runtime_abbr %> on AVS with NSX-T supports these following SDN features:

* Virtualized, encapsulated networks and encapsulated broadcast domains

* VLAN exhaustion avoidance with the use of virtualized Logical Networks

* DNAT/SNAT services to create separate, non-routable network spaces for the <%= vars.app_runtime_abbr %> installation

* Load balancing services to pass traffic through Layer 4 to pools of platform routers at Layer 7

* SSL termination at the load balancer at Layer 7 with the option to forward on at Layer 4 or 7 with unique certificates

* Virtual, distributed routing and firewall services native to the hypervisor

### <a id='pas-nsx-t-diagram'></a> Architecture

The diagram below illustrates reference architecture for <%= vars.app_runtime_abbr %> on AVS with NSX-T deployments:

![alt-text="Architecture on AVS with NSX-T deployment. For information about the components and networking in the diagram, see the description that follows."](../images/v2/export/PAS_vSphere_NSX-T.png)

[View a larger version of this diagram.](../images/v2/export/PAS_vSphere_NSX-T.png).

<%= vars.app_runtime_abbr %> deployments with NSX-T are deployed with three clusters and three availability zones (AZs).

An NSX-T Tier-0 router is on the front end of the <%= vars.app_runtime_abbr %> deployment. This router is a central logical router into the <%= vars.app_runtime_abbr %> platform. You can configure static or dynamic routing using BGP from the routed IP address backbone through the Tier-0 router with the edge gateway.

Several Tier-1 routers, such as the router for the <%= vars.app_runtime_abbr %> and infrastructure subnets, connect to the Tier-0 router.

### <a id='pas-nsx-t-pas'></a> NSX-T Container Plugin requirement

<%= vars.app_runtime_abbr %> deployments require the VMware NSX-T Container Plugin to enable the SDN features available through NSX-T.

The NSX-T Container Plugin enables a container networking stack and integrates with NSX-T.

<p> To use NSX-T with <%= vars.app_runtime_abbr %>, the NSX-T Container Plug-in must be installed, configured, and deployed at the same time as the <%= vars.app_runtime_abbr %> tile. To download the NSX-T Container Plug-in, go
to the <a href="https://network.pivotal.io/products/vmware-nsx-t">VMware NSX-T Container Plug-in</a> page on <%= vars.product_network %>.</p>

### <a id='pas-nsx-t-networking'></a> Networking

These sections describe networking requirements and recommendations for <%= vars.app_runtime_abbr %> on AVS with NSX-T deployments.

#### <a id='pas-nsx-t-routable-ip'></a> Routable IPs

The Tier-0 router must have routable external IP address space to advertise on the BGP network with its peers. Select a network range for the Tier-0 router with enough space so that you can separate the network into these two jobs:

* Routing incoming and outgoing traffic
* DNATs and SNATs, load balancer VIPs, and other platform components

<p class='note'><strong>Note:</strong> Compared to NSX-V, NSX-T consumes much more address space for SNATs.</p>

#### <a id='pas-nsx-t-firewall'></a> Firewall

<%= partial '../../common/vsphere-firewall-ports' %>

#### <a id='pas-nsx-t-dns'></a> DNS

<%= vars.app_runtime_abbr %> requires a system domain, app domain, and several wildcard domains.

For more information about DNS requirements for <%= vars.app_runtime_abbr %>, see [Domain Names](../index.html#pas-domains) in _Platform Planning and Architecture_.

#### <a id='pas-nsx-t-load-balancing'></a> Load balancing

The load balancing requirements and recommendations for <%= vars.app_runtime_abbr %> on AVS with NSX-T deployments are:

* You must configure NSX-T load balancers for the GoRouters.
  * The domains for the <%= vars.app_runtime_abbr %> system and apps must resolve to the load balancer VIP.
  * You must assign either a private or a public IP address assigned to the domains for the <%= vars.app_runtime_abbr %> system and apps.

* <%= vars.company_name %> recommends that you configure Layer 4 NSX-V load balancers for the GoRouters. With Layer 4 load balancers, traffic passes through the load balancers and SSL is terminated at the Gorouters. This approach reduces overhead processing.

    <p> You can use Layer 7 load balancers and terminate SSL at the load balancers. However, <%= vars.company_name %> discourages this approach because it adds additional overhead processing.</p>

* Any TCP GoRouters and SSH Proxies within the platform also require NSX-T load balancers.

* Layer 4 and Layer 7 NSX-T load balancers are created automatically during app deployment.

#### <a id='pas-nsx-t-networking-subnets-ip'></a> Networking, subnets, and IP address spacing

The requirements and recommendations related to networks, subnets, and IP address spacing for <%= vars.app_runtime_abbr %> on AVS with NSX-T deployments are:

* <%= vars.app_runtime_abbr %> requires statically-defined networks to host its component VMs.

* The client side of an NSX-T deployment uses a series of non-routable address blocks when using DNAT/SNAT at the Tier-0 interface.

* The reference architecture for <%= vars.app_runtime_abbr %> on AVS with NSX-T deployments uses a pattern in which all networks are calculated on the `/24` 8-bit network boundary. The network octet is numerically sequential.

* NSX-T dynamically assigns <%= vars.app_runtime_abbr %> org networks and adds a Tier-1 router. These org networks are automatically instantiated based on a non-overlapping block of address space. You can configure the block of address space in the **NCP Configuration** section of the NSX-T tile in <%= vars.ops_manager %>. The default is `/24`. This means that every org in <%= vars.app_runtime_abbr %> is assigned a new `/24` network.

For more information about <%= vars.app_runtime_abbr %> subnets, see [Required Subnets](../index.html#pas-network) in _Platform Architecture and Planning Overview_.

### <a id='pas-nsx-t-ha'></a> High availability

AVS deploys a NSX-T with Active/Active HA.

For information about high availability (HA) requirements and recommendations for <%= vars.app_runtime_abbr %> on AVS, see [High Availability](../index.html#pas-ha) in _Platform Architecture and Planning Overview_.

### <a id='pas-nsx-t-shared-storage'></a> Shared storage

<%= vars.app_runtime_abbr %> requires shared storage.  By default, AVS deploys with vSAN configured.

For information about storage on AVS, see [Hosts](https://docs.microsoft.com/en-us/azure/azure-vmware/concepts-private-clouds-clusters#hosts) in the Microsoft AVS documentation.

### <a id='pas-nsx-t-sql'></a> SQL Server

An internal MySQL database is sufficient for use in production environments.

However, an external database provides more control over database management for large environments that require multiple data centers.

For information about configuring system databases on <%= vars.app_runtime_abbr %>, see the [<%= vars.app_runtime_abbr %>
documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/configure-pas.html#sys-db).

### <a id='pas-nsx-t-securty'></a> Security

For information about security requirements and recommendations for <%= vars.app_runtime_abbr %> deployments, see [Security](../index.html#pas-security) in _Platform Architecture and Planning Overview_.

### <a id='pas-nsx-t-blobstore'></a> Blobstore storage

Use Azure Blob Storage as the external file storage option for <%= vars.ops_manager %>. This provides redundancy for
high-availability deployments of <%= vars.ops_manager %> and unlimited scaling. Azure Blob Storage provides
fully-redundant hot, cold, or archival storage in either local, regional, or global offerings.

<%= vars.ops_manager %> requires a bucket for the BOSH blobstore.

<%= vars.app_runtime_abbr %> requires the following buckets:

* Buildpacks

* Droplets

* Packages

* Resources

These buckets require an associated role for read/write access.

### <a id='pas-hcx-migration'></a> HCX migrations

HCX Migration of <%= vars.ops_manager %> and any runtime products,
including <%= vars.app_runtime_abbr %>, on AVS is not supported at this time.
