---
title: Security Guidelines for Your IaaS Provider
owner: Security
---

This topic provides security guidelines for the Infrastructure as a Service (IaaS) providers supported by <%= vars.ops_manager_first %>.


## <a id='overview'></a> Overview on Security for IaaS Provider

<%= vars.ops_manager %> supports a variety of IaaS providers. Different IaaS providers require different configuration steps to secure user data, identity information, and credentials.

Security requirements can vary broadly based on the unique configuration and infrastructure of each organization. Rather than provide specific guidance that might not apply to all use cases, <%= vars.company_name %> has collected links to IaaS providers' security and identity management documentation. The following documents can help you understand how your IaaS' security requirements impact your <%= vars.ops_manager %> deployment.

<%= vars.company_name %> does not endorse these documents for accuracy or guarantee that their contents apply to all <%= vars.ops_manager %> installations.

Find your IaaS provider in the following list. The documentation items linked for each IaaS can help you configure and secure your installation infrastructure.


## <a id='aws'></a> Amazon Web Services (AWS)

These topics in the AWS documentation provide a general reference for AWS' Identity and Access Management (IAM) features:

* [AWS Identity and Access Management Guide](http://docs.aws.amazon.com/IAM/latest/UserGuide/introduction.html): If you are new to AWS, start here.

* [Identities (Users, Groups, and Roles)](http://docs.aws.amazon.com/IAM/latest/UserGuide/id.html) in the AWS Identity and Access Management Guide

* [Temporary Security Credentials](http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html) in the AWS Identity and Access Management Guide: This documentation provides a general definition of IAM terms and provide best practices to help you manage IaaS users and permissions.

* [Use IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html): This documentation provides a description of IMDSv2 and the security benefits it provides for the AWS metadata endpoints. IMDSv2 support must be enabled within <%= vars.ops_manager %>.

### <a id='aws-imds-v2'></a> Enable IMDSv2 in <%= vars.ops_manager %>

<%= vars.ops_manager %> v2.10.23 and later includes a feature that allows you to require the usage of IMDSv2. This security feature requires users to send a signed token header with any request to the instance metadata endpoint provided on AWS VMs. By default, IMDSv2 is not required when using the AWS metadata endpoint on a BOSH-deployed VM. You can configure <%= vars.ops_manager %> to require IMDSv2 using the <%= vars.ops_manager %> API. After enabling IMDSv2, you must re-create all VMs for the new configuration to take effect.

<%= vars.app_runtime_first %> v2.13.0 and later are compatible with IMDSv2. For all versions of <%= vars.k8s_runtime_first %>, it might be necessary to set the hop limit using the `metadata_options` key. For more information, see [VM Types / VM Extensions](https://bosh.io/docs/aws-cpi/#resource-pools) in the BOSH documentation.

<div class="note caution"><strong>Caution:</strong> All tiles and service instances must be using stemcell Xenial v621.183 or later in order to require IMDSv2. Requiring IMDSv2 while using an older stemcell causes Apply Changes to fail due to an unresponsive BOSH agent.</div>

To require IMDSv2 on all BOSH-deployed VMs:

1. Ensure all tiles are using stemcell Xenial v621.183 or later.

1. Use the <%= vars.ops_manager %> API to set the `require_imds_v2` property to `true`. See [Updating a staged director's properties API endpoint](https://docs.pivotal.io/ops-manager/2-10/api/#tag/Properties/paths/~1api~1v0~1staged~1director~1properties/put).

1. Go to the <%= vars.ops_manager %> Installation Dashboard.

1. Configure the BOSH Director to recreate VMs:
    1. Go to the <%= vars.ops_manager %> Installation Dashboard.

    1. Click the **BOSH Director** tile.

    1. Select **Director Config**.

    1. Enable the **Recreate VMs deployed by the BOSH Director** check box.

    1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. If you have service tiles installed, for each service tile:
    <p class='note'><strong>Note:</strong> The names of the <strong>Upgrade all service instances</strong> and <strong>Recreate all service instances</strong> errands might be slightly different between services.</p>
    1. Click the tile.
    1. Click the **Errands** tab.
    1. Enable the **Upgrade all service instances** errand. Running this errand is necessary to push CredHub certificate updates to each service instance.
    1. If the service tile has the **Recreate all service instances** errand:
        1. Enable the **Recreate all service instances** errand. Running this errand pushes BOSH Agent certificate updates to service instances.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.

## <a id='gcp'></a> Google Cloud Platform (GCP)

This topic in the GCP documentation describes general authentication guidelines for GCP:

* [Authentication overview](https://cloud.google.com/docs/authentication).


## <a id='azure'></a> Microsoft Azure

This topic in the Microsoft Azure documentation describes managing IaaS users and credentials:

* [Azure documentation](https://docs.microsoft.com/en-us/azure/#pivot=services&panel=security).


## <a id='openstack'></a> OpenStack

These topics in the OpenStack documentation provide a general reference for OpenStack service credential management:

* [Creating the service credentials](http://docs.openstack.org/project-install-guide/ec2-api/draft/credentials-creation.html).

* [Configuring service credentials](http://docs.openstack.org/project-deploy-guide/openstack-ansible/newton/configure.html#configuring-service-credentials) in _Configure the deployment_

* [Configure the deployment](http://docs.openstack.org/project-deploy-guide/openstack-ansible/newton/configure.html).



## <a id='vsphere'></a> VMware vSphere

This topic in the VMware vSphere documentation describes best practices for securing and managing a vSphere installation:

* [vSphere Security guide (PDF)](http://pubs.vmware.com/vsphere-65/topic/com.vmware.ICbase/PDF/vsphere-esxi-vcenter-server-65-security-guide.pdf).
