1. For **CredHub Encryption Provider**, you can choose whether BOSH CredHub stores its encryption key internally on the BOSH Director and CredHub VM, or in an external hardware security module (HSM). The HSM option is more secure.

    Before configuring an HSM encryption provider in the **Director Config** pane,
    you must follow the procedures and collect information described
in [Preparing CredHub HSMs for configuration](../install/hsm-config.html).

    <p> After you deploy <%= vars.ops_manager %> with an HSM encryption provider, you cannot change BOSH CredHub to store encryption keys internally.</p>

    ![alt-text=""](../common/images/credhub-hsm.png)

    * **Internal:** Use this option for internal CredHub key storage. This option is selected by default and requires no additional configuration.
    * **Luna HSM:** Use this option to use a SafeNet Luna HSM as your permanent CredHub encryption provider, and fill in the following fields:

        <p> If you use multiple HSM hosts, you must use the <%= vars.ops_manager %> API to set or update the HSM configuration. For more information, see <a href="https://docs.pivotal.io/platform/opsman-api/#updating-director-and-iaas-properties-experimental">Updating director and Iaas properties (Experimental)</a> in the <%= vars.ops_manager %> API documentation.</p>

        1. **Encryption Key Name**: Any name to identify the key that the HSM uses to encrypt and decrypt the CredHub data. Changing this key name after you deploy <%= vars.ops_manager %> can cause service downtime.
        2. **Provider Partition**: The partition that stores your encryption key. Changing this partition after you deploy <%= vars.ops_manager %> could cause service downtime.
        For this value and the ones that follow, use values gathered in [Preparing CredHub HSMs for configuration](../install/hsm-config.html).
        3. **Provider Partition Password**
        4. **Partition Serial Number**
        5. **Provider Client Certificate**: The certificate that validates the identity of the HSM when CredHub connects as a client.
        6. **Provider Client Certificate Private Key**
        7. **HSM Host Address**
        8. **HSM Port Address**: If you do not know your port address, enter `1792`.
        9. **HSM Certificate**: The certificate that the HSM presents to CredHub to establish a two-way mTLS connection.
