<%# This Security Pane partial is conditionalized between the "Setting Trusted Certificates"
topic (trusted-certificates.html) and IaaS-specific Ops Manager configuration topics. %>

<% if current_page.data.title == "Setting Trusted Certificates" %>
1. Navigate to the BOSH Director tile from the <%= vars.ops_manager %> Installation Dashboard.
<% end %>

1. Click **Security**.
    <% if current_page.data.title == "Setting Trusted Certificates" %>
    <% else %>
    ![Trusted certificates](/docs-ops-manager/common/images/om-security.png)
    <% end %>

2. In **Trusted Certificates**, enter your custom certificate authority (CA) certificates to insert into your organization's certificate trust chain. This feature enables all BOSH-deployed components in your deployment to trust custom root certificates.

    To enter multiple certificates, paste your certificates one after the other. For example, format your certificates like the example below:

    <pre class="terminal">
    -----BEGIN CERTIFICATE-----
    ABCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678AB
    EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
    GH12345678ABCDEFGH12345678ABCDEFGH12345678...
    ------END CERTIFICATE------
    -----BEGIN CERTIFICATE-----
    BCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABB
    EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
    GH12345678ABCDEFGH12345678ABCDEFGH12345678...
    ------END CERTIFICATE------
    -----BEGIN CERTIFICATE-----
    CDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABBB
    EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
    GH12345678ABCDEFGH12345678ABCDEFGH12345678...
    ------END CERTIFICATE------
    </pre>

    <p> If you want to use Docker registries to run <%= vars.app_runtime_abbr %> app instances in Docker containers, enter the certificate for your private Docker registry in this text box. For more information about running app instances in <%= vars.app_runtime_abbr %> using Docker registries, see <a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/docker-registry.html">Using Docker Registries</a>.</p>

1. To include the <%= vars.ops_manager %> root CA in the **Trusted Certificates** text box, select the **Include Tanzu Ops Manager Root CA in Trusted Certs** check box. BOSH Director includes this CA in the trust store of every VM that it deploys.
  <p> If you are using <%= vars.ops_manager %> to generate certificates for either a load balancer or router, then you must select this check box.</p>

1. To clear the default trusted certificates from all BOSH-deployed Linux VMs, select the **Clear the Default Trusted Certificates Store** checkbox. You must provide your own trusted certificates when selecting this checkbox as all TLS communication fails without trusted certificates available.

    <p> This option is available in Ops Manager v2.10.21 and higher.</p>

<% if current_page.data.title == "Setting Trusted Certificates" %>
1. Click **Save**.
<% else %>
1. Choose **Generate passwords** or **Use default BOSH password**. <%= vars.company_name %> recommends that you use the **Generate passwords** option for greater security.

1. Click **Save**. To view your saved BOSH Director password, click the **Credentials** tab.
<% end %>
