---
breadcrumb: Tanzu Operationss Manager Documentation
title: Deploying BOSH Add-ons with Tanzu Operations Manager
owner: PCF Documentation
---

This topic explains how you can deploy BOSH Add-ons, which are optional platform extensions deployed
with BOSH rather than installed as <%= vars.ops_manager_first %> tiles.

<%= vars.company_name %> recommends installing BOSH Add-ons immediately after you deploy BOSH
and <%= vars.ops_manager %>, and before you use <%= vars.ops_manager %> to add tiles to the platform.

BOSH Add-ons from <%= vars.company_name %> include [IPsec](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/index.html), [ClamAV](https://docs.vmware.com/en/Anti-Virus-for-VMware-Tanzu/2.3/anti-virus/GUID-index.html), and [File Integrity Monitoring](https://docs.vmware.com/en/File-Integrity-Monitoring-for-VMware-Tanzu/2.1/fim/GUID-index.html), which enhance <%= vars.app_runtime_first %> platform security and security logging.

[Open-source BOSH Add-ons](https://bosh.io/docs/addons-common.html) include a syslog forwarder, a custom SSH login banner, and a tool for adding SSH users.

For an overview of the BOSH deployment process, see [Deploying software with BOSH](deploy-bosh-om.html#bosh in _Deploying BOSH and <%= vars.ops_manager %>_).

## <a id='contents'></a> Available Add-ons

* [IPsec](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/index.html): Secures data transmissions inside <%= vars.app_runtime_abbr %> following IPSec standards.

* [Anti-Virus](https://docs.vmware.com/en/Anti-Virus-for-VMware-Tanzu/2.3/anti-virus/GUID-index.html): Logs <%= vars.app_runtime_abbr %> internal antivirus protection activity, to demonstrate to auditors that it complies with industry standards and government regulations.

* [File Integrity Monitoring](https://docs.vmware.com/en/File-Integrity-Monitoring-for-VMware-Tanzu/2.1/fim/GUID-index.html) (FIM): Logs <%= vars.app_runtime_abbr %> internal file integrity monitoring activity, to demonstrate to auditors that it complies with industry standards and government regulations.
