---
title: Retrieving credentials from your Ops Manager deployment
owner: Ops Manager
---

This topic describes how your <%= vars.ops_manager_first %> deployment stores its credentials, and how you can access them.

* **What credentials does <%= vars.ops_manager %> store?**
	* Many <%= vars.ops_manager %> components use credentials to authenticate connections, and <%= vars.ops_manager %> installations often have hundreds of active credentials. This includes certificates, virtual machine (VM) credentials, and credentials for jobs running on the VMs.
* **Where does <%= vars.ops_manager %> store these credentials?**
	* <%= vars.ops_manager %> stores credentials in either the <%= vars.ops_manager %> database
          or [BOSH CredHub](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/credhub-index.html#bosh).
* **When do I need to access these credentials?**
	* You may need to access credentials for <%= vars.ops_manager %>, <%= vars.app_runtime_abbr %>, and service tiles as part of regular administrative tasks in <%= vars.ops_manager %>, including troubleshooting. Many procedures in this documentation require you to retrieve credentials.
* **How can I retrieve credentials?**
	*  The workflow for retrieving credentials depends on where they are stored. For more information, see the following procedures.

## <a id='credhub'></a> Retrieve credentials stored in BOSH CredHub

To retrieve credentials from CredHub using the <%= vars.ops_manager %> API:

1. Follow the procedures in [Using the <%= vars.ops_manager %> API](ops-man-api.html) to authenticate and access the <%= vars.ops_manager %> API.

1. Use the <%= vars.ops_manager %> API to retrieve a list of deployed products:

    ```console
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/products" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```

    Where `UAA-ACCESS-TOKEN` is the access token recorded in the previous step.

1. In the response to the preceding request, locate the `guid` for the product from which you want to retrieve credentials. For example, if you want to retrieve <%= vars.app_runtime_abbr %> credentials, find the `installation_name` starting with `cf-` and copy its `guid`.

1. Run the following `curl` command to list the names of the credentials stored in CredHub for the product you selected. If you already know the name of the credential, you can skip this step.

    ```console
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/products/PRODUCT-GUID/variables" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```

    Where `PRODUCT-GUID` is the value of `guid` from the previous step.

2. Run the following command to view the credential:

    ```console
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/products/PRODUCT-GUID/variables?name=VARIABLE-NAME" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```

    Where `VARIABLE-NAME` is the name of the credential you want to retrieve.

## <a id='opsman'></a> Retrieve credentials stored in the <%= vars.ops_manager %> database

To retrieve credentials stored in the <%= vars.ops_manager %> database and not CredHub, use the <%= vars.ops_manager %> UI or API as outlined in the following procedures.

### <a id='ui'></a> Retrieve credentials using the <%= vars.ops_manager %> UI

1. From <%= vars.ops_manager %>, select the product tile for which you want to retrieve credentials.

1. Click the **Credentials** tab.

1. Locate the credential that you need and click **Link to Credential**.

### <a id='api'></a> Retrieve credentials using the <%= vars.ops_manager %> API

1. Follow the procedures in [Using the <%= vars.ops_manager %> API](ops-man-api.html) to authenticate and access the <%= vars.ops_manager %> API.

1. Use the <%= vars.ops_manager %> API to retrieve a list of deployed products:

    ```console
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/products" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```

    Where `UAA-ACCESS-TOKEN` is the access token recorded in the previous step.

1. In the response to the preceding request, locate the `guid` for the product from which you want to retrieve credentials. For example, if you want to retrieve <%= vars.app_runtime_abbr %> credentials, find the `installation_name` starting with `cf-` and copy its `guid`.

1. Run the following command to list references for the credentials stored in <%= vars.ops_manager %> for the product you selected. If you already know the reference for the credential, you can skip this step.

    ```console
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/products/PRODUCT-GUID/credentials" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```

    Where `PRODUCT-GUID` is the value of `guid` from the previous step.

1. Run the following command to view the credential:

    ```console
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/products/PRODUCT-GUID/credentials/CREDENTIAL-REFERENCE" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```

    Where `CREDENTIAL-REFERENCE` is the name of the credential you want to retrieve.

## <a id='rotate'></a> Changing <%= vars.ops_manager %> credentials

### <a id='om-password'></a> <%= vars.ops_manager %> password

1. In a web browser, go to `https://OPS-MANAGER-FQDN` and log in, where `OPS-MANAGER-FQDN` is
the Fully Qualified Domain Name of your <%= vars.ops_manager %>.

1. In <%= vars.ops_manager %>, go to **My Account** in the drop-down menu. You can access
this at `https://OPS-MANAGER-FQDN/uaa/profile`.

1. Go to **Change Password**. You can access this at
`https://OPS-MANAGER-FQDN/uaa/change_password`.

1. Enter your current password and a new password.

### <a id='om-passphrase'></a> <%= vars.ops_manager %> decryption passphrase

You must have the existing passphrase to update the decryption passphrase.

1. In a web browser, go to `https://OPS-MANAGER-FQDN` and log in, where `OPS-MANAGER-FQDN` is
the Fully Qualified Domain Name of your <%= vars.ops_manager %>.

1. In <%= vars.ops_manager %>, go to **Settings** in the drop-down menu. You can access
this at `https://OPS-MANAGER-FQDN/encryption_passphrase/edit`.

1. In the `Decryption Passphrase` pane, enter your current decryption passphrase and a new
decryption passphrase.

1. Click **Update**.

### <a id='blobstore'></a> S3 compatible blobstore credentials

If you use an S3 compatible blobstore, you can rotate your blobstore credentials from the
**Director Config** pane of the BOSH Director tile.
After you enter your new credentials and click  **Review Pending Changes**, then click **Apply Changes**,
BOSH recreates the VMs in your deployment to apply the new credentials.

1. In a web browser, go to `https://OPS-MANAGER-FQDN` and log in, where `OPS-MANAGER-FQDN` is
the Fully Qualified Domain Name of your <%= vars.ops_manager %>.

1. In the Installation Dashboard, click the BOSH Director tile.

1. In the **Director Config** pane, select the **Recreate VMs deployed by the BOSH Director**
check box.

1. Under **Blobstore Location**, select **S3 Compatible Blobstore**

1. For **Access Key**, enter a new access key.

1. For **Secret Key**, enter a new secret key.

1. Click **Review Pending Changes**, then **Apply Changes**.

1. Deselect the **Recreate VMs deployed by the BOSH Director** check box.
