---
title: Installing Ops Manager on GCP manually
owner: Ops Manager
---

You can install <%= vars.ops_manager_first %> on GCP manually, with either the <%= vars.app_runtime_first %> or <%= vars.k8s_runtime_first %> runtime.

## <a id='manual-pas'></a> Install with <%= vars.app_runtime_abbr %>

To install manually with <%= vars.app_runtime_abbr %>:

1. Prepare to deploy <%= vars.ops_manager %>. For more information, see [Preparing to Deploy <%= vars.ops_manager %> on GCP](../gcp/prepare-env-manual.html).

1. Deploy <%= vars.ops_manager %>. For more information, see [Deploying <%= vars.ops_manager %> on GCP](../gcp/deploy-manual.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on GCP](../gcp/config-manual.html).

1. (Optional). Configure a shared VPC. For more information, see [(Optional) Configuring a Shared VPC on GCP](gcp-shared-vpc.html).

## <a id='manual-pks'></a> Install with <%= vars.k8s_runtime_abbr %>

To install manually with <%= vars.k8s_runtime_abbr %>:

1. Prepare to deploy <%= vars.ops_manager %>. For more information, see [Preparing to Deploy <%= vars.ops_manager %> on GCP](../gcp/prepare-env-manual.html).

1. Deploy <%= vars.ops_manager %>. For more information, see [Deploying <%= vars.ops_manager %> on GCP](../gcp/deploy-manual.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on GCP](../gcp/config-manual.html).

1. (Optional). Configure a shared VPC. For more information, see [(Optional) Configuring a Shared VPC on GCP](gcp-shared-vpc.html).

## <a id='next'></a> Next steps

After completing the procedures above, configure a runtime.

For information about installing and configuring a runtime, see the following:

* Configure <%= vars.app_runtime_abbr %>. For more information, see [Configuring <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/application-service/operating/configure-pas.html)

* Configure <%= vars.k8s_runtime_abbr %>. For more information, see [Installing <%= vars.k8s_runtime_abbr %> on GCP](https://docs.pivotal.io/tkgi/installing-gcp.html)

* [Installing and Configuring <%= vars.windows_runtime_abbr %>](https://docs.pivotal.io/application-service/windows/installing.html)

* [Installing Small Footprint <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/application-service/operating/small-footprint.html#install)
