---
title: Installation Overview
owner: PCF Documentation
tiles:
- name: Part 1&colon; Plan Your Ops Manager Deployment
  desc: Review the requirements for your IaaS. For more information about planning your deployment, see the following topics.
  links:
  - name: Installing Ops Manager on AWS
    url: ./aws.html
  - name: Installing Ops Manager on Azure
    url: ./azure.html
  - name: Installing Ops Manager on GCP
    url: ./gcp.html
  - name: Installing Ops Manager on OpenStack
    url: ./openstack.html
  - name: Installing Ops Manager on vSphere
    url: ./vsphere.html
- name: Part 2&colon; Deploy Ops Manager
  desc: For more information about deploying by IaaS with Ops Manager, see the following topics.
  links:
  - name: Deploying Ops Manager on AWS
    url: ../aws/deploy-manual.html
  - name: Deploying Ops Manager on Azure
    url: ../azure/deploy-manual.html
  - name: Deploying Ops Manager on GCP
    url: ../openstack/setup.html
  - name: Deploying Ops Manager on OpenStack
    url: ../openstack/setup.html
  - name: Deploying Ops Manager on vSphere
    url: ../vsphere/deploy.html
- name: Part 3&colon; Configure Ops Manager
  desc: For more information about configuring the BOSH Director tile by IaaS, see the following topics.
  links:
  - name: Configuring BOSH Director on AWS
    url: ../aws/config-manual.html
  - name: Configuring BOSH Director on Azure
    url: ../azure/config-manual.html
  - name: Configuring BOSH Director on GCP
    url: ../gcp/config-manual.html
  - name: Configuring BOSH Director on OpenStack
    url: ../openstack/config.html
  - name: Configuring BOSH Director on vSphere
    url: ../vsphere/config.html
- name: Part 4&colon; Install Runtimes
  desc: Install your runtime tiles. For more information about runtimes, see the following documentation sets.
  links:
  - name: VMware Tanzu Application Service for VMs
    url: ../operating/configure-pas.html
  - name: VMware Tanzu Kubernetes Grid Integrated Edition
    url: https://docs.pivotal.io/tkgi/index.html
  - name: Isolation Segment
    url: https://docs.pivotal.io/application-service/operating/installing-pcf-is.html
  - name: VMware Tanzu Application Service for VMs [Windows]
    url: https://docs.pivotal.io/application-service-windows/index.html
  - name: Small Footprint TAS for VMs
    url: https://docs.pivotal.io/application-service/2-11/operating/small-footprint.html
---

This topic provides an overview of how to install and configure <%= vars.ops_manager %> and app runtimes.


## <a id='sequence'></a> Installation Sequence

<%= vars.ops_manager %>, app runtimes, and associated products can run on multiple IaaSes.

Planning and installing <%= vars.ops_manager %> and app runtimes means building layers from the bottom up,
starting with the details of your IaaS and progressing to configurations within the <%= vars.ops_manager %> interface.


The following sections list how to prepare, install, and deploy <%= vars.ops_manager %> by IaaS.

<%= partial "../common/tiles" %>
