---
title: Overview of installing and configuring Tanzu Operations Manager
owner: PCF Documentation
---

This topic gives you an overview of how to install and configure <%= vars.ops_manager_first %> and app runtimes.

The <%= vars.ops_manager %> installation process takes place in the following steps:

- **Prepare Your <%= vars.ops_manager %> Deployment:** To prepare your deployment, you must create the required components within your IaaS, which can include load balancers, blobstores, databases, TCP routers, DNS records, and more.

- **Deploy <%= vars.ops_manager %>:** To deploy <%= vars.ops_manager %>, you must download <%= vars.ops_manager %> from <%= vars.product_network %>, create a VM image, create a VM instance, and configure the VM instance to run <%= vars.ops_manager %>.

- **Configure <%= vars.ops_manager %>:** To configure <%= vars.ops_manager %>, you must log into the <%= vars.ops_manager %> interface and configure settings.

- **Install Runtimes:** To install runtime tiles, you must download the tile from <%= vars.product_network %> and follow that runtime's procedure to configure and deploy the tile.

- **Install Services:** To install service tiles, you must download the tile from <%= vars.product_network %> and follow that service tile's procedure to configure and deploy the tile.

After you successfully install and configure <%= vars.ops_manager %>, you can learn how to run and operate <%= vars.ops_manager %> as an operator. For more information, see [Operating](../opsguide/index.html).

## <a id='sequence'></a> Install <%= vars.ops_manager %>

<%= vars.ops_manager %>, app runtimes, and associated products can run on multiple IaaSes.

Planning and installing <%= vars.ops_manager %> and app runtimes means building layers from the bottom up,
starting with the details of your IaaS and progressing to configurations within the <%= vars.ops_manager %> interface.

The following sections list how to prepare, install, and deploy <%= vars.ops_manager %> by IaaS.

### <a id='install-part-1'></a> Part 1: Prepare your Tanzu Ops Manager deployment

For more information about planning your deployment by IaaS, see the following topics.

- [Preparing to deploy Tanzu Ops Manager on AWS](../aws/prepare-env-manual.html)
- [Preparing to deploy Tanzu Ops Manager on Azure](../azure/prepare-env-manual.html)
- [Preparing to deploy Tanzu Ops Manager on GCP](../gcp/prepare-env-manual.html)
- [Installing Tanzu Ops Manager on OpenStack](./openstack.html)
- [Installing Tanzu Ops Manager on vSphere](./vsphere.html)

### <a id='install-part-2'></a> Part 2: Deploy Tanzu Ops Manager

For more information about deploying by IaaS with Tanzu Ops Manager, see the following topics.

- [Deploying Tanzu Ops Manager on AWS](../aws/deploy-manual.html)
- [Deploying Tanzu Ops Manager on Azure](../azure/deploy-manual.html)
- [Deploying Tanzu Ops Manager on GCP](../gcp/deploy-manual.html)
- [Deploying Tanzu Ops Manager on OpenStack](../openstack/setup.html)
- [Deploying Tanzu Ops Manager on vSphere](../vsphere/deploy.html)

### <a id='install-part-3'></a> Part 3: Configure Tanzu Ops Manager

For more information about configuring the BOSH Director tile by IaaS, see the following topics.

- [Configuring BOSH Director on AWS](../aws/config-manual.html)
- [Configuring BOSH Director on Azure](../azure/config-manual.html)
- [Configuring BOSH Director on GCP](../gcp/config-manual.html)
- [Configuring BOSH Director on OpenStack](../openstack/config.html)
- [Configuring BOSH Director on vSphere](../vsphere/config.html)

### <a id='install-part-4'></a> Part 4: Install runtimes

For more information about runtimes, see the following documentation sets.

- [VMware Tanzu Application Service for VMs](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/configure-pas.html)
- [VMware Tanzu Kubernetes Grid Integrated Edition](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.17/tkgi/GUID-index.html)
- [Isolation Segment](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/installing-pcf-is.html)
- [VMware Tanzu Application Service for VMs [Windows]](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/windows-index.html)
- [Small Footprint TAS for VMs](https://docs.pivotal.io/application-service/operating/small-footprint.html)

### <a id='install-part-5'></a> Part 5: Install services

For more information about various services, see the documentation sets listed on the Tanzu Docs homepage.

- [Runtimes and Add-Ons](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-runtimes.html)
