---
title: Installation Overview
owner: PCF Documentation
---

This topic provides an overview of how to install and configure <%= vars.platform_name %>.


## <a id='sequence'></a> <%= vars.platform_name %> Installation Sequence

<%= vars.platform_name %> is a suite of products that runs on multiple IaaSes. Planning and installing <%= vars.platform_name %> means building layers from the bottom up, starting with the details of your IaaS and ending with "Day 2" configurations that you perform on a installed and running <%= vars.platform_name %> deployment.

- **Prepare Your <%= vars.ops_manager %> Deployment:** To prepare your deployment, you must create the required components within your IaaS, which can include load balancers, blobstores, databases, TCP routers, DNS records, and more.

- **Deploy <%= vars.ops_manager %>:** To deploy <%= vars.ops_manager %>, you must download <%= vars.ops_manager %> from <%= vars.product_network %>, create a VM image, create a VM instance, and configure the VM instance to run <%= vars.ops_manager %>. 

- **Configure <%= vars.ops_manager %>:** To configure <%= vars.ops_manager %>, you must log into the <%= vars.ops_manager %> interface and configure settings.

- **Install Runtimes:** To install runtime tiles, download them from <%= vars.product_network %> and follow that runtime's procedure to configure and deploy the tile.

- **Install Services:** To install service tiles, download them from <%= vars.product_network %> and follow that service tile's procedure to configure and deploy the tile.

After you successfully install and configure <%= vars.ops_manager %>, you can learn about how to run and operate <%= vars.ops_manager %> as an operator. For more information, see [Operator Guide](../opsguide/index.html).

## <a id='sequence'></a> Install <%= vars.ops_manager %>

<%= vars.ops_manager %>, app runtimes, and associated products can run on multiple IaaSes.

Planning and installing <%= vars.ops_manager %> and app runtimes means building layers from the bottom up,
starting with the details of your IaaS and progressing to configurations within the <%= vars.ops_manager %> interface.


The following sections list how to prepare, install, and deploy <%= vars.ops_manager %> by IaaS.

<%= partial "../common/tiles" %>
