---
title: Tanzu Operations Manager fields that lock on deploy
owner: OpsManager
---

This topic describes how locked fields work in <%= vars.ops_manager_first %>, and lists the unlockable and permanently locked fields in installation tiles.

## <a id='overview'></a> Types of configurable fields in <%= vars.ops_manager %>

Some fields in <%= vars.ops_manager %> lock during deployment. After deployment, you can no longer configure a locked field through the <%= vars.ops_manager %> UI or API endpoints. Product tile authors configure fields as locked to prevent irrevocable VM malfunction, deployment corruption, and data loss. Most users do not need to edit locked fields after initial deployment.

Because deployment requirements might evolve in unanticipated ways over time, some locked fields are _unlockable_, which means that an advanced <%= vars.ops_manager %> operator can unlock them to allow reconfiguration. Other fields are _permanently locked_, and their values cannot be changed. Unlocking the unlockable fields requires you to use <%= vars.ops_manager %>'s Advanced Mode. For more information about Advanced Mode, see [Unlockable Fields](#unlock).

In summary, there are three types of configurable fields in <%= vars.ops_manager %>:

* **Standard**, which can be reconfigured after deployment as many times as you need.

* **Unlockable**, which lock on deployment but can be unlocked and configured with Advanced Mode.

* **Permanently locked**, which lock on deployment and cannot be unlocked.

<p class="note important">
<span class="note__title">Important</span>
<%= vars.company_name %> recommends that only skilled operators
use <%= vars.ops_manager %>'s Advanced Mode. If you use Advanced Mode incorrectly, you can
deactivate or destroy your deployment.
</p>

## <a id='unlock'></a> Unlockable fields

This section describes the fields that lock during deployment and can be unlocked and configured after deployment. To unlock these fields, you must use <%= vars.ops_manager %>'s Advanced Mode. For more information, see [How to enable Advanced Mode in Tanzu Operations Manager](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager) in the VMware Tanzu Knowledge Base.

After you have enabled Advanced Mode, you can use the API or <%= vars.ops_manager %> UI to reconfigure some fields that were locked previously. Those fields are listed in the following sections.

<p class="note important">
<span class="note__title">Important</span>
<%= vars.company_name %> recommends that only skilled operators use
<%= vars.ops_manager %>'s Advanced Mode. If you use Advanced Mode incorrectly, you can deactivate or destroy
your deployment.
</p>


### <a id='director-tile'></a> Unlockable fields in the BOSH Director tile

In the **Director Config** pane, you can unlock the following fields in Advanced Mode after deployment:

* In the **CredHub Encryption Provider** section:
	* Under **Luna HSM:**
		* **HSM Host Address**
		* **HSM Port Address**
		* **Partition Serial Number**

* In the **Blobstore Location** section:
	* **Blobstore Location**
	* Under **S3 Compatible Blobstore:**
		* **S3 Endpoint**
		* **Bucket Name**

* In the **Database Location** section:
	* Under **External MySQL Database:**
		* **Host**
		* **Port**
		* **Database**

In the **Assign AZs and Networks** pane, you can unlock the following fields after deployment:

* The **Singleton Availability Zone** drop-down menu

### <a id='product-tiles'></a> Unlockable fields in product tiles

Product tiles also have unlockable fields.

In the **Assign AZs and Networks** pane, you can unlock the following fields after deployment:

* **Place singleton jobs in**
* **Balance other jobs**

## <a id='locked-permanently'></a> Permanently locked fields

This section describes the fields that lock during deployment and cannot be unlocked even in Advanced Mode. These fields cannot be updated after deployment, either through the <%= vars.ops_manager %> UI or through API endpoints.

### <a id='director-tile-locked'></a> Permanently locked fields in the BOSH Director tile

In the **Director Config** pane, the following fields lock permanently after deployment:

* In the **CredHub Encryption Provider** section:
	* **CredHub Encryption Provider**
	* Under **Luna HSM:**
		* **Encryption Key Name**
		* **Provider Partition**
		* **Provider Partition Password**
* **Database Location:** You cannot change the database location after deploying the BOSH Director.

In the **Create Availability Zones** pane, the following field locks permanently after deployment:

* You cannot delete an in-use Availability Zone (AZ).

### <a id='product-tiles-locked'></a> Configurable fields in product tiles

No fields other than the ones previous listed lock in third-party product tiles. However, tile authors can specify which additional fields must lock on deploy by passing the `freeze-on-deploy` flag.

For more information about this flag, see [Common Property Blueprint Attributes](https://docs.vmware.com/en/Tile-Developer-Guide/3.0/tile-dev-guide/property-template-references.html#common-attributes) in _Property and Template References_ in the <%= vars.ops_manager %> Tile Developer Guide.
