---
title: Using the Cisco Nexus 1000v Switch with Tanzu Operations Manager
owner: Ops Manager
---

You can use the Cisco Nexus 1000v Switch with <%= vars.ops_manager_first %>.

Begin by configuring <%= vars.ops_manager %> through Step 4 in [Configuring BOSH Director on vSphere](../vsphere/config.html). Then configure your network according to the following steps.

1. From your [<%= vars.ops_manager %>](https://tanzu.vmware.com/products) <%= vars.ops_manager %> **Installation Dashboard**, click the **BOSH Director** tile.

1. Click **Create Networks**.

1. Click the network name to configure the network settings. The name is **default** if you
have not changed it.

    ![alt-text=""](images/nexus_switch_config_default.png)

1. Find the folder name and port group name for the switch, as you configured them in vCenter. For example,
you might want to use the switch configured on the `beer-apple` port group, in the `drinks dc` folder.

    <p> Folder names can be strings of multiple words separated by spaces, or strings of words separated by other punctuation, including dashes.</p>

1. In the **vSphere Network Name** text box, instead of entering your network name, enter the folder name and port group name for the switch, as you configured them in vCenter. For the example vSphere environment described earlier, you would enter `drinks dc/beer-apple` to use the switch configured on the `beer-apple` port group.

    ![alt-text=""](images/nexus_switch_config.png)

1. Click **Save**.

1. Return to [Configuring BOSH Director on vSphere](../vsphere/config.html#resource-config) to complete the <%= vars.ops_manager %> installation.
