---
title: Advanced Features in Ops Manager
owner: Ops Manager
---

This guide describes advanced features in <%= vars.ops_manager_first %>. Use these features to perform functions in <%= vars.ops_manager %> that are outside of the scope of typical <%= vars.ops_manager %> behavior.

<p class='note caution'><strong>Caution:</strong> Misuse of any advanced feature could disable or destroy deployments.
These features are for advanced operators only. <%= vars.company_name %> recommends contacting <a href="https://tanzu.vmware.com/support">Support</a> before using these features.</p>


## <a id='guide'></a> In This Guide

This guide includes the following topics:

*   [Modifying Your <%= vars.ops_manager %> Installation and Product Template Files](/docs-ops-manager/install/modify-ops-man.html)
*   [Managing <%= vars.ops_manager %> Verifiers](/docs-ops-manager/install/granular-verifier-control.html)
*   [Managing Custom VM Extensions](/docs-ops-manager/install/custom-vm-extensions.html)
*   [<%= vars.ops_manager %> Fields That Lock On Deploy](/docs-ops-manager/install/lock-on-deploy.html)
*   [Overriding Manifest Properties in Advanced Mode](/docs-ops-manager/overriding-properties-advanced.html)
*   [Property and Template References](/docs-ops-manager/install/property-template-references.html)
