---
title: Creating and managing Tanzu Operations Manager user and client accounts
---

You can add and remove <%= vars.ops_manager_first %> users. You can use an administrator <%= vars.ops_manager %> account to create client accounts that you can use for <%= vars.ops_manager %> automation.

<%= vars.ops_manager %> supports multiple user accounts in <%= vars.ops_manager %>. A User Account and Authentication (UAA) module co-located on the <%= vars.ops_manager %> VM manages access permissions to <%= vars.ops_manager %>.

When <%= vars.ops_manager %> boots for the first time, you create an admin user. However, you do not create additional users through the <%= vars.ops_manager %> web interface. If you want to create additional users who can log into <%= vars.ops_manager %>, you must use the UAA API, either through `curl` or the UAA Command Line Client (UAAC).

Users are not the only type of account you can create for <%= vars.ops_manager %>. You can also create client accounts, which connect automation tools and scripts to <%= vars.ops_manager %>. <%= vars.company_name %> recommends using clients to handle automated tasks.

<p> Users that are created this way do not persist if UAA authentication settings change.</p>

Client accounts are not bound to the same authentication protocols as user accounts. A user account that controls automated components can cause those components to fail if the account experiences inconsistent availability due to permission or authentication issues.

You create client accounts after you deploy <%= vars.ops_manager %>, or during configuration for an initial deployment. For more information about adding clients during initial configuration or after deployment, see [Add Pre-Created Client](#pre-created-clients).

## <a id='add-user'></a> Add <%= vars.ops_manager %> users

This section describes how to add or remove users with UAAC. If you do not already have the UAAC installed, run `gem install cf-uaac` on the command line.

<p> You only manage users on the <%= vars.ops_manager %> UAA module if you choose to use Internal Authentication instead of an external Identity Provider when configuring <%= vars.ops_manager %>.</p>

To add <%= vars.ops_manager %> users:

1. Target your <%= vars.ops_manager %> UAA:

    ```console
    uaac target https://YOUR-OPSMANAGER-FQDN/uaa/
    ```

    Where `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.

2. Get your token:

    ```console
    uaac token owner get
    Client ID: opsman
    Client Secret:
    Username: OPSMANAGER-ADMIN-USERNAME
    Password: OPSMANAGER-ADMIN-PASSWORD
    Successfully fetched token via client credentials grant.
    Target https://YOUR-OPSMANAGER-FQDN/uaa/
    ```

    Where:

    * `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.
    * `OPSMANAGER-ADMIN-USERNAME` and `OPSMANAGER-ADMIN-PASSWORD` are the username and password for the <%= vars.ops_manager %> admin user.

    <p> The <code>Client Secret</code> field does not require a value.</p>

3. Add a user.

    ```console
    uaac user add USER-NAME -p USER-PASSWORD --emails USER-EMAIL@EXAMPLE.COM
    ```

    Where:

    * `USER-NAME` is the username of the user you are adding.
    * `USER-PASSWORD` is the password with which this user authenticates.
    * `USER-EMAIL` is the email address associated with this user.

4. (Optional) Set the Role-Based Access Control (RBAC) permissions for your user. For more information, see [Configuring Role-Based Access Control (RBAC) in <%= vars.ops_manager %>](../opsguide/config-rbac.html).

## <a id='remove-user'></a> Remove <%= vars.ops_manager %> users

To remove <%= vars.ops_manager %> users:

1. Target your <%= vars.ops_manager %> UAA:

    ```console
    uaac target https://YOUR-OPSMANAGER-FQDN/uaa/
    ```

1. Get your token:

    ```console
    uaac token owner get
    Client ID: opsman
    Client Secret:
    Username: OPSMANAGER-ADMIN-USERNAME
    Password: OPSMANAGER-ADMIN-PASSWORD
    &nbsp;
    Successfully fetched token via client credentials grant.
    Target https://YOUR-OPSMAN-FQDN/uaa/
    ```

    Where:

    * `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.
    * `OPSMANAGER-ADMIN-USERNAME` and `OPSMANAGER-ADMIN-PASSWORD` are the username and password for the <%= vars.ops_manager %> admin user.

    <p> The <code>Client Secret</code> field does not require a value.</p>

2. Delete a user:

    ```console
    uaac user delete USER-NAME
    ```

    Where `USER-NAME` is the username of the user you wish to delete.

## <a id='clients'></a> Add <%= vars.ops_manager %> client accounts

The following sections describe how to create client accounts for <%= vars.ops_manager %> automation using an admin account.

### <a name='authenticate'></a> Log in to UAAC as an admin

In order to configure a client, you must first log in to UAAC as an admin.

Use one of the following two methods to authenticate to UAAC:

* [Authenticate Using SAML or SSO](#saml)
* [Authenticate Using LDAP](#ldap)

### <a name='saml'></a> Authenticate using SAML or SSO

If you're using SAML or SSO, authenticate to UAAC as an admin before creating a client.

To authenticate to UAAC:

1. Target your UAA server.

    ```console
    uaac target https://YOUR-OPSMANAGER-FQDN/uaa
    ```

    Where `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.

1. Log in as an admin.

    ```
    uaac token sso get
    ```

1. When prompted, type the Client ID and passcode. Leave the client secret blank.

    ```console
    Client ID: opsman
    Client secret:
    Passcode (from http://YOUR-OPSMANAGER-FQDN/uaa/passcode): YOUR-UAA-PASSCODE</pre>
    ```

    Where:

    * `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.
    * `YOUR-UAA-PASSCODE` is the passcode with which you authenticate to UAA.

### <a name='ldap'></a> Authenticate using LDAP

If you're not using SAML or SSO, authenticate to UAAC as an admin before creating a client.

To authenticate to UAAC:

1. Target your UAA server.

    ```console
    uaac target https://YOUR-OPSMANAGER-FQDN/uaa
    ```

    Where `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.

2. Log in as an admin.

    ```console
    uaac token owner get
    ```

1. When prompted, type the Client ID, your username, and your password. Leave the client secret blank.

    ```console
    Client ID: opsman
    Client secret:
    User name:  admin
    Password:  *****
    ```

1. A message appears confirming that UAAC has `Successfully fetched token`.


### <a name='client-create'></a> Create a client

After you authenticate to UAAC, create a client to manage automated components and tasks.

To create a client:

1. Create a client with role-based permissions, an ID, and an authentication secret using UAAC:

    ```console
    uaac client add CLIENT-ID --authorized_grant_types client_credentials --authorities opsman.admin --secret CLIENT-SECRET
    ```

    Where:

    * `CLIENT-ID` is the name of your client.
    * `CLIENT-SECRET` is the secret you use to authenticate to your client.

The `opsman.admin` authority referenced in the previous example grant specific permissions to the client. You can choose which permissions you wish the client to have by assigning a different role.

For more information about <%= vars.ops_manager %> roles and what they do, see [Understanding Roles in <%= vars.ops_manager %>](../opsguide/config-rbac.html#about).

## <a id='pre-created-clients'></a> Add pre-created client

You can add a pre-created client to <%= vars.ops_manager %> using the <%= vars.ops_manager %> API in either of the following ways:

* [Add a Pre-Created Client Before Initial Deployment](#pcc-initial-setup), or
* [Add or Modify a Pre-Created Client for an Existing Deployment ](#pcc-existing-deployment)

### <a id='pcc-initial-setup'></a> Add a pre-created client before initial deployment

This section describes how to add a pre-created client before you deploy <%= vars.ops_manager %> for the first time.

If you do not already have the UAAC installed, run `gem install cf-uaac` on the command line.

To add a pre-created client before you deploy <%= vars.ops_manager %>:

1. Authenticate to and access the <%= vars.ops_manager %> API by following the steps in <a href="./ops-man-api.html">Using the <%= vars.ops_manager %> API</a>.
1. Pass the following command:

    ```console
    POST /api/v0/setup
    ```

    Include any configuration details your deployment requires. For more information about configuring <%= vars.ops_manager %> with the API,
    see the <a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-opsman-users.html">Setting Up with SAML</a> in the <%= vars.ops_manager %> API documentation.

1. In the configuration details, specify this parameter:

    ```console
    "precreated_client_secret": "YOUR-SECRET"
    ```

    Where `YOUR-SECRET` is the authentication secret you use to access the pre-created client.
    <p class="note important">
    <span class="note__title"> Important</span> The authentication secret for
    the pre-created client must be between 1 and 255 ASCII characters.
    </p>

When `precreated_client_secret` is passed, a UAA client is created called `precreated-client`. To use this client, see [Authenticate as the Pre-Created Client](#pcc-login).


### <a id='pcc-existing-deployment'></a> Add or modify a pre-created client for an existing deployment

This section describes how to add a pre-created client after you have already deployed <%= vars.ops_manager %>. You might only have one pre-created client at a time. If you have an existing pre-created client, you might also use this procedure to change its authentication secret.

To add a pre-created client to an <%= vars.ops_manager %> that has already been deployed, or change the secret of an existing pre-created client:

1. Authenticate to and access the <%= vars.ops_manager %> API by following the steps in [Using the <%= vars.ops_manager %> API](ops-man-api.html).
1. Pass the following command:

    ```console
    PUT /api/v0/uaa/precreated_client

    "precreated_client_secret": "NEW-SECRET"
    ```

    Where `NEW-SECRET` is the authentication secret you use to access the pre-created client. This secret must differ from the previous secret you used. The secret cannot be blank.
    <p class="note important">
    <span class="note__title"> Important</span> The authentication secret for
    the pre-created client must be between 1 and 255 ASCII characters.
    </p>

To use this client, see [Authenticate as the pre-created client](#pcc-login).

### <a id='pcc-login'></a> Authenticate as the pre-created client

To authenticate to UAAC as the pre-created client:

1. Target your UAA server.

    ```console
    uaac target https://YOUR-OPSMANAGER-FQDN/uaa
    ```

    Where `YOUR-OPSMANAGER-FQDN` is the fully qualified domain name of your <%= vars.ops_manager %> installation.

1. Log in as a client.

    ```console
    uaac token client get precreated-client -s "PRECREATED-CLIENT-SECRET"
    ```

1. A message appears confirming that UAAC has `Successfully fetched token`.

You have authenticated to UAAC as the pre-created client. Use this client to perform any automation tasks you wish.

For more information about the <%= vars.ops_manager %> API, see [Using the Tanzu Operations Manaager API](ops-man-api.html).
