---
title: Installing Tanzu Operations Manager on Azure
owner: Ops Manager
---

This topic explains how you can manually install <%= vars.ops_manager_first %> on Microsoft Azure.

Complete the following steps:

1. Deploy <%= vars.ops_manager %>. For more information, see [Deploying <%= vars.ops_manager %> on Azure](../azure/deploy-manual.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on Azure](../azure/config-manual.html).

## <a id='next'></a> Next steps

After completing the procedures, configure a runtime.

For information about installing and configuring a runtime, see the following:

* [Configuring <%= vars.app_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/configure-pas.html)

* [Installing <%= vars.k8s_runtime_abbr %> on Azure](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-installing-cli.html)

* [Installing and configuring <%= vars.windows_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/installing.html)

* [Installing Small Footprint <%= vars.app_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/small-footprint.html#install)
