---
title: Tanzu Operations Manager runtimes
owner: PCF Documentation
---

This topic tells you about the runtime environments that you can install on <%= vars.ops_manager_first %>: <%= vars.app_runtime_first %> and <%= vars.k8s_runtime_first %>.

<%= vars.ops_manager %> includes runtime environment options that support apps and containers running on Linux and Windows VMs at different levels of resource usage and isolation. You install your chosen runtime or runtimes using the <%= vars.ops_manager %> Installation Dashboard.

<%= vars.ops_manager %> includes support for the following primary runtime environments:

* [<%= vars.app_runtime_abbr %>)](#tas)

* [<%= vars.k8s_runtime_abbr %>)](#tkgi)


## <a id='tas'></a> <%= vars.app_runtime_abbr %>

<%= vars.app_runtime_abbr %> lets developers develop and manage cloud-native apps and software services running on Linux. <%= vars.app_runtime_abbr %> is based on the open-source Cloud Foundry Application Runtime project.

To install and configure <%= vars.app_runtime_abbr %>, see
the [<%= vars.app_runtime_abbr %> documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/prerequisites.html).

As an alternative to <%= vars.app_runtime_abbr %>, you can install [<%= vars.app_runtime_full %> &#91;Small Footprint&#93; (<%= vars.app_runtime_abbr %> &#91;Small Footprint&#93;)](#small-footprint) to deploy your app using fewer resources.

For more information, see [<%= vars.app_runtime_abbr %> &#91;Small Footprint&#93;](#small-footprint).

After you install the <%= vars.app_runtime_abbr %> runtime tile, you can also install the following runtime tiles that extend the functionality of <%= vars.app_runtime_abbr %>:

* [<%= vars.windows_runtime_first %>](#tasw)

* [<%= vars.segment_runtime_full %>](#ist)

### <a id='small-footprint'></a> <%= vars.app_runtime_abbr %> &#91;Small Footprint&#93;

<%= vars.app_runtime_abbr %> &#91;Small Footprint&#93; is an alternative to <%= vars.app_runtime_abbr %> that uses significantly fewer VMs than <%= vars.app_runtime_abbr %>, but limits system capacity and availability.

For more information about <%= vars.app_runtime_abbr %> &#91;Small Footprint&#93;, see the [<%= vars.app_runtime_abbr %> documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/small-footprint.html).

### <a id='tasw'></a> <%= vars.windows_runtime_abbr %>

<%= vars.windows_runtime_first %> lets <%= vars.ops_manager %> host apps on Windows VMs and enables <%= vars.ops_manager %> developers to push .NET apps to these Windows Diego Cells. You must install <%= vars.app_runtime_abbr %> before you can install <%= vars.windows_runtime_abbr %>.

For more information about <%= vars.windows_runtime_abbr %>, see the [<%= vars.windows_runtime_abbr %>
documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/windows-index.html).

### <a id='ist'></a> <%= vars.segment_runtime_full %>

<%= vars.segment_runtime_full %> extends <%= vars.app_runtime_abbr %> to run apps in separate segments with their own isolated computing, routing, and logging resource pools. Operators replicate and configure an <%= vars.segment_runtime_full %> tile for each new resource pool they want to create. You must install <%= vars.app_runtime_abbr %> before you can install <%= vars.segment_runtime_full %>.

To install <%= vars.segment_runtime_full %>, see the [<%= vars.app_runtime_abbr %>
documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/installing-pcf-is.html).

## <a id='tkgi'></a> <%= vars.k8s_runtime_abbr %>

<%= vars.k8s_runtime_abbr %> lets operators provision, operate, and manage enterprise-grade Kubernetes clusters on <%= vars.ops_manager %>. <%= vars.k8s_runtime_abbr %> is based on the open-source Cloud Foundry Container Runtime project.

To install and configure <%= vars.k8s_runtime_abbr %>, see the [<%= vars.k8s_runtime_abbr %> documentation](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.17/tkgi/GUID-installing.html).
