---
title: Troubleshooting Tanzu Operations Manager for VMware vSphere
owner: Ops Manager
---

You can diagnose and resolve issues that can occur in
<%= vars.ops_manager_first %> deployments on VMware vSphere. For infrastructure-agnostic troubleshooting help,
see [Diagnosing <%= vars.app_runtime_abbr %> deployment problems](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/diagnostics.html).

The following sections list common issues that you might encounter with <%= vars.ops_manager %>
and possible resolutions.

## <a id='vcenter-setting'></a> <%= vars.ops_manager %> installation fails

If you modify the vCenter Statistics Interval Duration setting from its default setting of five
minutes, the <%= vars.ops_manager %> installation might fail at the MicroBOSH deployment stage,
and the logs might contain the following error message:

```
The specified parameter is not correct, interval
```

This failure happens because <%= vars.ops_manager %> expects a default value of five minutes, and
the call to this method fails when the retrieved value does not match the expected default value.

To resolve this issue, launch vCenter, go to **Administration**, then **vCenter Server Settings**, followed by **Statistics**,
and reset the vCenter Statistics Interval Duration setting to five minutes.

## <a id='bosh_install'></a> BOSH automated installation fails

Before you start an <%= vars.app_runtime_first %> deployment, you must
set up and configure a vSphere cluster.

If you enable vSphere DRS (Distributed Resource Scheduler) for the cluster, you must set the
Automation level to **Partially automated** or **Fully automated**.

If you set the Automation level to **Manual**, the BOSH automated installation fails with a
`power_on_vm` error when BOSH attempts to create virtual VMs.

![alt-text="On the New Cluster Wizard, the Automation Level page shows the Partially Automated button selected."](images/troubleshooting/drs_automation_level.png)

## <a id='net-settings'></a> <%= vars.ops_manager %> loses IP address after HA or reboot

<%= vars.ops_manager %> can lose its IP address and use DHCP due to an issue in the open source
version of VMware Tools. For more information to troubleshoot this issue, see
[IP is not Getting Assigned in vSphere after <%= vars.ops_manager %> Restart](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-troubleshooting-vsphere.html)
in the Knowledge Base.

## <a id='net-settings'></a> Cannot connect to the OVF in a browser

If you deployed the OVF file but cannot connect to it in a browser, check that the network settings
you entered in the wizard are correct.

1. Access the <%= vars.ops_manager %> installation VM using the vSphere Console. If your network
settings are configured incorrectly, you cannot SSH into the installation VM.

1. Log in using the private SSH key associated with the public SSH key that you provided when you
imported the <%= vars.ops_manager %> `.ova` in vCenter.

1. Confirm that the network settings are correct by checking that the `ADDRESS`, `NETMASK`,
`GATEWAY`, and `DNS-NAMESERVERS` entries are correct in `/etc/network/interfaces`.

1. If any of the settings are incorrect, run `sudo vi /etc/network/interfaces` and correct the
incorrect entries.

1. In vSphere, go to the **Summary** tab for the VM and confirm that the network name is
correct.

    ![The Summary tab has two sections: General and Resources.](images/troubleshooting/network_settings.png)

1. If the network name is incorrect, right click the VM, select **Edit Settings**, then **Network adapter 1**,
and select the correct network.

1. Reboot the installation VM.

## <a id='communication'></a> Installation fails with failed network connection

If you experience a communication error while installing <%= vars.ops_manager %> or MicroBOSH
Director, check the following:

* <%= partial '../common/vsphere-firewall-ports' %>

* Open port 443. <%= vars.ops_manager %> and MicroBOSH Director VMs require access to vCenter and
all ESX through port 443.

* Allocate more IP addresses. BOSH requires that you allocate a sufficient number of additional
dynamic IP addresses when configuring a reserved IP address range during installation. BOSH uses
these IP addresses during installation to compile and deploy VMs, install
<%= vars.app_runtime_abbr %>, and connect to services. <%= vars.company_name %> recommends that you
allocate at least 36 dynamic IP addresses when deploying <%= vars.ops_manager %> and
<%= vars.app_runtime_abbr %>.

## <a id='database-permissions'></a> Insufficient external database permissions

Upgrade issues can be caused when the external database user used for the network policy database
is given insufficient permissions. To avoid this upgrade issue, ensure that the networkpolicyserver
database user has the `ALL PRIVILEGES` permission.
