---
title: Floating stemcells in Tanzu Operations Manager
owner: Ops Manager
---

This topic explains how floating stemcells work in <%= vars.ops_manager_first %>, and how they affect your <%= vars.ops_manager %> product tile upgrades.

## <a id='purpose'></a> Benefits of floating stemcells

Floating stemcells have the following benefits:

* <%= vars.ops_manager %> can quickly propagate a patched stemcell to all virtual machines in the deployment when a vulnerability is discovered.

* You can do certain deployment-wide updates, such as CVEs, by uploading a new stemcell instead of uploading `.pivotal` files for each tile, which reduces the time spent waiting for files to upload.


## <a id='upgrade-limitations'></a> Stemcell major and minor upgrade limitations

Floating stemcells allow upgrade to the minor versions of stemcells but not the major versions.

For example, a stemcell can float from `1234.56` to `1234.99` but not from `1234.991` to `1235.0`.

## <a id='process'></a> Product tile upgrades

When you upgrade a product tile, <%= vars.ops_manager %> completes the following steps:

1. <%= vars.ops_manager %> checks to see whether a new minor, or patch, version of the stemcell exists.

1. If a minor stemcell is available from the current major line, <%= vars.ops_manager %> installs the
upgraded tile and all compatible product tiles in the deployment on the new stemcell.

## <a id='manage-stemcells'></a> Uploading and managing stemcells

You can upload new stemcells to your product tiles by using the <%= vars.ops_manager %> API or by using the **Stemcell Library** in the <%= vars.ops_manager %> Installation Dashboard. For more information about the Stemcell Library, see [Importing and Managing Stemcells](../opsguide/managing-stemcells.html).
