---
title: Installing Tanzu Operations Manager on vSphere
owner: Ops Manager
iaas: vSphere
---

This guide describes how you can install <%= vars.ops_manager_first %> on vSphere.

If you experience a problem while using the following steps, see
the [<%= vars.app_runtime_abbr %> documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/diagnostics.html) or the _Known Issues_ sections of the following topics:

* [<%= vars.ops_manager %> <%= vars.v_major_version %> Release Notes](../release-notes.html#known-issues)

* [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/runtime-rn.html#known-issues) in the <%= vars.app_runtime_abbr %> documentation

* [<%= vars.segment_runtime_full %> <%= vars.v_major_version %> Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/segment-rn.html#known-issues) in the <%= vars.app_runtime_abbr %> documentation

* [<%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/release-notes.html#known-issues) in the <%= vars.windows_runtime_abbr %> documentation

* [Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-release-notes.html#known-issues) in the <%= vars.k8s_runtime_abbr %> documentation

## <a id='prerequisites'></a> Requirements

This section describes the resource requirements for installing <%= vars.ops_manager %>.

<p>n If you are using the Cisco Nexus 1000v Switch, see the <a href="nexus-switch.html">Using the Cisco Nexus 1000v Switch with <%= vars.ops_manager %></a> for more information.</p>

<p> When you install <%= vars.ops_manager %> on a vSphere environment with multiple ESXi hosts, you must use network-attached or shared storage devices. Local storage devices do not support sharing across multiple ESXi hosts.</p>

### <a id='version'></a> Version requirements

<%= vars.ops_manager %> can be installed on and the BOSH Director tile within <%= vars.ops_manager %> can be configured with the following versions of vSphere:

* vSphere v8.0

* vSphere v7.0

* vSphere v6.7

* vSphere v6.5

The BOSH Director tile within <%= vars.ops_manager %> can optionally be configured with the following versions of NSX-T:

* NSX-T v4.0

* NSX-T v3.1

* NSX-T v3.0

### <a id='runtimes'></a> Resource requirements

You can install <%= vars.ops_manager %> with one of two runtimes. For more information about the requirements for each runtime, see the following:

* **<%= vars.app_runtime_first %>:** [<%= vars.app_runtime_abbr %> on vSphere Requirements](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/pas-vsphere-requirements.html). For information requirements when deploying with NSX-T, see the _Requirements_ section of [Deploying <%= vars.app_runtime_abbr %>
with NSX-T Networking](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/vsphere-nsx-t.html).
* **<%= vars.k8s_runtime_first %>:**
    * **Without NSX-T:** [vSphere Prerequisites and Resource Requirements](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-vsphere-requirements.html)
    * **With NSX-T:** See the _Preparing to Install <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T_ section of [Installing <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T Data Center](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-vsphere-nsxt-index.html).

### <a id='firewall'></a> Firewall port requirements

<%= partial '../common/vsphere-firewall-ports' %>

### <a id='permissions'></a> vSphere service account requirements

<%= vars.ops_manager %> requires read/write permissions to the data center level of the [vSphere Inventory Hierarchy](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-03B36057-B38C-479C-BD78-341CD83A0584.html) to successfully install. <%= vars.company_name %> recommends defining a custom role for the service account that has all privileges for all objects in the data center, including propagating privileges to children.

Because <%= vars.ops_manager %> passes all required credentials through to BOSH, you only need one service account with the required vSphere privileges to complete the installation. Setting up separate service accounts for <%= vars.ops_manager %> and BOSH is not necessary or recommended.

For more information about service account requirements, see the following topics:

* **<%= vars.app_runtime_abbr %>:** [vSphere service account requirements](../vsphere/vsphere-service-account.html)

* **<%= vars.k8s_runtime_abbr %>:** [Create the BOSH/<%= vars.ops_manager %> service account](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-vsphere-prepare-env.html#create-bosh-ops-man) in _Preparing vSphere Before Deploying <%= vars.k8s_runtime_abbr %>_

<p> You can also apply the default <a href="http://pubs.vmware.com/vsphere-51/topic/com.vmware.wssdk.pg.doc/PG_Appx_Privileges_Reference.22.4.html">VMware Administrator System Role</a> to the service account to achieve the appropriate permission level.</p>

### <a id='security'></a> vSphere security documents

The following links contain best practices for securing and managing a vSphere installation:

* [vSphere v6.5 Security Guide (PDF)](https://core.vmware.com/vmware-vsphere-65-security-configuration-guide)

* [vSphere v6.7 Release Notes](https://docs.vmware.com/en/VMware-vSphere/6.7/rn/vsphere-esxi-vcenter-server-67-release-notes.html)

* [vSphere v7.0 Security Guide (PDF)](https://docs.vmware.com/en/VMware-vSphere/7.0/vsphere-esxi-vcenter-server-703-security-guide.pdf)

## <a id='procedure'></a> Installation procedure

This section describes the steps for installing <%= vars.ops_manager %>.

### <a id='install-om'></a> Step 1: Installation <%= vars.ops_manager %>

Complete the following procedures to install <%= vars.ops_manager %> on vSphere:

1. [Deploying <%= vars.ops_manager %> to vSphere](../vsphere/deploy.html)

1. [Configuring BOSH Director on vSphere](../vsphere/config.html)

## <a id='additional'></a> Additional configuration

See the following topics for additional configuration options:

* [vSphere Virtual Disk Types](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/disk-format.html)

* [Using the BOSH Resurrector](resurrector.html)

* [Availability Zones in vSphere](understand-az.html)

## <a id='next'></a> Next steps

After you complete the previous procedures, configure a runtime.

For information about installing and configuring a runtime, see the following:

* **<%= vars.app_runtime_abbr %>:**
    * **Without NSX-T:** [Configuring <%= vars.app_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/configure-pas.html)
    * **With NSX-T:** [Deploying <%= vars.app_runtime_abbr %> with NSX-T Networking](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/vsphere-nsx-t.html)

    <p> You must install the NSX-T tile before you install or Upgrade the <%= vars.app_runtime_abbr %> tile.</p>

* **<%= vars.k8s_runtime_abbr %>:**
    * **Without NSX-T:** [Installing <%= vars.k8s_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-vsphere-index.html)
    * **With NSX-T:** [Installing NSX-T for <%= vars.k8s_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-installing-nsx-t.html)

* [Installing and configuring <%= vars.windows_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/installing.html)

* [Installing Small Footprint <%= vars.app_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Application-Service//tas-for-vms/small-footprint.html)
