---
title: Deploying Tanzu Operations Manager on OpenStack
owner: Ops Manager
---

This guide describes how you can provision the OpenStack infrastructure and where you need to
install <%= vars.ops_manager_first %>. Use this topic when [Installing <%= vars.ops_manager %> on OpenStack](../install/openstack.html).

After you complete this procedure, complete all of the steps in [Configuring BOSH Director on OpenStack](config.html)
and in the [<%= vars.app_runtime_abbr %> documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/prerequisites.html).

<p class="note">
<span class="note__title">Note</span>
This document uses Mirantis OpenStack for images
and examples. The screenshots of your OpenStack vendor configuration interface might be different.
</p>

## <a id='log-in'></a> Step 1: Log in to the OpenStack Horizon dashboard

1. Log in to the OpenStack Horizon dashboard.

    ![OpenStack Dashboard login page](../common/images/openstack/log-in.png)

2. From the **Project** drop-down menu, set the active project by selecting the project where you deploy <%= vars.ops_manager %>.

    ![Select project](../common/images/openstack/project-list.png)

## <a id='security'></a> Step 2: Configure security

<p class="note important">
<span class="note__title">Important</span>
If you are using OpenStack Liberty or Mitaka, do not create the key pair with the
OpenStack Horizon dashboard. Instead make sure that you generate the SSH key pair manually.
For example, use the <code>ssh-keygen</code> command. Then follow this procedure to import
that key pair into OpenStack. This is due to
an <a href="https://bugs.launchpad.net/nova/+bug/1483132">OpenStack bug</a>.
</p>

1. In your OpenStack Horizon dashboard, click **Project**, then **Compute**, followed by **Access & Security**.

2. On the **Access & Security** page, click the **Key Pairs** tab.

3. Click **Import Key Pair**.

4. Enter a **Key Pair Name**.

5. In the **Public Key** text box, enter the contents of your public key.

    ![Import Key Pair pane](../common/images/openstack/import-key-pair.png)

6. Click **Import Key Pair**.

7. In the navigation menu, click **Access & Security** to refresh the page. The new key pair appears in the list.

8. Click the **Security Groups** tab, then click **Create Security Group** and create a group with the following properties:
    * **Name**: `opsmanager`
    * **Description**: `<%= vars.ops_manager %>`

    ![Create Security Group pane](../common/images/openstack/create-security.png)

9.  The **Security Groups** tab contains a table of the Security Groups. Select the check box for the `opsmanager` Security Group row and click **Manage Rules** in the **Actions** column.

    ![Table of Security Groups, with columns Name, Description, and Actions. The Actions column contains a Manage Rules drop-down menu for each security group.](../common/images/openstack/manage-security-rules.png)

10. On the **Access & Security** page, add the ingress access rules for HTTP, HTTPS, and SSH as shown in the following table. The rules with `opsmanager` in the Remote column have restricted access to that particular Security Group.

    Adjust the remote sources as necessary for your own security compliance. <%= vars.company_name %> recommends limiting remote access to <%= vars.ops_manager %> to IP ranges within your organization.

  <table class=“table”>
  <thead>
    <tr>
      <th><strong>Direction</strong></th>
      <th><strong>Ether type</strong></th>
      <th><strong>IP protocol</strong></th>
      <th><strong>Port/port range</strong></th>
      <th><strong>Remote</strong></th>
    </tr>
  </thead>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>22 (SSH)</td>
      <td>0.0.0.0/0 (CIDR)</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>80 (HTTP)</td>
      <td>0.0.0.0/0 (CIDR)</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>443 (HTTPS)</td>
      <td>0.0.0.0/0 (CIDR)</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>4222 (NATS)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>6868 (BOSH Agent)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>8844 (CredHub)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>8853 (BOSH Health Monitor)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>25250 (BOSH Blobstore)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>25555 (BOSH Director)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Ingress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>25777 (BOSH Registry)</td>
      <td>opsmanager</td>
    </tr>
    <tr>
      <td>Egress</td>
      <td>IPv4</td>
      <td>TCP</td>
      <td>1-65535</td>
      <td>0.0.0.0/0 (CIDR)</td>
    </tr>
  </table>

2. Do not change the existing default egress access rules. As shown in the image, the **Egress** rows contain **ETHER TYPE** `IPv4` and `IPv6`, respectively. Both **IP PROTOCOL** and **PORT RANGE** are set to `Any`.

    ![Access & Security table](../common/images/openstack/ingress-egress-rules.png)


## <a id='validate-openstack'></a> Step 3: Run the CF OpenStack Validator tool (optional)

As an optional but recommended step, you can now run the CF OpenStack Validator tool against your OpenStack tenant to verify support for <%= vars.ops_manager %>.

1. Follow the directions for running the [CF OpenStack Validator Tool](https://github.com/cloudfoundry-incubator/cf-openstack-validator).

2. When configuring the CPI version used by the Validator, specify the OpenStack CPI version indicated in the [<%= vars.ops_manager %> Release Notes](../release-notes.html) for the <%= vars.ops_manager %> release that you are planning to deploy.

Troubleshooting the output of the CF OpenStack Validator tool is beyond the scope of this document.

## <a id='create-om-image'></a> Step 4: Create <%= vars.ops_manager %> image

You can create the <%= vars.ops_manager %> image in OpenStack using the OpenStack Horizon dashboard.

<p> If your Horizon Dashboard does not support file uploads, you must use the <a href="https://docs.openstack.org/python-glanceclient/latest/cli/glance.html">Glance CLI</a> client.</p>

To create an <%= vars.ops_manager %> image in OpenStack, complete the following steps:

1. Download the **<%= vars.ops_manager %> for OpenStack** image file from [VMware Tanzu Network](https://network.tanzu.vmware.com).

1. In the navigation menu, of your OpenStack dashboard, click **Project**, then **Compute**, followed by **Images**.

1. Click **Create Image**.

2. Complete the **Create An Image** page with the following information:
    * **Name**: Enter `<%= vars.ops_manager %>`.
    * **Image Source**: Select **Image File**.
    * **Image File**: Click **Choose File**. Browse to and select the image file
      that you downloaded from [VMware Tanzu Network](https://tanzu.vmware.com/products).
    * **Format**: Select **Raw**.
    * **Minimum Disk (GB)**: Enter `80`.
    * **Minimum RAM (MB)**: Enter `8192`.
    * Deselect the **Public** check box.
    * Select the **Protected** check box.

      ![Create an Image pane](../common/images/openstack/create-image.png)

1. Click **Create Image**.


## <a id='launch-om-vm'></a> Step 5: Launch <%= vars.ops_manager %> VM

1. In the navigation menu of your OpenStack dashboard, click **Project**, then **Compute**, followed by **Images**.

1. Select the **Ops Manager** row, and in the **Actions** column, click **Launch**.

    ![Table of images and their attributes](../common/images/openstack/launch-image.png)

1. In the **Details** tab, specify the following values:
    * **Instance Name**: Enter `<%= vars.ops_manager %>`.
    * **Availability Zone**: Use the drop-down menu to select an availability zone. You specify this availability zone in the [Complete the Availability Zones Pages](config.html#az-config) step of [Configuring <%= vars.ops_manager %> Director](config.html).
    * **Count**: Do not change from the default value of **1**.

      ![Launch Instance pane, Details tab](../common/images/openstack/instance-details.png)

1. Click the **Source** tab in the left navigation menu, and specify the following values:
    * **Select Boot Source**: Select **Image**.
    * **Create New Volume**: Leave **No** selected.
    * **Allocated**: Make sure **<%= vars.ops_manager %>** is selected.

      ![Launch Instance pane, Source tab](../common/images/openstack/instance-source.png)

2. Click the **Flavor** tab, and configure the OpenStack VM flavors as follows:
   Do not change the names of the VM flavors.

  <table class=“table”>
    <thead>
    <tr>
      <th><strong>ID</strong></th>
      <th><strong>Name</strong></th>
      <th><strong>Memory_MB</strong></th>
      <th><strong>Disk</strong></th>
      <th><strong>Ephemeral</strong></th>
      <th><strong>VCPUs</strong></th>
    </tr>
    </thead>
      <tr>
      <td>1</td>
      <td>m1.small</td>
      <td>2048</td>
      <td>20</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>m1.medium</td>
      <td>4096</td>
      <td>40</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <td>3</td>
      <td>m1.large</td>
      <td>8192</td>
      <td>80</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <td>4</td>
      <td>m1.xlarge</td>
      <td>16384</td>
      <td>160</td>
      <td>0</td>
      <td>8</td>
    </tr>
  </table>

1. Click the **Networks** tab, and select a private subnet. You need to add a Floating IP to this network in a later step.

    ![Launch Instance pane, Networks tab](../common/images/openstack/instance-networks.png)

2. Skip the **Network Ports** tab.

3. Click the **Security Groups** tab, and click the **opsmanager** security group that you created in [Step 2: Configure security](#security). Deselect all other Security Groups.

    ![Launch Instance pane, Security Groups tab](../common/images/openstack/instance-security-groups.png)

4. Click the **Key Pair** tab, and select the key pair that you imported in [Step 2: Configure security](#security).

    ![Launch Instance pane, Key Pair tab](../common/images/openstack/instance-key-pairs.png)

5. Skip the **Configuration** and **Metadata** tabs.

6. Click the **Launch Instance** button. This starts your new <%= vars.ops_manager %> instance.


## <a id='floating-ip'></a> Step 6: Associate a floating IP address

1. In the navigation of your OpenStack dashboard, click **Project**, then **Compute**, followed by **Instances**. The **Instances** table appears. You see a row with **INSTANCE NAME** <%= vars.ops_manager %>.

1. Wait until the **Power State** of the <%= vars.ops_manager %> instance shows as _Running_.

1. Record the private **IP Address** of the <%= vars.ops_manager %> instance from the row.

    ![Instances table](../common/images/openstack/instance-running.png)

  You must provide this IP Address when you complete [Step 6: Complete the Create Networks page](config.html#create-networks) in <%= vars.ops_manager %>.

1. Select the **<%= vars.ops_manager %>** row by clicking the check box in the left-most column.

2. In the **Actions** column, use the drop-down menu to select **Associate Floating IP**. The **Manage Floating IP Associations** screen appears.

    ![Manage Floating IP Associations pane,showing no associations](../common/images/openstack/floating-ip-create.png)

1. Beside **IP Address**, click the plus button (**+**). The **Allocate Floating IP** screen appears.

2. In the **Pool** drop-down menu, select an IP Pool and click **Allocate IP**.

    ![Allocate Floating IP pane](../common/images/openstack/floating-ip-allocate.png)

1. In the **Port to be associated** drop-down menu, select your **<%= vars.ops_manager %>** instance.

    ![Manage Floating IP Associations pane, with an IP address added](../common/images/openstack/floating-ip-assign.png)

1. Click **Associate**.

## <a id='blob-storage'></a> Step 7: Add Blob storage

1. In the navigation of your OpenStack dashboard, click **Project**, then **Object Store**, followed by **Containers**.

1. Click **Create Container**. Create a container with the following properties:
    * **Container Name**: Enter `pcf`.
    * **Container Access**: Leave the **public** check box unselected.

      ![Create Container](../common/images/openstack/create-container.png)

1. Click **Create**.

## <a id='blobstore-creds'></a> Step 8: Download credentials for S3 Blob storage

1. In the left navigation menu on the OpenStack dashboard, click **Project**, then **Compute**, then **Access & Security**. Click the **API Access** tab.

    ![OpenStack Access & Security pane with table of API endpoints.](../common/images/openstack/download-credentials.png)

1. Click **Download EC2 Credentials**.

2. Unzip the downloaded credentials file.

3. If you select **S3 Compatible Blobstore** in your [BOSH Director Config](config.html#director-config), you need the contents of this file to complete the configuration.


## <a id='dns-entry'></a> Step 9: Create a DNS entry

Create a DNS entry for the floating IP address that you assigned to <%= vars.ops_manager %> in [Step 6: Associate a floating IP address](#floating-ip).

You must use this fully qualified domain name when you log in to <%= vars.ops_manager %> for the first time.


## <a id='configure-ops'></a> Step 10: Configure BOSH Director for OpenStack

After you complete this procedure, then complete all of the steps in the [Configuring BOSH Director on OpenStack](config.html)
and in the [<%= vars.app_runtime_abbr %> documentation](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.dot_major_tas_version %>/tas-for-vms/prerequisites.html).

---

Return to [Installing <%= vars.ops_manager %> on OpenStack](../install/openstack.html).
