---
title: Managing certificates with the Tanzu Operations Manager API
owner: Ops Manager
---

This topic describes how you can use <%= vars.ops_manager_first %> API endpoints to manage and retrieve information about certificates in your <%= vars.ops_manager %> deployment. For more information about the <%= vars.ops_manager %> API endpoints for managing certificates, see the [<%= vars.ops_manager %> API documentation](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/security-pcf-infrastructure-managing-certificates.html).

## <a id='prerequisites'></a> Prerequisites

To use the <%= vars.ops_manager %> API, you must generate an access token by authenticating with the <%= vars.ops_manager %> user account and authentication
(UAA) server.

For more information about authenticating with UAA, see [Using the <%= vars.ops_manager %> API](../../install/ops-man-api.html).


## <a id='generate-rsa-certs'></a> Generate a single RSA certificate

To generate and retrieve a new RSA certificate signed by the root certificate authority (CA):

1. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/certificates/generate" \
          -X POST \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
          -i
    ```
    Where:

    * `OPS-MANAGER-FQDN` is the fully-qualified domain name (FQDN) of your <%= vars.ops_manager %>
    deployment.
    * `UAA-ACCESS-TOKEN` is your <%= vars.ops_manager %> access token without any newline
    characters such as `\n`.


## <a id='root-certs'></a> Retrieve the <%= vars.ops_manager %> root CA

You can view the <%= vars.ops_manager %> root CA as a file or in JSON format.

### <a id='root-certs-file-ui'></a> Retrieve the <%= vars.ops_manager %> root CA as a file through the <%= vars.ops_manager %> UI

To retrieve the <%= vars.ops_manager %> root CA as a file through the <%= vars.ops_manager %>
UI:

1. Go to the <%= vars.ops_manager %> Installation Dashboard.

1. From the account menu drop-down menu, select **Settings**.

1. Click **Advanced Options**.

1. Click **Download Root CA Cert**. Your browser downloads the <%= vars.ops_manager %> root
CA certificate file.

### <a id='root-certs-file'></a> Retrieve the <%= vars.ops_manager %> root CA as a file through the <%= vars.ops_manager %> API

To retrieve the <%= vars.ops_manager %> root CA as a file through the <%= vars.ops_manager %>
API:

1. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/download_root_ca_cert" \
          -X GET \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
          -i
    ```
    Where:

    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your <%= vars.ops_manager %> access token without any newline
    characters such as `\n`.

### <a id='root-certs-json'></a> Retrieve the <%= vars.ops_manager %> root CA in JSON format

To retrieve the <%= vars.ops_manager %> root CA in JSON format:

1. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/security/root_ca_certificate" \
          -X GET \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
          -i
    ```
    Where:

    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your <%= vars.ops_manager %> access token without any newline
    characters such as `\n`.


## <a id='list-rsa-certs'></a> List all RSA certificates

To view metadata from all deployed RSA certificates visible to <%= vars.ops_manager %>, including
the root CA and certificates that <%= vars.ops_manager %> stores in CredHub:

1. Run:

    ```
    curl "https://OPS-MANAGER-FQDN/api/v0/deployed/certificates" \
          -X GET \
          -H "Authorization: Bearer UAA-ACCESS-TOKEN" \
          -i
    ```
    Where:

    * `OPS-MANAGER-FQDN` is the FQDN of your <%= vars.ops_manager %> deployment.
    * `UAA-ACCESS-TOKEN` is your <%= vars.ops_manager %> access token without any newline
    characters such as `\n`.
